/*
 * BASIC TABLES
 */
.table thead th {
    border: 1px solid #222 !important;
    outline: none !important;
}

.table thead th:focus {
    background: #f2f4f8;
}

.table td, .table th {
    border-color: #222;
    border: 1px solid;
}

.table td:focus, .table th:focus {
    background-color: #eceff4;
}

.table tbody tr:first-child td {
    border-top: none;
}

.table.table-hover tbody tr:hover {
    background: #0088ff;
}

.table .thead-inverse th {
    background: #38354a;
}

.table .thead-default th {
    background: #eceff4;
}

.table.table-striped tbody tr:nth-of-type(odd) {
    background: #f2f4f8;
}

.table-inverse thead th {
    border-bottom-color: #514d6a !important;
}

.table-inverse th, .table-inverse td {
    border-top-color: #514d6a !important;
    font-size: 14px;
    font-weight: 400;
}

.table-inverse th, .table-inverse td, .table-inverse thead th {
    background: #2980b9;
}

.table-inverse th:focus, .table-inverse td:focus, .table-inverse thead th:focus {
    background: #2b2838;
}
