﻿@model PHIncentiveApp.Models.EmployeeBaseDetails
@{
    Layout = null;
    ViewBag.Title = "Forgot Password | Incentiwiser";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-us">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title.</title>
    <link rel="alternate" type="application/rss+xml" title="Design Shake RSS" />
    <link rel="pingback" href="http://designshack.co.uk/xmlrpc.php" />
    <link rel="stylesheet" href="~/Content/example.css">
    <link rel="stylesheet" href="~/Content/example.css">
    <link rel="shortcut icon" href="~/Images/32-32.png">
    @Styles.Render("~/Content/style-css")
    @Styles.Render("~/Comman/style-comman")
    <script src="~/Scripts/sketch.js"></script>
    <style>
        @@font-face {
            font-family: 'FreeStyle Script';
            src: url('/Content/fonts/freestyle_script_d_bold-webfont.eot'); /* IE9 Compat Modes */
            src: url('/Content/fonts/freestyle_script_d_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/Content/fonts/Freestyle Script D Bold.woff') format('woff'), /* Modern Browsers */
            url('/Content/fonts/Freestyle Script D Bold.ttf') format('truetype'), /* Safari, Android, iOS */
            url('/Content/fonts/Freestyle Script.svg#svgFontName') format('svg'); /* Legacy iOS */
        }
    </style>
</head>
<body class="theme-default single-page single-page-inverse" style="background-image: url('../../Content/images/lp2.png');background-repeat:no-repeat;background-size:100% 100%">
    <div id="body">
        <!-- Page Content Section-->
        <section class="page-content">

            <div class="page-content-inner" style="background-size: 100% 100%;">

                <!-- Login Page -->
                <!-- Logo On Top-->
                <!-- Logo On Top End -->
                <!-- Form -->

                <div class="single-page-block" style="width:100%;">

                    <div class="col-md-5 col-lg-5 col-md-offset-7 col-lg-offset-7 col-sm-12" style="margin-top:1%">
                        <div class="row text-center"><p class="color-white" style="padding-top: 0;padding-right: 0px;margin-bottom:0px;"><img src="/Images/logo light.png" alt="Clean UI Admin Template" style="width:45%;"></p></div>
                        <div class="row text-center" style="margin-bottom:2%">
                            <span style="font-size:2.5em;margin-left:12%;font-family: Freestyle Script;font-weight: 700;line-height:25px">Discover More...</span>
                        </div>
                        <div class="row">
                            <div class="single-page-block-inner effect-3d-element ">
                                <div class="blur-placeholder"><!-- --></div>
                                <!-- Login Form End -->
                                <div id="login-form" class="single-page-block-form">
                                    <h3 class="text-center">
                                        <i class="icmn-key margin-right-10"></i>
                                        Forgot Password
                                    </h3>
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        // @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        @Html.ValidationSummary("", new { @class = "color-danger" })
                                        @Html.TextBoxFor(m => m.email, new { placeholder = Html.DisplayNameFor(m => m.email), @class = "form-control", @id = "validation-email" })
                                        @Html.ValidationMessageFor(m => m.email, "", new { @class = "" })

                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary width-150" value="Email Me" style="color:white !important;background:none !important" />
                                    </div>
                                    }


                                </div>
                                <!-- Login Form End -->

                            </div>
                            <div class="i18-internationalizationitem section" style="text-align:center;margin-top:2%;color:#01a8fe !important">
                                <p>
                                    <span><br><br><strong>For support and queries email us at</strong> - support@incentiwiser.com</span>
                                </p>
                                <span>© Knowledgeops 2017-2018. All rights reserved.</span>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="single-page-block-footer" style="z-index:10;margin-top:7%">
                    <div class="col-md-6">
                        <div class="row">
                            <a href="#"><img src="~/Content/images/apple store.png" class="img-responsive col-md-3" alt="Cinque Terre"></a>
                            <a href="#"><img src="~/Content/images/play store.png" class="img-responsive col-md-3" alt="Cinque Terre"></a>
                        </div>
                    </div>

                </div>
                <!-- End Login Page -->
                <!-- Form End -->

            </div>
        </section>
    </div>
    @Scripts.Render("~/bundles/jquery-js")
    @Scripts.Render("~/bundles/bootstrap-js")
    @Scripts.Render("~/bundles/javascript-js")
    <script src="~/Scripts/sketch.js"></script>
    <script>
        $(function () {

            // Form Validation
            $('#form-validation').validate({
                submit: {
                    settings: {
                        inputContainer: '.form-group',
                        errorListClass: 'form-control-error',
                        errorClass: 'has-danger'
                    }
                }
            });

            // Show/Hide Password
            $('.password').password({
                eyeClass: '',
                eyeOpenClass: 'icmn-eye',
                eyeCloseClass: 'icmn-eye-blocked'
            });

            // Add class to body for change layout settings
            $('body').addClass('single-page single-page-inverse');

            // Set Background Image for Form Block
            function setImage() {
                var imgUrl = $('.page-content-inner').css('background-image');

                $('.blur-placeholder').css('background-image', imgUrl);
            };

            function changeImgPositon() {
                var width = $(window).width(),
                        height = $(window).height(),
                        left = -(width - $('.single-page-block-inner').outerWidth()) / 2,
                        top = -(height - $('.single-page-block-inner').outerHeight()) / 2;


                $('.blur-placeholder').css({
                    width: width,
                    height: height,
                    left: left,
                    top: top
                });
            };

            setImage();
            changeImgPositon();

            $(window).on('resize', function () {
                changeImgPositon();
            });

            // Mouse Move 3d Effect
            var rotation = function (e) {
                var perX = (e.clientX / $(window).width()) - 0.5;
                var perY = (e.clientY / $(window).height()) - 0.5;
                TweenMax.to(".effect-3d-element", 0.4, { rotationY: 15 * perX, rotationX: 15 * perY, ease: Linear.easeNone, transformPerspective: 1000, transformOrigin: "center" })
            };

            if (!cleanUI.hasTouch) {
                $('body').mousemove(rotation);
            }

        });
    </script>

    </section>
    <!-- Page Content Section End -->

    <div class="main-backdrop"><!-- --></div>
    <script>

        // ----------------------------------------
        // Particle
        // ----------------------------------------

       /* function Particle(x, y, radius) {
            this.init(x, y, radius);
        }

        Particle.prototype = {

            init: function (x, y, radius) {

                this.alive = true;

                this.radius = radius || 5;
                this.wander = 0.8;
                this.theta = random(TWO_PI);
                this.drag = 0.92;
                this.color = '#fff';

                this.x = x || 0.0;
                this.y = y || 0.0;

                this.vx = 0.0;
                this.vy = 0.0;
            },

            move: function () {

                this.x += this.vx;
                this.y += this.vy;

                this.vx *= this.drag;
                this.vy *= this.drag;

                this.theta += random(-0.5, 0.5) * this.wander;
                this.vx += sin(this.theta) * 0.1;
                this.vy += cos(this.theta) * 0.1;

                this.radius *= 0.96;
                this.alive = this.radius > 0.5;
            },

            draw: function (ctx) {

                ctx.beginPath();
                ctx.arc(this.x, this.y, this.radius, 0, TWO_PI);
                ctx.fillStyle = this.color;
                ctx.fill();
            }
        };

        // ----------------------------------------
        // Example
        // ----------------------------------------

       /* var MAX_PARTICLES = 500;
        var COLOURS = ['#00b0f0', '#0070c0', '#ffffff' ];

        var particles = [];
        var pool = [];

        var demo = Sketch.create({
            container: document.getElementById('body'),
            retina: 'auto'
        });

        demo.setup = function () {

            // Set off some initial particles.
            var i, x, y;

            for (i = 0; i < 20; i++) {
                x = (demo.width * 0.5) + random(-100, 100);
                y = (demo.height * 0.5) + random(-100, 100);
                demo.spawn(x, y);
            }
        };

        demo.spawn = function (x, y) {

            var particle, theta, force;

            if (particles.length >= MAX_PARTICLES)
                pool.push(particles.shift());

            particle = pool.length ? pool.pop() : new Particle();
            particle.init(x, y, random(5, 40));

            particle.wander = random(0.5, 2.0);
            particle.color = random(COLOURS);
            particle.drag = random(0.9, 0.99);

            theta = random(TWO_PI);
            force = random(2, 8);

            particle.vx = sin(theta) * force;
            particle.vy = cos(theta) * force;

            particles.push(particle);
        };

        demo.update = function () {

            var i, particle;

            for (i = particles.length - 1; i >= 0; i--) {

                particle = particles[i];

                if (particle.alive) particle.move();
                else pool.push(particles.splice(i, 1)[0]);
            }
        };

        demo.draw = function () {

            demo.globalCompositeOperation = 'lighter';

            for (var i = particles.length - 1; i >= 0; i--) {
                particles[i].draw(demo);
            }
        };

        demo.mousemove = function () {

            var particle, theta, force, touch, max, i, j, n;

            for (i = 0, n = demo.touches.length; i < n; i++) {

                touch = demo.touches[i], max = random(1, 4);
                for (j = 0; j < max; j++) {
                    demo.spawn(touch.x, touch.y);
                }

            }
        };*/

    </script>
</body>

</html>
