﻿@model PHIncentiveApp.Container.EmployeeDetailsDTO
@{
    Layout = null;
    ViewBag.Title = "Password Reset | Incentiwiser";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-us">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title.</title>
    <link rel="alternate" type="application/rss+xml" title="Design Shake RSS" />
    <link rel="pingback" href="http://designshack.co.uk/xmlrpc.php" />
    <link rel="stylesheet" href="~/Content/example.css">
    <link rel="stylesheet" href="~/Content/example.css">
    <link rel="shortcut icon" href="~/Images/32-32.png">
    @Styles.Render("~/Content/style-css")
    @Styles.Render("~/Comman/style-comman")
    <script src="~/Scripts/sketch.js"></script>
   

    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.passwordstrength.min.js"></script>
    <style>
        @@font-face {
            font-family: 'FreeStyle Script';
            src: url('/Content/fonts/freestyle_script_d_bold-webfont.eot'); /* IE9 Compat Modes */
            src: url('/Content/fonts/freestyle_script_d_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/Content/fonts/Freestyle Script D Bold.woff') format('woff'), /* Modern Browsers */
            url('/Content/fonts/Freestyle Script D Bold.ttf') format('truetype'), /* Safari, Android, iOS */
            url('/Content/fonts/Freestyle Script.svg#svgFontName') format('svg'); /* Legacy iOS */
        }
    </style>
</head>
<body class="theme-default single-page single-page-inverse" style="background-image: url('../../Content/images/lp2.png');background-repeat:no-repeat;background-size:100% 100%">
    <div id="body">
        <!-- Page Content Section-->
        <section class="page-content">

            <div class="page-content-inner" style="background-size: 100% 100%;">

                <!-- Login Page -->
                <!-- Logo On Top-->
                <!-- Logo On Top End -->
                <!-- Form -->

                <div class="single-page-block" style="width:100%;">

                    <div class="col-md-5 col-lg-5 col-md-offset-7 col-lg-offset-7 col-sm-12" style="margin-top:1%">
                        <div class="row text-center"><p class="color-white" style="padding-top: 0;padding-right: 0px;margin-bottom:0px;"><img src="/Images/logo light.png" alt="Clean UI Admin Template" style="width:45%;"></p></div>
                        <div class="row text-center" style="margin-bottom:2%">
                            <span style="font-size:2.5em;margin-left:12%;font-family: Freestyle Script;font-weight: 700;line-height:25px">Discover More...</span>
                        </div>
                        <div class="row">
                            <div class="single-page-block-inner effect-3d-element ">
                                <div class="blur-placeholder"><!-- --></div>
                                <!-- Login Form End -->
                                <div id="login-form" class="single-page-block-form">
                                    <h3 class="text-center">
                                        <i class="icmn-key margin-right-10"></i>
                                        Reset Password
                                    </h3>

                                    <h5 class="text-center" style="color:#efefef;">
                                        <i class="icmn-info margin-right-10"></i>
                                        Your password has expired. Please  reset your password
                                    </h5>

                                    @{TempData["value1"] = ViewBag.value1;}
                                    @{TempData["lp"] = ViewBag.lp;}
                                    @{TempData["tl"] = ViewBag.tl;}
                                    @{TempData["nod"] = ViewBag.nod;}

                                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal imgshadow", role = "form" }))
                                    {
                                        // @Html.AntiForgeryToken()


                                        // @pattern = "(?=.*/d)(?=.*[a-z])(?=.*[A-Z]).{8,}"

                                        <div class="form-group">
                                            @Html.ValidationSummary("", new { @class = "color-danger" })
                                            @Html.PasswordFor(m => m.password, new { placeholder = Html.DisplayNameFor(m => m.password), @class = "form-control", @id = "validation-password" })
                                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "" })

                                        </div>

                                        <div class="form-group">
                                            <!--<input type="password" id="confirmPassword" class="form-control" ` placeholder="Confirm Password" ng-model="employeeDetails.newPassword" required compare-to="password" />-->

                                            @Html.PasswordFor(m => m.newPassword, new { placeholder = Html.DisplayNameFor(m => m.newPassword), @class = "form-control", @id = "newPassword" })

                                        </div>
                                        <span id="errorMsg"></span>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary width-150" value="Reset Password" style="color:white !important;background:none !important" />
                                        </div>
                                    }


                                </div>
                                <!-- Login Form End -->

                            </div>

                            <div class="i18-internationalizationitem section" style="text-align:center;margin-top:2%;color:#01a8fe !important">
                                <p>
                                    <span><br><br><strong>For support and queries email us at</strong> - support@incentiwiser.com</span>
                                </p>
                                <span>© Knowledgeops 2017-2018. All rights reserved.</span>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="single-page-block-footer" style="z-index:10;margin-top:7%">
                    <div class="col-md-6">
                        <div class="row">
                            <a href="#"><img src="~/Content/images/apple store.png" class="img-responsive col-md-3" alt="Cinque Terre"></a>
                            <a href="#"><img src="~/Content/images/play store.png" class="img-responsive col-md-3" alt="Cinque Terre"></a>
                        </div>
                    </div>

                </div>
                <!-- End Login Page -->
                <!-- Form End -->

            </div>
        </section>
    </div>
    @Scripts.Render("~/bundles/jquery-js")
    @Scripts.Render("~/bundles/bootstrap-js")
    @Scripts.Render("~/bundles/javascript-js")
    <script src="~/Scripts/sketch.js"></script>
    <script src="~/Scripts/jquery.passwordstrength.min.js"></script>

    <script type="text/javascript">
        $('#validation-password').passwordStrength({
            minimumChars: 8
        });
    </script>
    <script>


        //password comapairison
        function check() {
            var password1 = document.getElementById("validation-password");
            var password2 = document.getElementById("newPassword");
            if (password1 != password2) {
                document.getElementById("errorMsg").innerHTML = "Password should be matched.";
            };
        };
        // $("#changePassword").onblur = check();

    </script>
    <script>
        $(function () {

            // Form Validation
            $('#form-validation').validate({
                submit: {
                    settings: {
                        inputContainer: '.form-group',
                        errorListClass: 'form-control-error',
                        errorClass: 'has-danger'
                    }
                }
            });


            // function check() {

            //};
            //$("#changePassword").onblur = check();
            // Show/Hide Password
            $('.password').password({
                eyeClass: '',
                eyeOpenClass: 'icmn-eye',
                eyeCloseClass: 'icmn-eye-blocked'
            });

            // Add class to body for change layout settings
            $('body').addClass('single-page single-page-inverse');

            // Set Background Image for Form Block
            function setImage() {
                var imgUrl = $('.page-content-inner').css('background-image');

                $('.blur-placeholder').css('background-image', imgUrl);
            };

            function changeImgPositon() {
                var width = $(window).width(),
                    height = $(window).height(),
                    left = -(width - $('.single-page-block-inner').outerWidth()) / 2,
                    top = -(height - $('.single-page-block-inner').outerHeight()) / 2;


                $('.blur-placeholder').css({
                    width: width,
                    height: height,
                    left: left,
                    top: top
                });
            };

            setImage();
            changeImgPositon();

            $(window).on('resize', function () {
                changeImgPositon();
            });

            // Mouse Move 3d Effect
            var rotation = function (e) {
                var perX = (e.clientX / $(window).width()) - 0.5;
                var perY = (e.clientY / $(window).height()) - 0.5;
                TweenMax.to(".effect-3d-element", 0.4, { rotationY: 15 * perX, rotationX: 15 * perY, ease: Linear.easeNone, transformPerspective: 1000, transformOrigin: "center" })
            };

            if (!cleanUI.hasTouch) {
                $('body').mousemove(rotation);
            }





        });
    </script>

    </section>
    <!-- Page Content Section End -->

    <div class="main-backdrop"><!-- --></div>

</body>

</html>
