/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ms-choice {
        display: block;
    width: 100%;
    height: 38px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
    /* text-align: left; */
    white-space: nowrap;
    line-height: 34px;
    color: #aaa;
    text-decoration: none;
     -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
     border-radius: 4px; 
    background-color: #fff;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px;
}

.ms-choice > span.placeholder {
    color: #999;
}

.ms-choice > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 25px;
   /* background: url('multiple-select.png') left top no-repeat;*/
}

.ms-choice > div.open {
    /*background: url('multiple-select.png') right top no-repeat;*/
}

.ms-drop {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ms-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ms-search input {
    width: 100%;
    height: auto !important;
    min-height: 24px;
    padding: 0 20px 0 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff url('multiple-select.png') no-repeat 100% -22px;
    background: url('multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-drop ul {
    overflow-x: auto;
    overflow-y: auto;
    margin: 0;
    padding: 5px 8px;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
    text-align: left;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    color:gray;
}

    .ms-drop ul > li label span {
        padding-left:5px !important;

    }

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"] {
    vertical-align: middle;
    border: 4px solid #d3d3d3 !important;
    margin: 0px !important;
    opacity:0.5;
}

.ms-drop .ms-no-results {
    display: none;
}

/**
 * Checkbox Five
 */
.checkboxFive {
    width: 25px !important;
    margin: 20px 100px !important;
    position: relative !important;
}

    .checkboxFive label {
        cursor: pointer !important;
        position: absolute !important;
        width: 25px !important;
        height: 25px !important;
        top: 0;
        left: 0;
        background: #eee !important;
        border: 1px solid #ddd !important;
    }

        /**
 * Display the tick inside the checkbox
 */
        .checkboxFive label:after {
            opacity: 0.2 !important;
            content: '';
            position: absolute !important;
            width: 9px !important;
            height: 5px !important;
            background: transparent !important;
            top: 6px;
            left: 7px;
            border: 3px solid #333 !important;
            border-top: none !important;
            border-right: none !important;
            transform: rotate(-45deg) !important;
        }

        /**
 * Create the hover event of the tick
 */
        .checkboxFive label:hover::after {
            opacity: 0.5 !important;
        }

    /**
 * Create the checkbox state for the tick
 */
    .checkboxFive input[type=checkbox]:checked + label:after {
        opacity: 1 !important;
    }