﻿
@{
    Layout = null;
    ViewBag.Title = "AccessControl";
}
<style type="text/css">
    .clickable {
        background-color: #0a3d62;
        color: white;
        display: inline-block;
        padding: 6px 12px;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<div class="">
    <div id="createReport" class="">
        <header class="page-header row">
            <div class="col-md-6 col-lg-8">
                <h1 class="float-left text-center text-md-left">Access Control</h1>
            </div>

            <div class="clear"></div>
        </header>

        <div class="">
            <div class="card-block">
                <div class="row" id="newrole" *ngIf="newrole">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 border-bottom pb-2 mb-2">
                        <h4 class="mb-0">
                            Add Role
                            <button class="btn btn-primary btn-xs float-right" [routerLink]="['/access-control']">Manage Access</button>
                        </h4>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <h5 class="text-capitalize lspacing-0">Role <span class="color-danger">*</span></h5>
                            <input id="value"
                                   class="form-control" checkMandatory="true"
                                   placeholder=""
                                   title=""
                                   (focus)="hideErrors('newrole');"
                                   [(ngModel)]="roleData.value"
                                   type="text" />
                            <div id="value_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <h5 class="text-capitalize lspacing-0">Label On Screen <span class="color-danger">*</span> </h5>
                            <input id="los"
                                   class="form-control" checkMandatory="true"
                                   placeholder=""
                                   title=""
                                   (focus)="hideErrors('newrole');"
                                   [(ngModel)]="roleData.labelOnScreen"
                                   type="text" />
                            <div id="los_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <h5 class="text-capitalize lspacing-0">Start Month <span class="color-danger">*</span></h5>
                            <select id="smonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newrole');" [(ngModel)]="roleData.startMonth" checkMandatory="true">
                                <option value="">-Select Month-</option>
                                <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                            </select>
                            <div id="smonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <h5 class="text-capitalize lspacing-0">End Month <span class="color-danger">*</span></h5>
                            <select id="emonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newrole');" [(ngModel)]="roleData.endMonth" checkMandatory="true">
                                <option value="">-Select Month-</option>
                                <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                            </select>
                            <div id="emonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <h5 class="text-capitalize lspacing-0">Year <span class="color-danger">*</span></h5>
                            <select id="year" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newrole');" [(ngModel)]="roleData.year" checkMandatory="true">
                                <option value="">-Select Year-</option>
                                <option *ngFor="let selectedYearData of yearList" value="{{selectedYearData.keyValue}}">{{selectedYearData.keyValue}}</option>
                            </select>
                            <div id="year_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <button type="button" class="btn btn-primary float-right" (click)="saveNewRole()">Submit</button>
                    </div>
                </div>
                <div class="row" *ngIf="!newrole && roleBase" id="profileContainer">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 border-bottom pb-2 mb-2">
                        <h4 class="mb-0">
                            Manage Access
                            <button class="btn btn-primary btn-xs float-right" (click)="addNewRole()">Add Role</button>
                            <div class="btn-group btn-group-toggle float-right mr-2" data-toggle="buttons">
                                <label class="btn btn-xs btn-outline-primary active">
                                    <input type="radio" name="options" id="customerFacing_Y"> Role Base
                                </label>
                                <label class="btn btn-xs btn-outline-primary" (click)="changeToUserBase('user')">
                                    <input type="radio" name="options" id="customerFacing_N"> User Base
                                </label>
                            </div>
                        </h4>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3 card bg-default rounded-0 pl-0 pr-0 lv1" id="roleList">
                        <ul class="list-group list-group-custom ">
                            <li class="list-group-item">
                                <h5 class="mb-0 text-center">Profile</h5>
                            </li>
                            <li class="list-group-item" id="{{item.keyValue}}" style="z-index:0 !important;" *ngFor="let item of roleStr; let i = index" (click)="getExistingAccess($event)">
                                <a href="javascript: void(0);" class="text-dark rolelink">{{item.labelOnScreen}}</a>
                            </li>
                            <li class="list-group-item" *ngIf="roleStr.length == 0">
                                No Data To Display
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 card bg-default rounded-0 pl-0 pr-0 d-none lv3" id="serviceList">
                        <ul class="list-group list-group-custom " elementType="checkboxgroup" checkMandatory="true" id="servicescheckboxGroup">
                            <li class="list-group-item">
                                <h5 class="mb-0 text-center">Services</h5>
                            </li>
                            <li class="list-group-item" *ngFor="let item of finalDataList?.selectedFunctions; let i = index">
                                <div class="custom-control custom-checkbox">
                                    <input id="{{item.row.keyValue}}" type="checkbox" class="custom-control-input selectallservice{{i}}" checked="{{item.selected == true ? 'checked' : ''}}" (focus)="hideErrors('profileContainer');" (change)="getServiceWisePermissions($event,i)">
                                    <label class="custom-control-label custom-control-description mb-0" for="{{item.row.keyValue}}" style="margin-bottom:18px">{{item.row.labelOnScreen}}</label>
                                </div>
                            </li>
                            <li class="list-group-item" *ngIf="finalDataList.selectedFunctions != undefined && finalDataList.selectedFunctions.length == 0">
                                No Data To Display
                            </li>
                        </ul>
                        <div id="servicescheckboxGroup_error" class="text-danger alert alert-danger float-right displayError ng-hide">Please select at least one service</div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-3 col-xs-3 card bg-default rounded-0 pl-0 pr-0 d-none lv4" id="permissionList">
                        <ul class="list-group list-group-custom ">
                            <li class="list-group-item">
                                <h5 class="mb-0 text-center border-bottom pb-1 mb-1">Permissions</h5>
                                <div class="row">
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">

                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center" style="font-size:12px">
                                        All
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center" style="font-size:12px" *ngFor="let item of permissionsList; let i = index">
                                        {{item}}
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">

                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" *ngFor="let it of finalDataList?.selectedFunctions; let i = index">
                                <div class="row" id="chkboxrow{{i}}" elementType="checkboxgroup" attr.checkMandatory="{{it.selected == true ? true : false}}">
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">

                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center">
                                        <div class="custom-control custom-checkbox">
                                            <input id="selectallpermission{{i}}" type="checkbox" class="custom-control-input " disabled="{{it.selected == true ? '' : 'disabled'}}" (focus)="hideErrors('profileContainer');" attr.checkMandatory="{{it.selected == true ? true : false}}" checked="{{it.selectAll == true ? 'checked' : ''}}" (click)="selectAll($event,i)">
                                            <label class="custom-control-label custom-control-description mb-0" for="selectallpermission{{i}}" style="padding-top:17px !important;font-size:12px"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center" *ngFor="let item of finalDataList?.selectedPermissions[it.row.keyValue]; let j = index">
                                        <div class="custom-control custom-checkbox">
                                            <input id="{{it.row.keyValue}}_{{i}}{{j}}" type="checkbox" class="custom-control-input selectallpermission{{i}}" disabled="{{it.selected == true ? '' : 'disabled'}}" (focus)="hideErrors('profileContainer');" checked="{{item.selected == true ? 'checked' : ''}}" (click)="checkboxMentain($event,i,j)">
                                            <label class="custom-control-label custom-control-description mb-0" for="{{it.row.keyValue}}_{{i}}{{j}}" style="padding-top:17px !important;font-size:12px"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">

                                    </div>
                                </div>
                                <div id="chkboxrow{{i}}_error" class="text-danger float-right displayError ng-hide">Please select at least one input</div>
                            </li>
                            <li class="list-group-item" *ngIf="finalDataList?.selectedFunctions != undefined && finalDataList?.selectedFunctions.length == 0">
                                No Data To Display
                            </li>
                            <li class="list-group-item" *ngIf="finalDataList?.selectedFunctions != undefined && finalDataList?.selectedFunctions.length > 0">
                                <div class="row float-right">
                                    <button class="btn btn-primary btn-xs float-right" (click)="grantAccess('profileContainer')">Grant Access</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3 card bg-default rounded-0 pl-0 pr-0 lv2 d-none" id="ouList">
                        <ul class="list-group list-group-custom">
                            <li class="list-group-item">
                                <h5 class="mb-0 text-center">Operational Unit</h5>
                            </li>
                        </ul>
                        <ul class="list-group list-group-custom " elementType="checkboxgroup" checkMandatory="true" id="OUcheckboxGroup">

                            <ngx-treeview [items]="items" (selectedChange)="values = $event">
                            </ngx-treeview>
                        </ul>
                        <div id="OUcheckboxGroup_error" class="text-danger alert alert-danger float-right displayError ng-hide">Please select at least one service</div>
                    </div>
                </div>
                <div class="row" *ngIf="!newrole && !roleBase" id="userContainer">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 border-bottom pb-2 mb-2">
                        <h4 class="mb-0">
                            Manage Access
                            <button class="btn btn-primary btn-xs float-right" (click)="addNewRole()">Add Role</button>
                            <div class="btn-group btn-group-toggle float-right mr-2" data-toggle="buttons">
                                <label class="btn btn-xs btn-outline-primary" (click)="changeToUserBase('role')">
                                    <input type="radio" name="options" id=""> Role Base
                                </label>
                                <label class="btn btn-xs btn-outline-primary active">
                                    <input type="radio" name="options" id=""> User Base
                                </label>
                            </div>
                        </h4>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="form-row mt-2 mb-2 pb-3">
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 pt-2">
                                <div class="custom-control custom-checkbox">
                                    <input id="adpID" type="radio" class="custom-control-input" name="userLevelAccess" checked (click)="setUserLevelAccess($event)">
                                    <label class="custom-control-label custom-control-description mb-0" for="adpID">Assign profile based on employee ID</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 pt-2">
                                <div class="custom-control custom-checkbox">
                                    <input id="reportingRole" type="radio" class="custom-control-input" name="userLevelAccess" (click)="setUserLevelAccess($event)">
                                    <label class="custom-control-label custom-control-description mb-0" for="reportingRole">Assign profile based on employee role</label>
                                </div>
                            </div>


                            <div class="input-group col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mb-1 pl-0 pr-0 float-right" *ngIf="userLevelAccess === 'adpID'">
                                <input type="text" id="adpIdText" class="form-control" placeholder="search for employee ID" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button" id="button-addon2" (click)="getAdpIdData('adpIdText')">Go!</button>
                                </div>
                                <div class="card w-25" id="empDataPanel" ngDraggable style="position:fixed;bottom:0%;z-index:10;cursor:move;" *ngIf="finalDataList?.user != undefined">
                                    <div class="card-header" style="background-color:#487eb0;">
                                        <a class="" href="#empDet" data-toggle="collapse" style="color:white;" data-target="#empDet" aria-expanded="true" aria-controls="empDet">
                                            {{finalDataList.user.fullName}}
                                        </a>
                                        <span class="float-right clickable" (click)="closePanel()" data-effect="slideUp">X</span>
                                    </div>

                                    <div class="card-block collapse show" id="empDet" data-parent="#accordionExample">
                                        <p class="mb-1 mt-1">
                                            <b>Employee ID :</b> {{finalDataList.user.adpId}}
                                        </p>
                                        <p class="mb-1 mt-1">
                                            <b>Email :</b> {{finalDataList.user.email}}
                                        </p>
                                        <p class="mb-1 mt-1">
                                            <b>Role :</b> {{finalDataList.user.role}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 mb-1 pl-0 pr-0 float-right" *ngIf="userLevelAccess === 'reportingRole'">

                                <div id="requiredAttr{{i}}" class="" elementType="multiselect" *ngIf="roleHierarchyStrList.length > 0">
                                    <ng-multiselect-dropdown [placeholder]="'- Select Role -'"
                                                             [data]="roleHierarchyStrList"
                                                             name=""
                                                             (click)="hideErrors('newKeyContainer');"
                                                             [(ngModel)]="finalDataList.selectedRole"
                                                             (onSelect)="onRoleItemSelect($event)"
                                                             [settings]="dropdownSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div id="requiredAttr{{i}}_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3 card bg-default rounded-0 pl-0 pr-0 d-none lv1" id="roleList">
                        <ul class="list-group list-group-custom ">
                            <li class="list-group-item">
                                <h5 class="mb-0 text-center">Profile</h5>
                            </li>
                            <li class="list-group-item" *ngFor="let item of roleStr; let i = index">
                                <div class="custom-control custom-checkbox">
                                    <input id="{{item.keyValue}}" type="checkbox" class="custom-control-input" (click)="getExistingAccess($event)">
                                    <label class="custom-control-label custom-control-description mb-0" for="{{item.keyValue}}" style="margin-bottom:18px">{{item.labelOnScreen}}</label>
                                </div>
                            </li>
                            <li class="list-group-item" *ngIf="roleStr.length == 0">
                                No Data To Display
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 card bg-default rounded-0 pl-0 pr-0 d-none lv3" id="serviceList">
                        <ul class="list-group list-group-custom " elementType="checkboxgroup" checkMandatory="true" id="servicescheckboxGroup">
                            <li class="list-group-item">
                                <h5 class="mb-0 text-center">Services</h5>

                            </li>
                            <li class="list-group-item" *ngFor="let item of finalDataList?.selectedFunctions; let i = index">
                                <div class="custom-control custom-checkbox">
                                    <input id="{{item.row.keyValue}}" type="checkbox" class="custom-control-input selectallservice{{i}}" checked="{{item.selected == true ? 'checked' : ''}}" (focus)="hideErrors('profileContainer');" (change)="getServiceWisePermissions($event,i)">
                                    <label class="custom-control-label custom-control-description mb-0" for="{{item.row.keyValue}}" style="margin-bottom:18px">{{item.row.labelOnScreen}}</label>
                                </div>
                            </li>
                            <li class="list-group-item" *ngIf="finalDataList.selectedFunctions != undefined && finalDataList.selectedFunctions.length == 0">
                                No Data To Display
                            </li>
                        </ul>
                        <div id="servicescheckboxGroup_error" class="text-danger alert alert-danger float-right displayError ng-hide">Please select at least one service</div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-3 col-xs-3 card bg-default rounded-0 pl-0 pr-0 d-none lv4" id="permissionList">
                        <ul class="list-group list-group-custom ">
                            <li class="list-group-item">
                                <h5 class="mb-0 text-center border-bottom pb-1 mb-1">Permissions</h5>
                                <div class="row">
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">

                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center" style="font-size:12px">
                                        All
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center" style="font-size:12px" *ngFor="let item of permissionsList; let i = index">
                                        {{item}}
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">

                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" *ngFor="let it of finalDataList?.selectedFunctions; let i = index">
                                <div class="row" id="chkboxrow{{i}}" elementType="checkboxgroup" attr.checkMandatory="{{it.selected == true ? true : false}}">
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">

                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center">
                                        <div class="custom-control custom-checkbox">
                                            <input id="{{it.row.keyValue}}_selectallpermission{{i}}" type="checkbox" class="custom-control-input " disabled="{{it.selected == true ? '' : 'disabled'}}" (focus)="hideErrors('profileContainer');" attr.checkMandatory="{{it.selected == true ? true : false}}" checked="{{it.selectAll == true ? 'checked' : ''}}" (click)="selectAll($event,i)">
                                            <label class="custom-control-label custom-control-description mb-0" for="{{it.row.keyValue}}_selectallpermission{{i}}" style="padding-top:17px !important;font-size:12px"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center" *ngFor="let item of finalDataList?.selectedPermissions[it.row.keyValue]; let j = index">
                                        <div class="custom-control custom-checkbox">
                                            <input id="{{it.row.keyValue}}_{{i}}{{j}}" type="checkbox" class="custom-control-input selectallpermission{{i}}" disabled="{{it.selected == true ? '' : 'disabled'}}" (focus)="hideErrors('profileContainer');" checked="{{item.selected == true ? 'checked' : ''}}" (click)="checkboxMentain($event,i,j)">
                                            <label class="custom-control-label custom-control-description mb-0" for="{{it.row.keyValue}}_{{i}}{{j}}" style="padding-top:17px !important;font-size:12px"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center">

                                    </div>
                                </div>
                                <div id="chkboxrow{{i}}_error" class="text-danger float-right displayError ng-hide">Please select at least one input</div>
                            </li>
                            <li class="list-group-item" *ngIf="finalDataList?.selectedFunctions != undefined && finalDataList?.selectedFunctions.length == 0">
                                No Data To Display
                            </li>
                            <li class="list-group-item" *ngIf="finalDataList?.selectedFunctions != undefined && finalDataList?.selectedFunctions.length > 0">
                                <div class="row float-right">
                                    <button class="btn btn-primary btn-xs float-right" (click)="grantAccess('profileContainer')">Grant Access</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3 card bg-default rounded-0 pl-0 pr-0 lv2 d-none" id="ouList">
                        <ul class="list-group list-group-custom ">
                            <li class="list-group-item">
                                <h5 class="mb-0 text-center">Operational Unit</h5>
                            </li>
                        </ul>
                        <ul class="list-group list-group-custom " checkMandatory="true">

                            <ngx-treeview [items]="items" (selectedChange)="values = $event">
                            </ngx-treeview>
                            <li class="list-group-item" *ngIf="items?.length == 0">
                                No Data To Display
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row" style="">
                    <div style="position: absolute;right: 2%;top: 0%;">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img alt="Transaction Success" src="/Content/images/Success.gif" style="width: 15%;height: auto;">
                        <h5>Transaction Successful</h5>
                    </div>
                </div>
                <div class="row float-right mt-3">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-info float-right" data-dismiss="modal" type="button">Close</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div style="position: absolute;right: 2%;top: 0%;">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img alt="Transaction Failed" src="~/Content/images/warning.gif" style="width: 15%;height: auto;">
                        <h5>Transaction Failed</h5>
                    </div>
                </div>
                <div class="row float-right mt-3">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-danger float-right" data-dismiss="modal" type="button">Close</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.clickable').on('click', function () {
            var effect = $(this).data('effect');
            $(this).closest('.panel')[effect]();
        })
    })
</script>
