﻿
@{
    Layout = null;
}


<div class="w-100 px-2 pt-1 pb-3">
    <div class="" id="createReport">

    </div>
   
    <div class="mt-2" id="">
        <div>
            <div class="meta_tabs"></div>
          
                     <div class="card-block card-class-c mt-2 p-0 data-bg" id="myTabContent">
                        <div class="card-header pb-1"><p class="mb-0">Create Actual Request </p></div>
                         <br />
                         <div class="card-body p-0">
                            <div style="position:relative; width:100%;">
                                <div id="ouList">                                    
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" [(ngModel)]="employeeActual.type" name="type" value="self">Self
                                        </label>

                                    </div>
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" [(ngModel)]="employeeActual.type" name="type" value="nonSelf">On Behalf Of
                                        </label>
                                    </div>
                                </div>

                                <div class="col-12 d3treeScroll" id="D3_Tree_OperationalUnit">
                                    <br />  <br />
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label class="form-label">Select Year<span> *</span></label>
                                            <select id="year" class="form-control" [(ngModel)]="employeeActual.year" checkMandatory="true">
                                                <option value="">-Select Year-</option>
                                                <option *ngFor="let year of yearData let i = index" value="{{year.keyValue}}">{{year.description}}</option>
                                            </select>
                                            <div id="year_error" class="displayError color-white ng-hide"></div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label class="form-label">Product Type<span> *</span></label>
                                            <select id="productType" class="form-control" [(ngModel)]="employeeActual.bg" checkMandatory="true">
                                                <option value="">-Select Product Type-</option>
                                                <option *ngFor="let item of productList let i = index" value="{{item.keyValue}}">{{item.keyValue}}</option>
                                            </select>
                                            <div id="productType_error" class="displayError color-white ng-hide"></div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label class="form-label">Month<span> *</span></label>
                                            <select id="startMonth" class="form-control" [(ngModel)]="employeeActual.month" checkMandatory="true">
                                                <option value="">-Select Month-</option>
                                                <option *ngFor="let mon of monthData let i = index" value="{{mon.keyValue}}">{{mon.description}}</option>
                                            </select>
                                            <div id="startMonth_error" class="displayError color-white ng-hide"></div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label class="form-label">Amount(Cr)<span> *</span></label>
                                            <input type="number" class="form-control" [(ngModel)]="employeeActual.amount" checkMandatory="true" />
                                            <div id="amount_error" class="displayError color-white ng-hide"></div>
                                        </div>
                                        <div *ngIf="employeeActual.type ==='nonSelf'" class="form-group col-sm-4">
                                            <label class="form-label">Select User<span> *</span></label>
                                            <select id="user" class="form-control" [(ngModel)]="employeeActual.adpId" checkMandatory="true">
                                                <option value="">-Select User-</option>
                                                <option *ngFor="let user of userList let i = index" value="{{user.adpId}}">{{user.firstName}}&nbsp;&nbsp;({{user.adpId}})</option>
                                            </select>
                                            <div id="user_error" class="displayError color-white ng-hide"></div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group col-sm-12">                                        
                                                <button type="button" id="submit-button" class="btn btn-primary width-300 float-right" (click)="ngActualRequestSubmit();">Submit</button>                                            
                                                <button type="button" id="submit-button" style="margin-left:10px; margin-right:10px; display:none;" 
                                                 class="btn btn-primary width-300 float-right" (click)="ngActualRequestApprove();">Approve</button>                                           
                                                <button type="button" id="submit-button" style="display:none;" class="btn btn-primary width-300 float-right" (click)="ngActualRequestReject();">Reject</button>                                          
                                    </div>
                                    <br /><br />
                                    </div>                                    
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
  

