﻿
@{
    Layout = null;
    ViewBag.Title = "BarGraph";
}


<div id="BarChart" class="graphshow row">
    
    <!-- style="-webkit-transform-style: preserve-3d; /* Safari 3-8  */  -webkit-transform: rotateY(25deg); /* Safari 3-8  */transform-style: preserve-3d;transform: rotateY(25deg);transition:2s">-->
    <svg height="400px">
        <defs>
            <linearGradient id="series2" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:#288be2;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#288be2;stop-opacity:1" />
            </linearGradient>
            <linearGradient id="series1" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:#fec94d;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#fec94d;stop-opacity:1" />
            </linearGradient>
        </defs>
    </svg>
</div>

