﻿
@{
    Layout = null;
    ViewBag.Title = "BatchProcess";
}

<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">Batch Process</h1>
    </div>

    <div class="clear"></div>
</header>
<style type="text/css">

        .circle:hover {
            fill: #ea4335;
            opacity: 1;
        }

        .round-tab {
            width: 75px;
            height: 75px;
            line-height: 22px;
            display: inline-block;
            border-radius: 75px;
            background: #34bc9b;
            border: 2px solid #0A3D62;
            color: #fff;
            z-index: 2;
            left: 0;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }

        .round-tab-big {
            width: 100px;
            height: 100px;
            line-height: 22px;
            display: inline-block;
            border-radius: 100px;
            background: #34bc9b;
            border: 2px solid #0A3D62;
            color: #fff;
            z-index: 2;
            left: 0;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }

        ul {
            margin-top: 25px;
            margin-left: 150px;
        }

        .markOne {
            margin-top: 25px;
        }
</style>
<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
    <div class="row" id="mainRow">
        <div class="col-lg-offset-1 col-md-offset-1 col-xs-offset-1 col-sm-offset-1">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp2" [(ngModel)]="batchDate" id="batchDate" ngbDatepicker #date="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-primary  calendar" (click)="date.toggle()" style="background-color:#4595d0;border-radius: 0 5px 5px 0;" type="button"></button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-block " (click)="go()" style="border-radius: 5px;margin-left:10px; color:white; background-color:#4595d0;" type="button">Go !</button>
                    </div>
                </div>

                <div id="batchDate_error" class="displayError ng-hide"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-5 col-xl-5 col-sm-6 col-xs-5">
        </div>
        <div class="col-lg-4 col-md-3 col-xl-3 col-sm-3 col-xs-3">
            <div class="form-group">
                
                
                    <select id="ou" class="form-control ng-hide" [(ngModel)]="selectOU" (change)="selectOUfunction(selectOU);" checkMandatory="true">
                        <option value="">- Select Operational Unit -</option>
                        <option *ngFor="let ou of allOU; let i = index" value="{{ou}}">{{ou}}</option>
                    </select>
               
                <div id="ou_error" class="displayError ng-hide"></div>
            </div>
        </div>
    </div>

 
    <div class="row" style="display:none;" id="backRow">
        <div class="col-lg-offset-1 col-md-offset-1 col-xs-offset-1 col-sm-offset-1">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-append">
                        <button class="btn btn-block " (click)="back()" style="border-radius: 5px;margin-left:10px; color:white;background-color:#4595d0;" type="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</button>
                    </div>
                </div>

                <div id="batchDate_error" class="displayError ng-hide"></div>
            </div>
        </div>
      <div class="col-lg-6 col-md-6 col-xl-6 col-sm-6 col-xs-6">
      </div>

        <div class="col-lg-4 col-md-4 col-xl-4 col-sm-4 col-xs-4">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp2" [(ngModel)]="searchBatchDate" id="searchBatchDate" ngbDatepicker #date2="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-primary  calendar" (click)="date.toggle()" style="background-color:#4595d0;border-radius: 0 5px 5px 0;" type="button"></button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-block " (click)="search(searchBatchDate)" style="border-radius: 5px;margin-left:10px; color:white; background-color:#4595d0;" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <div id="batchDate_error" class="displayError ng-hide"></div>
            </div>
        </div>
    </div>
    
    <div class="stepper" id="row_table_id">
        <ul class="nav " role="tablist" *ngFor="let bpr of bprocess;let i = index" style="margin-left:50px;">
            <li role="presentation" class="active" style="margin-top:15px;">
                <a class="persistant-disabled markOne" title="{{bpr.startTime}}">
                    <svg height="100" width="100">
                        <circle class="circle" cx="50" cy="50" r="50" fill="#0A3D62" stroke-width="1" />
                        <text x="50%" y="50%" text-anchor="middle" stroke="#fff" stroke-width="1px" dy=".3em">

                            <tspan x="50" dy="3">Start Time</tspan>
                            <tspan x="50" dy="18" style="font-size:smaller;">{{bpr.startTime}}</tspan>

                        </text>
                        
                    </svg>
                    <svg height="100" width="200" style="margin-right: -2px;">
                        <rect x="0" y="48" width="200" height="10" stroke="#0A3D62" style=""></rect>
                    </svg>
                </a>
            </li>
            <li role="presentation" class="active" style="">
                <a class="persistant-disabled" title="{{bpr.batchName}}">
                    <svg height="150" width="120">
                        <circle class="circle" cx="60" cy="60" r="60" fill="#0A3D62" stroke-width="1" />
                        <text x="50%" y="50%" text-anchor="middle" stroke="#fff" stroke-width="1px" style="font-size:small;" dy=".3em">
                            <tspan x="60" dy="-10">{{bpr.batchName}}</tspan>
                            <tspan x="60" dy="15">{{bpr.executionTime}}</tspan>
                        </text>
                        <text id="tooltip" x="10" y="190" visibility="hidden">{{bpr.status}}</text>
                    </svg>
                    <svg height="100" width="200" style="margin-left: -2px;">
                        <rect x="0" y="10" width="200" height="10" stroke="#0A3D62" fill="0A3D62"></rect>
                    </svg>
                    
                </a>
            </li>
            <li role="presentation" class="active" style="margin-top:15px;">
                <a class="persistant-disabled markOne" title="{{bpr.endTime}}">
                    <svg height="100" width="100">
                        <circle class="circle" cx="50" cy="50" r="50" data-toggle="tooltip" title="{{bpr.status}}" [style.fill]="bpr.status == 'SUCCESS' ? '#3CB371' : '#FF4500'" stroke-width="1" />
                        <text x="50%" y="50%" text-anchor="middle" stroke="#fff" stroke-width="1px" dy=".3em">

                            <tspan x="50" dy="3">End Time</tspan>
                            <tspan x="50" dy="18" style="font-size:smaller;">{{bpr.endTime}}</tspan>
                        </text>
                    </svg>
                    <svg _ngcontent-c1="" height="100" width="100" style=" margin-left: -3px;">
                        <rect _ngcontent-c1="" fill="0A3D62" height="5" stroke="#0A3D62" width="100" x="0" y="48"></rect>
                    </svg>

                </a>
            </li>
            <li>
                <button class="btn btn-block" (click)="Explore(i);" style="border-radius: 5px;margin-top: 45px;color:white;background-color: #4595d0;" type="button">Explore</button>
            </li>
            <li role="presentation" class="active" style="margin-top:15px;" [style.display]="bpr.status == 'SUCCESS' ? 'none' : 'inline-table'">
                <a class="persistant-disabled markOne" title="{{bpr.endTime}}">
                    <svg _ngcontent-c1="" height="100" width="100" style=" margin-left: -3px;">
                        <rect _ngcontent-c1="" fill="0A3D62" height="5" stroke="#0A3D62" width="100" x="0" y="48"></rect>
                    </svg>
                </a>
            </li>
            <li [style.display]="bpr.status == 'SUCCESS' ? 'none' : 'inline-table'">
                <button class="btn btn-block" (click)="ViewErrors(i);" style="border-radius: 5px;margin-top: 45px;color:white;background-color: #E62C26;" type="button">View Errors</button>
            </li>
        </ul>
      
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
    <div id="row_not_found_id" style="display:none;" class="row">
        <!-- Panel -->
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="panel">
                <div id="example3_wrapper" class="table-responsive">
                    <h1>No Data Found</h1>
                </div>
            </div>
            <!-- Table Section End -->
        </div>
        <!-- Panel END-->
    </div>

</div>
<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
    <div id="table_found_id" style="display:none;" class="row">
        <!-- Panel -->
        <div class="col-md-12 col-lg-12 col-sm-12">
            <table class="table table-hover manage-u-table">
                <thead>
                    <tr class="table-head">
                        <th class="text-center" width="70px">#</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Batch Name</th>
                        <th class="text-center">Start Time</th>
                        <th class="text-center">End Time</th>
                        <th class="text-center">Execution Time</th>
                        <th class="text-center" style="white-space: nowrap;">Operational Unit</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of bprocessDTO;let i  = index" class="text-center">
                        <!--ng-class-odd="'odd'" ng-class-even="'even'"-->
                        <td style="width: 50px;">{{i + 1}}</td>
                        <td><span class="font-medium">{{item.date}}</span></td>
                        <td><span class="font-medium">{{item.batchName}}</span></td>
                        <td><span class="font-medium">{{item.startTime}}</span></td>
                        <td style="width: 120px;"><span class="font-medium">{{item.endTime}}</span></td>
                        <td><span class="font-medium">{{item.executionTime}}</span></td>
                        <td style="width: 130px;text-transform:uppercase;"><span class="font-medium" style="text-transform:uppercase;">{{item.operationalUnit}}</span></td>
                        <td><span class="font-medium">{{item.status}}</span></td>
                        <td>
                            <!--[hidden]="item.status != 'ACTIVE'"--> <button class="btn  btn-outline btn-circle btn-xs m-r-5" style="background-color:#4595d0;"><i class="fa fa-pencil-alt"></i></button>
                            <!--[hidden]="item.status != 'CLOSED'"<button class="btn btn-warning btn-outline btn-circle btn-xs m-r-5" (click)="editCustomerDetailsSubmit(i)"><i class="ti-eye"></i>V</button>-->
                        </td>

                    </tr>
                </tbody>
                <tbody id="table_not_found_id">
                    <tr>
                        <td colspan="7" class="text-center">No Data Found</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>

                        <td colspan="6">
                            <div class="text-right">
                                <button type="button" id="example1_previous" style="margin-right:5px; border-radius:5px; display:none;" class="btn  btn-success page-item previous disabled" (click)="getPreviousBatch();">Previous</button>
                                <button type="button" id="example1_next" style="margin-right:5px; border-radius:5px;display:none;" class="btn btn-primary page-item next" (click)="getNextBatch();">Next</button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!-- Table Section End -->
        </div>
        <!-- Panel END-->
    </div>

</div>

<div id="scheduleTimePopup" class="modal fade" ngDraggable role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Reschedule Your Batch Timing </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-12" style="margin: auto;">
                            <label for="batchName" style="color:forestgreen;margin:3px;">Batch Name :</label>
                            <br />
                            <label for="batchName">{{request.batchName}}</label>
                            <!--<input type="text" class="form-control" [(ngModel)]="request.batchName" style="border-radius:0px!important; padding:0px!important;" />-->
                        </div>
                        <div class="form-group col-md-12" style="margin: auto;">
                            <label for="requestTime" style="color:forestgreen;margin:3px;">Request Timing :</label>
                            <br />
                            <label for="batchName">{{request.timeOfRequest}}</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12" style="margin: auto;">
                            <label for="uploadedBy" style="color:forestgreen;margin:3px;">Uploaded By :</label>
                            <br />
                            <label for="batchName">{{request.requestorAdpId}}</label>
                        </div>
                        <div class="form-group col-md-12" style="margin: auto;">
                            <label for="oldTime" style="color:forestgreen;margin:3px;">Current Timing :</label>
                            <br />
                            <label for="batchName">{{request.scheduleTime}}</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12" style="margin: auto;">
                            <label for="newTime" style="color:forestgreen;margin:3px;">New Timing :</label>
                            <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
                        </div>
                        <div class="form-group col-md-12" style="margin: auto;">
                            <button data-toggle="tooltip" style="border-radius:0px; margin:10px; align-self:center;" data-placement="top" title="Reschedule Batch" (click)="resetRunTime()" class="btn btn-success"> Reschedule Batch </button>
                        </div>
                    </div>

                </div>
              
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal content-->
<div class="modal fade" id="noLogFound" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div style="position: absolute;right: 2%;top: 0%;">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img alt="Transaction Failed" src="~/Content/images/warning.gif" style="width: 15%;height: auto;">
                        <h5>No Batch Logs Found</h5>
                    </div>
                </div>
                <div class="row float-right mt-3">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-danger float-right" data-dismiss="modal" type="button">Close</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
