﻿@{
    Layout = null;
    ViewBag.Title = "EmployeeDashboard";
}


<!-- Form Validation -->

<div class="w-100 px-2 pt-1 pb-3">
    <div class='' id="createReport">
        <nav class='configure-nav-main sky-gradient' id="metadata">
            <div>
                <ul class="row justify-content-around mx-0 nav" id="myTab" role="tablist">
                    <li class="nav-item configure-menu">
                        <a class='fontawesome-reorder' href='javascript:void(0)'>Menu</a>
                    </li>
                    <li *ngFor="let lv1 of attributesList; let i = index" id="li-{{lv1.keyValue}}-tab" class="">
                        <a class="{{i == 0 ? 'active' : ''}}" (click)="setTab(lv1)" id="{{lv1.keyValue}}-tab" data-toggle="tab" href="#{{lv1.keyValue}}" role="tab" attr.aria-controls="{{lv1.keyValue}}" attr.aria-selected="{{i == 0 ? true : false}}"><span class="pr-1">{{i+1}}.</span>{{lv1.labelOnScreen}} </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="card card-class-c " *ngIf="currentTab === 'SalesHorizontal' || currentTab === 'BusinessVertical'">
        <div class="card-header bg-white pb-1"><p class="mb-0">Select Operational Unit</p></div>
        <div class="cord-body p-0 bg-white">
            <div id="salesOuList">
                <div class="salesOuList">
                    <div class="salesOuList-warning" *ngFor="let item of ouList; let i= index">
                        <input type="checkbox" name="checkbox" id="checkbox1" checked />
                        <label for="checkbox1">{{item.keyValue}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="" class="mt-2">
        <!--<div class="" style="width: calc(100% - 180px);">-->
        <div>
            <div class="meta_tabs">
                <!--<ul class="nav nav-pills nav-justified" id="menuTabs" role="tablist">
        <li class="well_custom text-center rounded p-2" *ngFor="let lv1 of attributesList; let i = index"><a class="{{i == 0 ? 'nav-link active' : 'nav-link'}}" (click)="setTab(lv1)" id="{{lv1.keyValue}}-tab" data-toggle="tab" href="#{{lv1.keyValue}}" role="tab" attr.aria-controls="{{lv1.keyValue}}" attr.aria-selected="{{i == 0 ? true : false}}">{{lv1.labelOnScreen}}</a></li>
    </ul>-->
                
            </div>
            <div *ngIf="currentTab === 'SalesHorizontal' || currentTab === 'BusinessVertical'" id="myTabContent" class="p-0 card-block card-class-c">
                <div class="card-header pb-1"><p class="mb-0">Assign  {{currentTabDisplay}} Name's <span class="float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-angle-down"></i></span></p></div>
                <div id="collapseOne" class="collapse show card-body px-0" aria-labelledby="headingOne" data-parent="#accordion">
                    
                    <div id="csstree" class="py-2" style="height:250px; overflow-y:auto;">    
                        <div id="floatbtn" *ngIf="currentTab !== 'TeamSetup'" style="display:none;">
                            <div id="newGraph" style="margin-right: 21px;float: right;height: 100%; z-index: 10;">
                                <button class="btn btn-outline-themegreen active btn-rounded" data-toggle="tooltip" title="Add New {{currentTabDisplay}}" (click)="AddMetaDataKey(currentTab)" aria-hidden="true"><span class="fas fa-plus fa-2x"></span></button>
                            </div>
                        </div>
                        <ul>
                            <ng-template #recursiveList let-metaheirachy>
                                <li *ngFor="let item of metaheirachy">
                                    <div class="">
                                        {{item.name}}
                                        <button class="btn add" href="#" (click)="AddMetaDataKey(item)" role="button">+</button>
                                        <button class="btn remove" href="#" role="button" (click)="RemoveMetaDataKey(item)">-</button>
                                    </div>
                                    <ul *ngIf="item.children.length > 0">
                                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                                    </ul>
                                </li>
                            </ng-template>
                            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: metaheirachy }"></ng-container>
                        </ul>                          
                    </div>
                </div>
            </div>


            <div class="">
                <div class="">
                    <!--For Sales Horizontal Tab-->
                    <div *ngIf="currentTab === 'SalesHorizontal'" id="myTabContent" class="card-block card-class-c mt-2 p-0 data-bg">
                        <div class="card-header pb-1"><p class="mb-0">Create {{currentTabDisplay}} Heirarchy </p></div>
                        <div class="card-body p-0">
                            <div style="position:relative; width:100%;">
                                <div id="ouList">
                                    <div *ngFor=" let color of colorCode; let i = index"> <i class="fa fa-stop {{color.color}}"></i> {{color.key}} </div>
                                </div>
                                <div class="col-12 d3treeScroll" id="D3_Tree_SalesHorizontal"></div>
                            </div>

                            <div class="col-4 d-none" [sortablejs]="tabContentData">
                                <div class="row names" *ngFor="let lv2 of tabContentData ; let j = index">
                                    <div class="w-100 pl-0">
                                        <div id="headingOne-{{j}}" class="collapse-btn2">
                                            <button class="btn btn-link text-left" data-toggle="collapse" attr.data-target="#collapseOne{{j}}" aria-expanded="true" attr.aria-controls="collapseOne{{j}}" style="width:85%;">
                                                <span class="btn-outline-dark">{{j+1}}</span> {{lv2.labelOnScreen}}
                                            </button>
                                            <button class="btn btn-dark btn-sm m-1 rounded-0 float-right" (click)="addNewValueContainer(lv2)" data-toggle="tooltip" title="Add New {{lv2.labelOnScreen}}" aria-hidden="true"><i class="fa fa-plus"></i></button>
                                        </div>
                                        <div id="collapseOne{{j}}" class="collapse position-relative " aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="allvalues">
                                                <div [sortablejs]="lv2.list" [sortablejsOptions]="valuesOptions" class="d-flex flex-wrap">
                                                    <p class="mb-0" style="display:inline;" *ngFor="let data of lv2.list; let i = index">
                                                        <span class="btn badge-{{colors[i%4]}}-custom btn-sm m-1 rounded-0"> {{data.labelOnScreen}} <i class="fa fa-times"></i></span>
                                                    </p>

                                                    <!--<p></p>-->

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!--For Role Tab-->
                    <div *ngIf="currentTab === 'Role' ">
                        <div class="row names" *ngFor="let lv2 of tabContentData ; let j = index">
                            <div class="bg-warning" id="headingOne-{{j}}">
                                <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapseOne{{j}}" aria-expanded="true" attr.aria-controls="collapseOne{{j}}">
                                    {{lv2.labelOnScreen}}
                                </button>
                            </div>
                            <div id="collapseOne{{j}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div [sortablejs]="lv2.list" [sortablejsOptions]="valuesOptions" class="" id="list_{{j}}">
                                        <p style="display:inline" *ngFor="let data of lv2.list; let i = index">
                                            <span class="btn btn-sm rounded-0 mr-1 badge-{{colors[i%4]}}-custom"> {{data.labelOnScreen}} <i class="fa fa-times"></i></span>
                                        </p>
                                    </div>
                                    <button class="btn btn-sm" (click)="addNewValueContainer(lv2)" data-toggle="tooltip" title="Add New {{lv2.labelOnScreen}}" aria-hidden="true"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--For Operationl Unit Tab-->
                    <div *ngIf="currentTab === 'OperationalUnit'" id="myTabContent" class="card-block card-class-c mt-2 p-0 data-bg">
                        <div class="card-header pb-1"><p class="mb-0">Create {{currentTabDisplay}} Heirarchy </p></div>
                        <div class="card-body p-0">
                            <div style="position:relative; width:100%;">
                                <div id="ouList">
                                    <div *ngFor=" let color of colorCode; let i = index"> <i class="fa fa-stop {{color.color}}"></i> {{color.key}} </div>
                                </div>
                                <div class="col-12 d3treeScroll" id="D3_Tree_OperationalUnit"></div>
                            </div>

                            <div class="col-4 d-none" [sortablejs]="tabContentData">
                                <div class="row names" *ngFor="let lv2 of tabContentData ; let j = index">
                                    <div class="w-100 pl-0">
                                        <div id="headingOne-{{j}}" class="collapse-btn2">
                                            <button class="btn btn-link text-left" data-toggle="collapse" attr.data-target="#collapseOne{{j}}" aria-expanded="true" attr.aria-controls="collapseOne{{j}}" style="width:85%;">
                                                <span class="btn-outline-dark">{{j+1}}</span> {{lv2.labelOnScreen}}
                                            </button>
                                            <button class="btn btn-dark btn-sm m-1 rounded-0 float-right" (click)="addNewValueContainer(lv2)" data-toggle="tooltip" title="Add New {{lv2.labelOnScreen}}" aria-hidden="true"><i class="fa fa-plus"></i></button>
                                        </div>
                                        <div id="collapseOne{{j}}" class="collapse position-relative " aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="allvalues">
                                                <div [sortablejs]="lv2.list" [sortablejsOptions]="valuesOptions" class="d-flex flex-wrap">
                                                    <p class="mb-0" style="display:inline;" *ngFor="let data of lv2.list; let i = index">
                                                        <span class="btn badge-{{colors[i%4]}}-custom btn-sm m-1 rounded-0"> {{data.labelOnScreen}} <i class="fa fa-times"></i></span>
                                                    </p>

                                                    <!--<p></p>-->

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!--For Sales Component Tab-->
                    <div *ngIf="currentTab === 'SalesComponent' ">
                        <div class="row names" *ngFor="let lv2 of tabContentData ; let j = index">
                            <div class="bg-danger" id="headingOne-{{j}}">
                                <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapseOne{{j}}" aria-expanded="true" attr.aria-controls="collapseOne{{j}}">
                                    {{lv2.labelOnScreen}}
                                </button>
                            </div>
                            <div id="collapseOne{{j}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div [sortablejs]="lv2.list" [sortablejsOptions]="valuesOptions" class="" id="list_{{j}}">
                                        <p style="display:inline" *ngFor="let data of lv2.list; let i = index">
                                            <span class="btn btn-sm rounded-0 mr-1 badge-{{colors[i%4]}}-custom"> {{data.labelOnScreen}} <i class="fa fa-times"></i></span>
                                        </p>
                                    </div>
                                    <button class="btn btn-sm" (click)="addNewValueContainer(lv2)" data-toggle="tooltip" title="Add New {{lv2.labelOnScreen}}" aria-hidden="true"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!--For Access Control Tab-->
                    <div *ngIf="currentTab === 'AccessControl' ">
                        <div class="row names" *ngFor="let lv2 of tabContentData ; let j = index">
                            <div class="bg-danger" id="headingOne-{{j}}">
                                <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapseOne{{j}}" aria-expanded="true" attr.aria-controls="collapseOne{{j}}">
                                    {{lv2.labelOnScreen}}
                                </button>
                            </div>
                            <div id="collapseOne{{j}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div [sortablejs]="lv2.list" [sortablejsOptions]="valuesOptions" class="" id="list_{{j}}">
                                        <p style="display:inline" *ngFor="let data of lv2.list; let i = index">
                                            <span class="btn btn-sm rounded-0 mr-1 badge-{{colors[i%4]}}-custom"> {{data.labelOnScreen}} <i class="fa fa-times"></i></span>
                                        </p>
                                    </div>
                                    <button class="btn btn-sm" (click)="addNewValueContainer(lv2)" data-toggle="tooltip" title="Add New {{lv2.labelOnScreen}}" aria-hidden="true"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--For Business Vertical Tab-->
                    <div *ngIf="currentTab === 'BusinessVertical'" id="myTabContent" class="card-block card-class-c mt-2 p-0 data-bg">
                        <div class="card-header pb-1"><p class="mb-0">Create {{currentTabDisplay}} Heirarchy </p></div>
                        <div class="card-body p-0">
                            <div style="position:relative; width:100%;">
                                <div id="ouList">
                                    <div *ngFor=" let color of colorCode; let i = index"> <i class="fa fa-stop {{color.color}}"></i> {{color.key}} </div>
                                </div>
                                <div class="col-12 d3treeScroll" id="D3_Tree_BusinessVertical"></div>
                            </div>

                            <div class="col-4 d-none" [sortablejs]="tabContentData">
                                <div class="row names" *ngFor="let lv2 of tabContentData ; let j = index">
                                    <div class="w-100 pl-0">
                                        <div id="headingOne-{{j}}" class="collapse-btn2">
                                            <button class="btn btn-link text-left" data-toggle="collapse" attr.data-target="#collapseOne{{j}}" aria-expanded="true" attr.aria-controls="collapseOne{{j}}" style="width:85%;">
                                                <span class="btn-outline-dark">{{j+1}}</span> {{lv2.labelOnScreen}}
                                            </button>
                                            <button class="btn btn-dark btn-sm m-1 rounded-0 float-right" (click)="addNewValueContainer(lv2)" data-toggle="tooltip" title="Add New {{lv2.labelOnScreen}}" aria-hidden="true"><i class="fa fa-plus"></i></button>
                                        </div>
                                        <div id="collapseOne{{j}}" class="collapse position-relative " aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="allvalues">
                                                <div [sortablejs]="lv2.list" [sortablejsOptions]="valuesOptions" class="d-flex flex-wrap">
                                                    <p class="mb-0" style="display:inline;" *ngFor="let data of lv2.list; let i = index">
                                                        <span class="btn badge-{{colors[i%4]}}-custom btn-sm m-1 rounded-0"> {{data.labelOnScreen}} <i class="fa fa-times"></i></span>
                                                    </p>

                                                    <!--<p></p>-->

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>




                    <div *ngIf="currentTab === 'TeamSetup'">                      
                        <div class="names-w">
                            <div class="row">
                                <div class="col-md-12 border-bottom">
                                    <h4 class="display-5">
                                        Sales Horizontal Level
                                        <button class="btn btn-sm float-right" data-toggle="collapse" data-target="#saleshorizontalscontainer" aria-expanded="true" aria-controls="saleshorizontalscontainer">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                    </h4>
                                </div>
                            </div>
                            <div style="display:inline-flex;" class="collapse" id="saleshorizontalscontainer">
                                <table class="table table-bordered" *ngFor="let level of salesBoundriesList; let i = index">
                                    <tbody *ngIf="salesBoundriesHierarchyLevelData['dataList'][keys[i]] != undefined">
                                        <tr *ngFor="let data of salesBoundriesHierarchyLevelData['dataList'][keys[i]];let j = index">
                                            <td scope="col" style="white-space:nowrap">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" name="shradio{{i}}" id="shradio{{i}}{{j}}" value="{{data.keyValue}}" (click)="setSalesHorizontalCurrentLevel(data,i)">
                                                    <label class="custom-control-label" for="shradio{{i}}{{j}}">{{data.labelOnScreen}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="white-space:nowrap">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customChecksh{{i}}" (click)="getLowerLevelHierarchy('SalesHorizontal',currenLevelData,i+1)">
                                                    <label class="custom-control-label" for="customChecksh{{i}}">Next Level <i class="fa fa-arrow-down"></i></label>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td scope="col" style="white-space:nowrap">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" name="shradio" id="shradio" value="role">
                                                    <label class="custom-control-label" for="shradio">role 1</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="names-w">
                            <div class="row">
                                <div class="col-md-12 border-bottom">
                                    <h4 class="display-5">
                                        Sales Vertical Level
                                        <button class="btn btn-sm float-right" data-toggle="collapse" data-target="#salesverticalscontainer" aria-expanded="true" aria-controls="salesverticalscontainer">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                    </h4>
                                </div>
                            </div>
                            <div style="display:inline-flex;" class="collapse" id="salesverticalscontainer">
                                <table class="table table-bordered" *ngFor="let level of salesVerticalList; let i = index">
                                    <tbody *ngIf="salesVerticalsHierarchyLevelData['dataList'][keys[i]] != undefined">
                                        <tr *ngFor="let data of salesVerticalsHierarchyLevelData['dataList'][keys[i]];let j = index">
                                            <td scope="col" style="white-space:nowrap">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" type="radio" name="svradio{{i}}" id="svradio{{i}}{{j}}" value="{{data.keyValue}}" (click)="setSalesVerticalCurrentLevel(data,i)">
                                                    <label class="custom-control-label" for="svradio{{i}}{{j}}">{{data.labelOnScreen}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="white-space:nowrap">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customChecksv{{i}}" (click)="getLowerLevelSalesVerticalHierarchy('SalesVertical',currenLevelData,i+1)">
                                                    <label class="custom-control-label" for="customChecksv{{i}}">Next Level <i class="fa fa-arrow-down"></i></label>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="names-w w-50">
                            <div class="row">
                                <div class="col-md-12 border-bottom">
                                    <h4 class="display-5">
                                        Role Hierarchy Levels
                                        <button class="btn btn-sm float-right" data-toggle="collapse" data-target="#salesverticalscontainer" aria-expanded="true" aria-controls="salesverticalscontainer">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                    </h4>
                                </div>
                            </div>
                            <!--<div class="row" id="optionHierarchy">
                <div class="col-md-4 mt-2" *ngFor="let role of roleHierarchyList;let i = index">
                    <div style="padding: 5px;border: 1px solid;">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="roleselect{{i}}" (click)="setTreeNode(role)">
                            <label class="custom-control-label" for="roleselect{{i}}">{{role.labelOnScreen}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-info">Save Hierarchy</button>
                </div>
            </div>-->
                            <div class="row" id="treeHierarchy">
                                <div class="col-md-12">
                                    <div class="tf-tree example pt-3">
                                        <ul>
                                            <ng-template #recursiveList let-list>
                                                <li *ngFor="let item of list; let i = index">
                                                    <span class="tf-nc">
                                                        {{item.title}}
                                                        <button class="btn btn-sm btn-primary float-right" id="{{item.level}}_{{i}}" style="position: absolute;top: -10px;right: -10px;padding: 2px 3px 2px 5px;border-radius: 100%;" (click)="addNewRoleHierarchyLevel($event,list);">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </span>
                                                    <ul *ngIf="item.children.length > 0">
                                                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                                                    </ul>
                                                </li>
                                            </ng-template>
                                            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
                                        </ul>
                                    </div>
                                    <button class="btn btn-info">Edit Hierarchy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
       
    </div>
</div>

<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="">
                    <div style="position: absolute;right: 2%;top: 0%;">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img alt="Transaction Success" src="/Content/images/Success.gif" style="width: 15%;height: auto;">
                        <h5>Transaction Successful</h5>
                    </div>
                </div>
                <div class="row float-right mt-3">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-info float-right " data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div style="position: absolute;right: 2%;top: 0%;">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img alt="Transaction Failed" src="~/Content/images/warning.gif" style="width: 15%;height: auto;">
                        <h5>Transaction Failed</h5>
                    </div>
                </div>
                <div class="row float-right mt-3">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-danger float-right" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewAttribute" tabindex="-1" role="dialog" aria-labelledby="addNewAttributeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body px-0 pt-0 pb-3">
                <div id="newKeyContainer" *ngIf="newKeyContainer">
                    <div class="modal-title">
                        <h5 class="line-on-side text-center">
                            <span>Create New {{subTabDisplay}}</span>
                        </h5>
                    </div>
                    <div *ngIf="currentTab != 'TeamSetup'" class="modal-content-pt">
                        <div class="row add-modal-lables">
                            <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                <input type="text"
                                       class="form-control"
                                       name="fullname"
                                       id="value"
                                       placeholder="{{subTabDisplay}} *"
                                       checkMandatory="true"
                                       [(ngModel)]="finalData.keyName"
                                       (focus)="hideErrors('newKeyContainer');" />
                                <label for="fullname">{{subTabDisplay}} <span class="color-danger">*</span></label>
                                <div id="value_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                            <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                <input id="los"
                                       class="form-control" checkMandatory="true"
                                       placeholder="Label On Screen *"
                                       title=""
                                       (focus)="hideErrors('newKeyContainer');"
                                       [(ngModel)]="finalData.labelOnScreen"
                                       type="text" />
                                <label for="fullname">Label On Screen <span class="color-danger">*</span></label>
                                <div id="los_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                            <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12" *ngIf="currentTab === 'SalesHorizontal' || currentTab === 'OperationalUnit'">
                                <input id="los"
                                       class="form-control" checkMandatory="true"
                                       placeholder=""
                                       title=""
                                       disabled
                                       (focus)="hideErrors('newKeyContainer');"
                                       [(ngModel)]="finalData.preferenceValue"
                                       type="text" />
                                <label for="fullname">Preference <span class="color-danger">*</span></label>
                                <div id="los_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                            <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                <select id="smonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.startMonth" checkMandatory="true">
                                    <option value="">Select Month</option>
                                    <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                                </select>
                                <label for="fullname">Start Month <span class="color-danger">*</span></label>
                                <div id="smonth_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                            <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                <select id="emonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.endMonth" checkMandatory="true">
                                    <option value="">Select Month</option>
                                    <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                                </select>
                                <label for="fullname">End Month <span class="color-danger">*</span></label>
                                <div id="emonth_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                            <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                <select id="year" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.year" checkMandatory="true">
                                    <option value="">Select Year</option>
                                    <option *ngFor="let selectedYearData of yearList" value="{{selectedYearData.keyValue}}">{{selectedYearData.keyValue}}</option>
                                </select>
                                <label for="fullname">Year <span class="color-danger">*</span></label>
                                <div id="year_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                            <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12 " *ngIf="currentTab === 'Role'">
                                <div id="linkedAttr" class="" elementType="multiselect" checkMandatory="true">
                                    <ng-multiselect-dropdown [placeholder]="'Select Horizontals'"
                                                             [data]="salesBoundriesListStr"
                                                             name="linkedAttr"
                                                             (click)="hideErrors('newKeyContainer');"
                                                             [(ngModel)]="finalData.linkedBoundries"
                                                             [settings]="dropdownSettings">
                                    </ng-multiselect-dropdown>
                                    <label for="fullname">Link Default Horizontals <span class="color-danger">*</span></label>
                                </div>
                                <div id="linkedAttr_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                            <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12" *ngIf="currentTab === 'SalesComponent'">
                                <select id="frequency" name="frequency" (focus)="hideErrors('newKeyContainer');" class="form-control" [(ngModel)]="finalData.uploadFrequency" checkMandatory="true">
                                    <option value="">Select Year</option>
                                    <option value="Week">Week</option>
                                    <option value="FortNight">FortNight</option>
                                    <option value="Month">Month</option>
                                    <!--<option value="Year">Year</option>-->
                                </select>
                                <label for="fullname">Frequency <span class="color-danger">*</span></label>
                                <div id="frequency_error" class="text-danger float-right displayError ng-hide"></div>
                            </div>
                            <ng-container *ngIf="currentTab === 'OperationalUnit'">
                                <ng-container *ngIf="currentTab === 'OperationalUnit' && upperOUsControls.length == 0">
                                    <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                        <select id="timeZone" name="timeZone" [(ngModel)]="finalData.timeZone" (focus)="hideErrors('newKeyContainer');" title="" class="form-control" checkMandatory="true">
                                            <option value="">Select Time</option>
                                            <option *ngFor="let item of timeZone; let i = index" value="{{item.name}}">{{item.name}}</option>
                                        </select>
                                        <label for="fullname">TimeZone <span class="color-danger">*</span></label>
                                        <div id="timeZone_error" class="text-danger float-right displayError ng-hide"></div>
                                    </div>
                                    <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                        <select id="currency" name="timeZone" [(ngModel)]="finalData.currency" (focus)="hideErrors('newKeyContainer');" title="" class="form-control" checkMandatory="true">
                                            <option value="">Select Currency</option>
                                            <option *ngFor="let item of currency; let i = index" value="{{item.code}}">{{item.code}}</option>
                                        </select>
                                        <label for="fullname">Currency <span class="color-danger">*</span></label>
                                        <div id="currency_error" class="text-danger float-right displayError ng-hide"></div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="upperOUsControls.length > 0">
                                    <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let item of upperOUsControls; let i = index">
                                        <div>
                                            <select id="{{item.keyValue}}" name="{{item.keyValue}}" [(ngModel)]="finalData[item.keyValueModel]" (focus)="hideErrors('newKeyContainer');" (change)="getUpperOUsList(upperOUsControls[i+1])" disabled title="" class="form-control" checkMandatory="true">
                                                <option value="">-Select {{item.keyValue}}-</option>
                                                <option *ngFor="let item of dataObjOUs[item.keyValue]; let i = index" value="{{item.keyValue}}">{{item.labelOnScreen}}</option>
                                            </select>
                                            <label for="fullname">{{item.labelOnScreen}} <span class="color-danger">*</span></label>
                                        </div>
                                        <div id="{{item.keyValue}}_error" class="text-danger float-right displayError ng-hide"></div>
                                    </div><table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table><table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="float-right d-flex">
                        <button class="btn rounded-0 btn-primary float-right mr-2" (click)="ngCreateMetaDataKey()">Submit</button>
                        <button class="btn rounded-0 btn-info float-right" data-dismiss="modal" (click)="clearModelData()" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewAttributeValue" tabindex="-1" role="dialog" aria-labelledby="addNewAttributeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body px-0 pt-0 pb-3">
                <div class="modal-title">
                    <h5 class="line-on-side text-center">
                        <span>Create New {{subTabDisplay}}</span>
                    </h5>
                </div>
                <div *ngIf="currentTab != 'TeamSetup'" class="modal-content-pt">
                    <div class="row add-modal-lables">
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="smonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.keyName" checkMandatory="true">
                                <option value="">Select {{subTabDisplay}}</option>
                                <option *ngFor="let subTab of subTabList; let i = index" value="{{subTab.keyValue}}">{{subTab.keyValue}}</option>
                            </select>
                            <label for="fullname">Start {{subTabDisplay}} <span class="color-danger">*</span></label>
                            <div id="smonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>

                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <input type="text"
                                   class="form-control"
                                   name="fullname"
                                   id="value"
                                   placeholder="{{finalData.keyName}} *"
                                   checkMandatory="true"
                                   [(ngModel)]="finalData.keyValue"
                                   (focus)="hideErrors('newKeyContainer');" />
                            <label for="fullname">{{finalData.keyName}} <span class="color-danger">*</span></label>
                            <div id="value_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <input id="los"
                                   class="form-control" checkMandatory="true"
                                   placeholder="Label On Screen *"
                                   title=""
                                   (focus)="hideErrors('newKeyContainer');"
                                   [(ngModel)]="finalData.labelOnScreen"
                                   type="text" />
                            <label for="fullname">Label On Screen <span class="color-danger">*</span></label>
                            <div id="los_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                       
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="smonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.startMonth" checkMandatory="true">
                                <option value="">Select Month</option>
                                <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                            </select>
                            <label for="fullname">Start Month <span class="color-danger">*</span></label>
                            <div id="smonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="emonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.endMonth" checkMandatory="true">
                                <option value="">Select Month</option>
                                <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                            </select>
                            <label for="fullname">End Month <span class="color-danger">*</span></label>
                            <div id="emonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="year" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.year" checkMandatory="true">
                                <option value="">Select Year</option>
                                <option *ngFor="let selectedYearData of yearList" value="{{selectedYearData.keyValue}}">{{selectedYearData.keyValue}}</option>
                            </select>
                            <label for="fullname">Year <span class="color-danger">*</span></label>
                            <div id="year_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12 " *ngIf="currentTab === 'Role'">
                            <div id="linkedAttr" class="" elementType="multiselect" checkMandatory="true">
                                <ng-multiselect-dropdown [placeholder]="'Select Horizontals'"
                                                         [data]="salesBoundriesListStr"
                                                         name="linkedAttr"
                                                         (click)="hideErrors('newKeyContainer');"
                                                         [(ngModel)]="finalData.linkedBoundries"
                                                         [settings]="dropdownSettings">
                                </ng-multiselect-dropdown>
                                <label for="fullname">Link Default Horizontals <span class="color-danger">*</span></label>
                            </div>
                            <div id="linkedAttr_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12" *ngIf="currentTab === 'SalesComponent'">
                            <select id="frequency" name="frequency" (focus)="hideErrors('newKeyContainer');" class="form-control" [(ngModel)]="finalData.uploadFrequency" checkMandatory="true">
                                <option value="">Select Year</option>
                                <option value="Week">Week</option>
                                <option value="FortNight">FortNight</option>
                                <option value="Month">Month</option>
                                <!--<option value="Year">Year</option>-->
                            </select>
                            <label for="fullname">Frequency <span class="color-danger">*</span></label>
                            <div id="frequency_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <ng-container *ngIf="currentTab === 'OperationalUnit'">
                            <ng-container *ngIf="currentTab === 'OperationalUnit' && upperOUsControls.length == 0">
                                <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                    <select id="timeZone" name="timeZone" [(ngModel)]="finalData.timeZone" (focus)="hideErrors('newKeyContainer');" title="" class="form-control" checkMandatory="true">
                                        <option value="">Select Time</option>
                                        <option *ngFor="let item of timeZone; let i = index" value="{{item.name}}">{{item.name}}</option>
                                    </select>
                                    <label for="fullname">TimeZone <span class="color-danger">*</span></label>
                                    <div id="timeZone_error" class="text-danger float-right displayError ng-hide"></div>
                                </div>
                                <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                    <select id="currency" name="timeZone" [(ngModel)]="finalData.currency" (focus)="hideErrors('newKeyContainer');" title="" class="form-control" checkMandatory="true">
                                        <option value="">Select Currency</option>
                                        <option *ngFor="let item of currency; let i = index" value="{{item.code}}">{{item.code}}</option>
                                    </select>
                                    <label for="fullname">Currency <span class="color-danger">*</span></label>
                                    <div id="currency_error" class="text-danger float-right displayError ng-hide"></div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="upperOUsControls.length > 0">
                                <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let item of upperOUsControls; let i = index">
                                    <div>
                                        <select id="{{item.keyValue}}" name="{{item.keyValue}}" [(ngModel)]="finalData[item.keyValueModel]" (focus)="hideErrors('newKeyContainer');" (change)="getUpperOUsList(upperOUsControls[i+1])" disabled title="" class="form-control" checkMandatory="true">
                                            <option value="">-Select {{item.keyValue}}-</option>
                                            <option *ngFor="let item of dataObjOUs[item.keyValue]; let i = index" value="{{item.keyValue}}">{{item.labelOnScreen}}</option>
                                        </select>
                                        <label for="fullname">{{item.labelOnScreen}} <span class="color-danger">*</span></label>
                                    </div>
                                    <div id="{{item.keyValue}}_error" class="text-danger float-right displayError ng-hide"></div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="container">
                    <div class="float-right d-flex">
                        <button class="btn rounded-0 btn-primary float-right mr-2" (click)="ngCreateMetaDataValue()">Submit</button>
                        <button class="btn rounded-0 btn-info float-right" data-dismiss="modal" (click)="clearModelData()" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reAssignAttribute" tabindex="-1" role="dialog" aria-labelledby="addNewAttributeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body px-0 pt-0 pb-3">
                <div class="modal-title">
                    <h5 class="line-on-side text-center">
                        <span>Re-Assign {{subTabDisplay}}</span>
                    </h5>
                </div>
                <div *ngIf="currentTab != 'TeamSetup'" class="modal-content-pt">
                    <div class="row add-modal-lables">
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12" *ngFor="let item of controlsArray; let i = index">
                            <select id="{{item.keyValue}}" name="validation-simple[type]" [(ngModel)]="finalData[item.modalKey]" (change)="getRequiredAttributesList(controlsArray[i+1])"
                                    title="" class="form-control remove-disable endMonth-enable" checkMandatory="true">
                                <option value="">Select {{item.keyValue}}</option>
                                <option *ngFor="let itemss of dataObj[i].value; let j = index" value="{{itemss.id}}">{{itemss.keyValue}}</option>
                            </select>
                            <label for="fullname">Select {{item.keyValue}}<span class="color-danger">*</span></label>
                            <div id="{{item.keyValue}}_error" class="text-danger float-right ng-hide"></div>
                        </div>

                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="smonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.startMonth" checkMandatory="true">
                                <option value="">Select Month</option>
                                <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                            </select>
                            <label for="fullname">Start Month <span class="color-danger">*</span></label>
                            <div id="smonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="emonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.endMonth" checkMandatory="true">
                                <option value="">Select Month</option>
                                <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                            </select>
                            <label for="fullname">End Month <span class="color-danger">*</span></label>
                            <div id="emonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="year" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalData.year" checkMandatory="true">
                                <option value="">Select Year</option>
                                <option *ngFor="let selectedYearData of yearList" value="{{selectedYearData.keyValue}}">{{selectedYearData.keyValue}}</option>
                            </select>
                            <label for="fullname">Year <span class="color-danger">*</span></label>
                            <div id="year_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12 " *ngIf="currentTab === 'RoleHierarchy'">
                            <div id="linkedAttr" class="" elementType="multiselect" checkMandatory="true">
                                <ng-multiselect-dropdown [placeholder]="'Select Horizontals'"
                                                         [data]="salesBoundriesListStr"
                                                         name="linkedAttr"
                                                         (click)="hideErrors('newKeyContainer');"
                                                         [(ngModel)]="finalData.linkedBoundries"
                                                         [settings]="dropdownSettings">
                                </ng-multiselect-dropdown>
                                <label for="fullname">Link Default Horizontals <span class="color-danger">*</span></label>
                            </div>
                            <div id="linkedAttr_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12" *ngIf="currentTab === 'SalesComponent'">
                            <select id="frequency" name="frequency" (focus)="hideErrors('newKeyContainer');" class="form-control" [(ngModel)]="finalData.uploadFrequency" checkMandatory="true">
                                <option value="">Select Year</option>
                                <option value="Week">Week</option>
                                <option value="FortNight">FortNight</option>
                                <option value="Month">Month</option>
                                <!--<option value="Year">Year</option>-->
                            </select>
                            <label for="fullname">Frequency <span class="color-danger">*</span></label>
                            <div id="frequency_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <ng-container *ngIf="currentTab === 'OperationalUnit'">
                            <ng-container *ngIf="currentTab === 'OperationalUnit' && upperOUsControls.length == 0">
                                <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                    <select id="timeZone" name="timeZone" [(ngModel)]="finalData.timeZone" (focus)="hideErrors('newKeyContainer');" title="" class="form-control" checkMandatory="true">
                                        <option value="">Select Time</option>
                                        <option *ngFor="let item of timeZone; let i = index" value="{{item.name}}">{{item.name}}</option>
                                    </select>
                                    <label for="fullname">TimeZone <span class="color-danger">*</span></label>
                                    <div id="timeZone_error" class="text-danger float-right displayError ng-hide"></div>
                                </div>
                                <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                    <select id="currency" name="timeZone" [(ngModel)]="finalData.currency" (focus)="hideErrors('newKeyContainer');" title="" class="form-control" checkMandatory="true">
                                        <option value="">Select Currency</option>
                                        <option *ngFor="let item of currency; let i = index" value="{{item.code}}">{{item.code}}</option>
                                    </select>
                                    <label for="fullname">Currency <span class="color-danger">*</span></label>
                                    <div id="currency_error" class="text-danger float-right displayError ng-hide"></div>
                                </div>
                            </ng-container>

                           <!-- <ng-container *ngIf="upperOUsControls.length > 0">
                                <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let item of upperOUsControls; let i = index">
                                    <div>
                                        <select id="{{item.keyValue}}" name="{{item.keyValue}}" [(ngModel)]="finalData[item.keyValueModel]" (focus)="hideErrors('newKeyContainer');" (change)="getUpperOUsList(upperOUsControls[i+1])" disabled title="" class="form-control" checkMandatory="true">
                                            <option value="">-Select {{item.keyValue}}-</option>
                                            <option *ngFor="let item of dataObjOUs[item.keyValue]; let i = index" value="{{item.keyValue}}">{{item.labelOnScreen}}</option>
                                        </select>
                                        <label for="fullname">{{item.labelOnScreen}} <span class="color-danger">*</span></label>
                                    </div>
                                    <div id="{{item.keyValue}}_error" class="text-danger float-right displayError ng-hide"></div>
                                </div>
                            </ng-container>-->
                        </ng-container>
                    </div>
                </div>
                <div class="container">
                    <div class="float-right d-flex">
                        <button class="btn rounded-0 btn-primary float-right mr-2" (click)="ngReAssignMetaData()">Submit</button>
                        <button class="btn rounded-0 btn-info float-right" data-dismiss="modal" (click)="clearModelData()" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deactiveAttributePopup" tabindex="-1" role="dialog" aria-labelledby="addNewAttributeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body px-0 pt-0 pb-3">
                <div class="modal-title">
                    <h5 class="line-on-side text-center">
                        <span>Deactivate Existing {{subTabDisplay}}</span>
                    </h5>
                </div>
                <div *ngIf="currentTab != 'TeamSetup'" class="modal-content-pt">
                    <div class="row add-modal-lables">

                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="smonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalDataa.startMonth" checkMandatory="true">
                                <option value="">Select Month</option>
                                <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                            </select>
                            <label for="fullname">Start Month <span class="color-danger">*</span></label>
                            <div id="smonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="emonth" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalDataa.endMonth" checkMandatory="true">
                                <option value="">Select Month</option>
                                <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                            </select>
                            <label for="fullname">End Month <span class="color-danger">*</span></label>
                            <div id="emonth_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                        <div class="field col-lg-4 col-md-3 col-sm-6 col-xs-12">
                            <select id="year" name="validation-simple[type]" class="form-control remove-disable endMonth-enable" (focus)="hideErrors('newKeyContainer');" [(ngModel)]="finalDataa.year" checkMandatory="true">
                                <option value="">Select Year</option>
                                <option *ngFor="let selectedYearData of yearList" value="{{selectedYearData.keyValue}}">{{selectedYearData.keyValue}}</option>
                            </select>
                            <label for="fullname">Year <span class="color-danger">*</span></label>
                            <div id="year_error" class="text-danger float-right displayError ng-hide"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="float-right d-flex">
                        <button class="btn rounded-0 btn-primary float-right mr-2" (click)="deactivateSalesHorizontal()">Submit</button>
                        <button class="btn rounded-0 btn-info float-right" data-dismiss="modal" (click)="clearModelData()" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deactivateExceptionPopup" tabindex="-1" role="dialog" aria-labelledby="addNewAttributeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="float-right d-flex">
                    <button class="btn rounded-0 btn-primary float-right mr-2" (click)="deactivateSalesHorizontalFinalSubmit()">Submit</button>
                    <button class="btn rounded-0 btn-info float-right" data-dismiss="modal" (click)="clearModelData()" type="button">Close</button>
                </div>
            </div>
            <div class="modal-body px-0 pt-0 pb-3">
                <div class="modal-title">
                    <h5 class="line-on-side text-center">
                        <span>Deactivate Exception {{subTabDisplay}}</span>
                    </h5>
                </div>
                <div *ngIf="currentTab != 'TeamSetup'" class="modal-content-pt">
                    <div class="row add-modal-lables">
                        Are you sure you want to deactivate the above horizontal? It will also end the hierarchy as per beolow level.
                        See below hierarchy data.
                        <div>
                            <div class="col-12 d3treeScroll" id="D3_TreeDeactivate"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ReAssignExceptionPopup" tabindex="-1" role="dialog" aria-labelledby="ReAssignExceptionPopupLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content scroll-y">
            <div class="modal-body px-0 pt-0 pb-3">
                <div class="modal-title">
                    <h5 class="line-on-side text-center">
                        <span>Re-Assign Exception {{subTabDisplay}}</span>
                    </h5>
                </div>
                <div *ngIf="currentTab != 'TeamSetup'" class="modal-content-pt">
                    <div class="row add-modal-lables">
                        Note-: All existing heirarchy will be end based on the start month of selected heirarchy, Kindly select the option if you want to re-assign all the heirarchy
                    </div>
                   
                    <!-- Material unchecked -->
                    <div class="form-check">
                        <input type="radio" class="form-check-input" (click)="AssignFlag('Node')" id="materialUnchecked" name="materialExampleRadios" checked>
                        <label class="form-check-label" for="materialUnchecked">Only Re-Assign Selected Node For Selected Period (Exclude All Related Children)</label>
                    </div>

                    <!-- Material checked -->
                    <div class="form-check">
                        <input type="radio" class="form-check-input" (click)="AssignFlag('Heirarchy')" id="materialChecked" name="materialExampleRadios" >
                        <label class="form-check-label" for="materialChecked">Re-Assign Node And All Related Children </label>
                    </div>
                    <div class="scroll-x">
                        <div class="col-12 d3treeScroll" id="D3_TreeReAssign"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="float-right d-flex">
                        <button class="btn rounded-0 btn-primary float-right mr-2" (click)="MetaDataReAssign()">Submit</button>
                        <button class="btn rounded-0 btn-info float-right" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

