﻿@{
    Layout = null;
    ViewBag.Title = "ConfigureActualTemplate";
}
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
</style>

<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">Configure Actual Template</h1>
    </div>

    <div class="clear"></div>
</header>

<!-- Row -->
<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
    <div class="row" style="margin-top:20px;">
        <table id="addColumnTable" class="jsgrid-table table table-striped table-hover" style="display:block;">
            <tbody>
                <tr class="jsgrid-row">

                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        Sales Components
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        Sales Horizontals
                    </td>

                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">
                        Start Month
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">End Month</td>
                </tr>
                <tr class="jsgrid-row">

                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">

                        <ng-multiselect-dropdown id="multifieldSales" style="" [placeholder]="'Select Sales Components'"
                                                 [data]="performanceComponent"
                                                 [(ngModel)]="performance"
                                                 [settings]="dropdownSettings"
                                                 (onSelect)="onItemSelectPerformance($event)"
                                                 (onDeSelect)="onItemDeSelectPerformance($event)"
                                                 (onSelectAll)="onSelectAllPerformance($event)"
                                                 (onDeSelectAll)="onDeSelectAllPerformance($event)">
                        </ng-multiselect-dropdown>
                        <!--<select id="performanceSelection"
                                class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="performanceSelection" checkMandatory="true"
                                (change)="OnPerformanceSelect(performanceSelection);">
                            <option value="" selected="selected">-Select Performance -</option>
                            <option *ngFor="let perform of performanceComponent;let i = index" value="{{perform}}">{{perform}}</option>
                        </select>-->
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        <ng-multiselect-dropdown id="multifieldSales" style="" [placeholder]="'Select Sales Horizontals'"
                                                 [data]="salesHorizontal"
                                                 [(ngModel)]="salesList"
                                                 [settings]="dropdownSettings"
                                                 (onSelect)="onItemSelectSales($event)"
                                                 (onDeSelect)="onItemDeSelectSales($event)"
                                                 (onSelectAll)="onSelectAllSales($event)"
                                                 (onDeSelectAll)="onDeSelectAllSales($event)">
                        </ng-multiselect-dropdown>

                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">
                        <select id="startMonth"
                                class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="startMonth" checkMandatory="true"
                                (change)="OnStartMonthSelect(startMonth);">
                            <option value="" selected="selected">-Start Month-</option>
                            <option *ngFor="let month of monthsList;let i = index" value="{{month.keyValue}}">{{month.keyName}}</option>
                        </select>
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">
                        <select id="endMonth"
                                class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="endMonth" checkMandatory="true"
                                (change)="OnEndMonthSelect(endMonth);">
                            <option value="" selected="selected">-End Month-</option>
                            <option *ngFor="let month of monthsList;let i = index" value="{{month.keyValue}}">{{month.keyName}}</option>
                        </select>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

    <div class="row">

        <div class="col-md-6 col-sm-6"
             style="height:100px;">

            <div class="white-box">

            </div>
        </div>
        <div class="col-md-6 col-sm-6"
             style="height:100px;">
            <div class="white-box">
                <button type="button" class="btn  btn-warning" style="border-radius:1px; margin:15px;float:right;" (click)="generateTemplate()">Generate New ActualP Tempalate&nbsp;&nbsp;<i class="ti-printer"></i></button>&nbsp;&nbsp;

            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12 col-sm-12"
             id="sampleTemplate" style="display:block;">
            <div class="white-box">
                <h3 class="box-title m-b-0">Default Actual Template</h3>

                <div class="bootstrap-table" style="display:block;">

                    <div class="fixed-table-toolbar">
                        <div class="columns columns-right btn-group pull-right">
                            <div class="keep-open btn-group" title="Columns">

                            </div>
                        </div>
                    </div>
                    <div class="fixed-table-container">
                        <div class="fixed-table-header" style=" overflow-x:scroll;">

                            <table class="table table-bordered" id="beforeDownload">
                                <thead>
                                    <tr>
                                        <th id="column{{i}}" style="text-align:center; background-color:#a0b3c2;display:table-cell;" align="center" *ngFor="let column of columnsId;let i = index">
                                            {{column}}

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!--
                                            <td *ngFor="let col of excelColumn;let i = index">
                                                <div class="d-flex text-center" style="white-space: nowrap;">
                                                    {{col}}

                                                    <button id="col{{i}}" type="button" style="margin-left:10px;" (click)="removeActualColumn(i)" class="close px-1 float-right" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <button id="labelCol{{i}}" type="button" style="margin-left:10px;" (click)="editLabel(i)" class="close px-1 float-right" aria-label="Add">
                                                        <span aria-hidden="true">&Psi;</span>
                                                    </button>

                                                </div>

                                            </td>
                                            -->
                                        <td *ngFor="let header of editHeader;let i = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">
                                                {{header}}

                                                <button id="header{{i}}" type="button" style="margin-left:10px;" (click)="removeActualColumn(i)" class="close px-1 float-right" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <!-- <button id="labelCol{{i}}" type="button" style="margin-left:10px;" (click)="editLabel(i)" class="close px-1 float-right" aria-label="Add">
                                                     <span aria-hidden="true">&Psi;</span>
                                                 </button>
                                                 -->
                                            </div>

                                        </td>
                                    </tr>

                                    <tr id="headerRow" style="display: none;">
                                        <td *ngFor="let header of editHeader;let j = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">

                                                <input type="text" id="editHeader{{j}}" [(ngModel)]="editHeader[j]" value="{{header}}" />
                                            </div>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-bordered" id="afterDownload" style="display:none;">
                                <thead>
                                    <tr>
                                        <th id="aftercol{{i}}" style="text-align:center; background-color:#a0b3c2;display:table-cell;" align="center" *ngFor="let aftercol of columnsId;let i = index">
                                            {{aftercol}}

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngFor="let excelcol of excelColumn;let i = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">
                                                {{excelcol}}

                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class="fixed-table-body">

                        </div>
                        <div class="fixed-table-footer" style="display: none;">
                            <table><tbody><tr></tr></tbody></table>

                        </div>
                        <div class="fixed-table-pagination" style="display: none;"></div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 col-sm-6"
             style="height:100px;">

            <div class="white-box">
                <a href="../ExcelReport/ExportExcel?name={{path}}" id="ExportExcelData"></a>
                <button type="button" id="downTempBtnPrevious" style="margin:15px; float:left; padding:10px; display:none; border-radius:1px;" class="btn btn-info" (click)="DownloadTemplate()" aria-label="Close">Download Template&nbsp;&nbsp;<i class="ti-download"></i></button>

            </div>
        </div>
        <div class="col-md-6 col-sm-6"
             style="height:100px;">
            <div class="white-box">
                <button aria-label="Close" class="btn btn-info" id="downTempBtn" style="margin: 15px; float: right; display: block; border-radius: 1px;" type="button" (click)="DownloadTemplate()">Download Template&nbsp;&nbsp;<i class="ti-download"></i></button>
                <button aria-label="Close" class="btn btn-outline-danger" id="selectedColumn" style="margin: 15px; float: right; display: none; border-radius: 1px;" type="button" (click)="selectExcelColumn()">Select Column for Reporting&nbsp;&nbsp;<i class="ti-download"></i></button>
                <button type="button" class="btn btn-lg btn-warning m-r-10" id="editHeaderBtn" style="margin:15px; display:none; padding:10px; float:right; border-radius:1px;" (click)="editActualHeader()">Edit Header&nbsp;&nbsp;<i class="ti-printer"></i></button>&nbsp;&nbsp;
                <button type="button" class="btn btn-lg btn-info m-r-10" id="updateHeaderBtn" style="margin:15px; display:none; padding:10px; float:right; border-radius:1px;" (click)="updateActualHeader()">Edit Header&nbsp;&nbsp;<i class="ti-printer"></i></button>&nbsp;&nbsp;

            </div>
        </div>

    </div>

</div>

<div id="editLabelPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Edit Label</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">

                <table id="addColumnTable" class="jsgrid-table table table-striped table-hover" style="display:block;">
                    <tbody>

                        <tr class="jsgrid-row">

                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">
                                <input type="text" id="empCompText" style="" class="form-control input-sm" [(ngModel)]="newLabel" />
                            </td>

                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">
                                <button type="button" id="empCompBtn" style="border-radius:0px; display:none;" class="btn btn-md btn-info m-l-20" (click)="addLabel(newLabel,i)">Add New Component</button>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="errorPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <h4 class="page-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-info-alt f-t-danger-icon"></i><br>
                    {{message}}
                </p>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" data-dismiss="modal">Close</button><!--(click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
        </div>

    </div>
</div>

<div id="successPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Download Template</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">

                <table id="addColumnTable" class="jsgrid-table table table-striped table-hover" style="display:block;">
                    <tbody>
                        <tr class="jsgrid-row">

                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; text-align:justify; border:none !important;">
                                <div class="form-check">
                                    <em style="text-align:justify;">This template will serve as the active working structure of Actual data for the given time period. You can alter the  Actual template only after the alloted time period.</em>
                                </div>
                            </td>



                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">
                                <button type="button" id="ExportExcelDataBtn" class="btn btn-block btn-outline-warning m-l-20" (click)="ExportDataSetToExcel()">Download</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <!-- (click)="ExportDataSetToExcel()" (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" data-dismiss="modal">Close</button><!--(click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
        </div>

    </div>
</div>

<div id="previousTemplatePopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <h4 class="page-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-info-alt f-t-danger-icon"></i><br>
                    {{message}}
                </p>
                <div class="bootstrap-table" style="display:block;">

                    <div class="fixed-table-toolbar">
                        <div class="columns columns-right btn-group pull-right">
                            <div class="keep-open btn-group" title="Columns">

                            </div>
                        </div>
                    </div>
                    <div class="fixed-table-container">
                        <div class="fixed-table-header" style=" overflow-x:scroll;">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th id="col{{i}}" style="text-align:center; background-color:#a0b3c2;display:table-cell;" align="center" *ngFor="let col of previousColumnsId;let i = index">
                                            {{col}}

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngFor="let col of previousExcelColumn;let i = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">
                                                {{col}}

                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-bordered" id="afterDownload" style="display:none;">
                                <thead>
                                    <tr>
                                        <th id="col{{i}}" style="text-align:center; background-color:#a0b3c2;display:table-cell;" align="center" *ngFor="let col of columnsId;let i = index">
                                            {{col}}

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngFor="let col of excelColumn;let i = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">
                                                {{col}}

                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class="fixed-table-body">

                        </div>
                        <div class="fixed-table-footer" style="display: none;">
                            <table><tbody><tr></tr></tbody></table>

                        </div>
                        <div class="fixed-table-pagination" style="display: none;"></div>
                    </div>
                </div>
                <div class="clearfix">

                </div>
                <div class="modal-footer f-t-danger">
                    <button type="button" class="btn" data-dismiss="modal">Close</button><!--(click)="ngOncloseSuccessPopUp('sucessPopup')"-->
                </div>
            </div>
        </div>

    </div>
</div>

<div id="columnSeletionPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Reporting Column</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">

                <table id="addColumnTable" class="jsgrid-table table table-striped table-hover" style="display:block;">
                    <tbody>
                        <tr class="jsgrid-row">
                            <select id="selectCol"
                                    class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="selectColumn" checkMandatory="true"
                                    (change)="OnColumnSelect(selectColumn);">
                                <option value="" selected="selected">- Select Reporting Column-</option>
                                <option *ngFor="let exCol of excelColumn;let i = index" value="{{exCol}}">{{exCol}}</option>
                            </select>

                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">

                                <button type="button" class="btn  btn-outline-danger btn-block" style="border-radius:1px; margin-top:10px;" (click)="selectColumn()">Set Column for Reporting&nbsp;&nbsp;</button>&nbsp;&nbsp;
                            </td>

                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">
                                <button type="button" id="empCompBtn" style="border-radius:0px; display:none;" class="btn btn-md btn-info m-l-20" (click)="addemployeeComponent(newEmployee)">Add New Component</button>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
