﻿
@{
    Layout = null;
    ViewBag.Title = "ConfigureTemplate";
}
<style type="text/css">
    .table-sortable tbody tr {
        cursor: move;
    }

    .table-fit {
        width: 1px;
    }

    .table-scroll {
        position: relative;
        max-width: 600px;
        margin: auto;
        overflow: hidden;
        border: 1px solid #000;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid #000;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll thead, .table-scroll tfoot {
        background: #f9f9f9;
    }

    .clone {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

        .clone th, .clone td {
            visibility: hidden
        }

        .clone td, .clone th {
            border-color: transparent
        }

        .clone tbody th {
            visibility: visible;
            color: red;
        }

        .clone .fixed-side {
            border: 1px solid #000;
            background: #eee;
            visibility: visible;
        }

        .clone thead, .clone tfoot {
            background: transparent;
        }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<!-- Row -->
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">Configure Operational Template</h1>
    </div>
    <div class="clear"></div>
</header>
<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">

    <div class="row" style="display:none;">
        <table id="sort2" class="grid table table-bordered table-sortable" style="margin-bottom: -1px">
            <thead>
                <tr>
                    <th align="center" style="width:100px;">Column</th>
                    <th align="center" style=" width: 332px;">Value</th>
                    <th align="center" style=" width: 470px;">Grade</th>
                    <th align="center" style="width:100px;">Action</th>
                </tr>
            </thead>
        </table>
        <div class="table-responsive" style="overflow-y:scroll;max-height:500px;width:100%;">
            <table class="grid table table-bordered table-sortable">
                <tbody style="">
                    <tr *ngFor="let rows of tableRows;let i = index" style="width:100px;">
                        <td style="width:107px;" align="center" data-id="row{{i}}">{{rows}}</td>
                        <td align="center" style=" width: 331px;">
                            <select id="meta"
                                    class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="meta[i]" checkMandatory="true"
                                    (change)="OnDataTypeChange(i);">
                                <option value="">-Select Type-</option>
                                <option *ngFor="let meta of metas;let i = index" value="{{meta}}">{{meta}}</option>
                            </select>
                        </td>
                        <td align="center" style=" width: 470px;">
                            <select id="meta"
                                    class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="field[i]" checkMandatory="true"
                                    (change)="onFieldChange(i);">
                                <option value="">-Select Values-</option>
                                <option *ngFor="let field of fields[i];let i = index" value="{{field}}">{{field}}</option>
                            </select>
                            <table id="performanceTable{{i}}" class="jsgrid-table table table-striped table-hover" style="display:none;">
                                <tbody>
                                    <tr class="jsgrid-row">


                                        <td class="jsgrid-cell jsgrid-align-right" style="width: 250px; border:none !important;">

                                            <ng-multiselect-dropdown [placeholder]="'BG Type'"
                                                                     [data]="BGType"
                                                                     [(ngModel)]="BGType[i]"
                                                                     [settings]="dropdownSettings"
                                                                     (onSelect)="onItemSelectBGTarget($event,i)"
                                                                     (onDeSelect)="onItemDeSelectBGTarget($event,i)"
                                                                     (onSelectAll)="onSelectAllBGTarget($event,i)"
                                                                     (onDeSelectAll)="onDeSelectAllBGTarget($event,i)">
                                            </ng-multiselect-dropdown>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right" style="width: 250px; border:none !important;">

                                            <ng-multiselect-dropdown [placeholder]="'BU Type'"
                                                                     [data]="BUType"
                                                                     [(ngModel)]="BUType[i]"
                                                                     [settings]="dropdownSettings"
                                                                     (onSelect)="onItemSelectBUTarget($event,i)"
                                                                     (onDeSelect)="onItemDeSelectBUTarget($event,i)"
                                                                     (onSelectAll)="onSelectAllBUTarget($event,i)"
                                                                     (onDeSelectAll)="onDeSelectAllBUTarget($event,i)">
                                            </ng-multiselect-dropdown>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right" style="width: 250px; border:none !important;">

                                            <ng-multiselect-dropdown [placeholder]="' months'"
                                                                     [data]="months"
                                                                     [(ngModel)]="months[i]"
                                                                     [settings]="dropdownSettings"
                                                                     (onSelect)="onItemSelectMonth($event)"
                                                                     (onDeSelect)="onItemDeSelectMonth($event)"
                                                                     (onSelectAll)="onSelectAllMonth($event)"
                                                                     (onDeSelectAll)="onDeSelectAllMonth($event)">
                                            </ng-multiselect-dropdown>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right" style="width: 250px;border:none !important;">
                                            <button type="button" id="addPerformanceBtn{{i}}" class="btn btn-block  accordion  btn-outline-success m-l-20" style="border-radius:0px;" (click)=" AddPerformance(i);">Add Columns</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="salesTable{{i}}" class="jsgrid-table table table-striped table-hover" style="display:none;">
                                <tbody>
                                    <tr class="jsgrid-row">

                                        <td class="jsgrid-cell jsgrid-align-right" style="width: 250px;border:none !important;" *ngFor="let emp of employeeComponent;let i = index;">
                                            <input type="checkbox" id="addEmpAttributes{{i}}" [(ngModel)]="isChecked" (change)="AddCustomerDetails(i,isChecked?'Y':'N')" />{{emp}}
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right" style="width: 250px;border:none !important;">
                                            <button data-toggle="tooltip" style="border-radius:0px;" data-placement="top" title="Add New Employee Component" (click)="viewEmpComponent()" class="btn btn-sm btn-success">Add New</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td align="center" style="width:83px;"><button class="btn btn-outline-info" style="border-radius: 10px;" (click)="onAdd(i)">+</button></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <table id="addColumnTable" class="jsgrid-table table table-striped table-hover" style="display:block;">
            <tbody>
                <tr class="jsgrid-row">

                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        Sales Component
                    </td>

                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">
                        Business Verticals
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */"> Sales Horizontals</td>
                </tr>
                <tr class="jsgrid-row">

                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        <ng-multiselect-dropdown id="multifieldPerformance{{i}}" style="" [placeholder]="'Select Performance'"
                                                 [data]="performanceList"
                                                 [(ngModel)]="performanceComponent"
                                                 [settings]="dropdownSettings"
                                                 (onSelect)="onItemSelectPerformance($event)"
                                                 (onDeSelect)="onItemDeSelectPerformance($event)"
                                                 (onSelectAll)="onSelectAllPerformance($event)"
                                                 (onDeSelectAll)="onDeSelectAllPerformance($event)">
                        </ng-multiselect-dropdown>
                    </td>

                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">
                        <ng-multiselect-dropdown [placeholder]="'Select BusinessVertical'"
                                                 [data]="businessVerticalList"
                                                 [(ngModel)]="businessVertical"
                                                 [settings]="dropdownSettings"
                                                 (onSelect)="onItemSelectBusinessVertical($event)"
                                                 (onDeSelect)="onItemDeSelectBusinessVertical($event)"
                                                 (onSelectAll)="onSelectAllBusinessVertical($event)"
                                                 (onDeSelectAll)="onDeSelectAllBusinessVertical($event)">
                        </ng-multiselect-dropdown>
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">                      
                        <ng-multiselect-dropdown id="multifieldSales" style="" [placeholder]="'Select Sales Attributes'"
                                                 [data]="salesHorizontals"
                                                 [(ngModel)]="salesList"
                                                 [settings]="dropdownSettings"
                                                 (onSelect)="onItemSelectSales($event)"
                                                 (onDeSelect)="onItemDeSelectSales($event)"
                                                 (onSelectAll)="onSelectAllSales($event)"
                                                 (onDeSelectAll)="onDeSelectAllSales($event)">
                        </ng-multiselect-dropdown>                       
                    </td>
                </tr>
                <tr class="jsgrid-row">
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        Start Month
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        End Month
                    </td>

                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">
                        Year
                    </td>
                </tr>
                <tr class="jsgrid-row">
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        <select id="startMonth"
                                class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="startMonth" checkMandatory="true"
                                (change)="OnStartMonthSelect(startMonth);">
                            <option value="" selected="selected">-Start Month-</option>
                            <option *ngFor="let month of monthsList;let i = index" value="{{month.keyValue}}">{{month.keyName}}</option>
                        </select>
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; /* border:none !important; */">
                        <select id="endMonth"
                                class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="endMonth" checkMandatory="true"
                                (change)="OnEndMonthSelect(endMonth);">
                            <option value="">-End Month-</option>
                            <option *ngFor="let month of monthsList;let i = index" value="{{month.keyValue}}">{{month.keyName}}</option>
                        </select>
                    </td>
                    <td class="jsgrid-cell jsgrid-align-right" style="width: 500px;/* border:none !important; */">
                        <select id="startMonth"
                                class="form-control input-sm remove-disable endMonth-enable" [(ngModel)]="currentYear" checkMandatory="true"
                                (change)="OnYearSelect(currentYear);">
                            <option value="" selected="selected">-Start Year-</option>
                            <option *ngFor="let year of currentYear;let i = index" value="{{year}}">{{year}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6"
             style="height:100px;">

            <div class="white-box">
                <button data-toggle="tooltip" style="border-radius:0px; margin:2px;" data-placement="top" title="Add New Employee Component" (click)="viewEmpComponent()" class="btn btn-sm btn-success">Add New Employee Component</button>
                <button data-toggle="tooltip" style="border-radius:0px;  margin:2px;" data-placement="top" title="Add New Customer Component" (click)="viewCustComponent()" class="btn btn-sm btn-success">Add New Customer Component</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-6"
             style="height:100px;">
            <div class="white-box">
                <button type="button" class="btn  btn-warning" style="border-radius:1px; margin:15px;float:right;" (click)="generateTemplate()">Generate New OP Tempalate&nbsp;&nbsp;<i class="ti-printer"></i></button>&nbsp;&nbsp;

            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12"
             id="sampleTemplate" style="display:block;">
            <div class="white-box">
                <h3 class="box-title m-b-0">Default OP Template</h3>

                <div class="bootstrap-table" style="display:block;">

                    <div class="fixed-table-toolbar">
                        <div class="columns columns-right btn-group pull-right">
                            <div class="keep-open btn-group" title="Columns">

                            </div>
                        </div>
                    </div>
                    <div class="fixed-table-container">
                        <div class="fixed-table-header" style=" overflow-x:scroll;">

                            <table class="table table-bordered" id="beforeDownload">
                                <thead>
                                    <tr>
                                        <th id="col{{i}}" style="text-align:center; background-color:#a0b3c2;display:table-cell;" align="center" *ngFor="let col of columnsId;let i = index">
                                            {{col}}

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngFor="let col of excelColumn;let i = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">
                                                {{col}}
                                                <button id="col{{i}}" style="margin-left:10px;" type="button" (click)="removeColumn(i)" class="close px-1 float-right" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-bordered" id="afterDownload" style="display:none;">
                                <thead>
                                    <tr>
                                        <th id="col{{i}}" style="text-align:center; background-color:#a0b3c2;display:table-cell;" align="center" *ngFor="let col of columnsId;let i = index">
                                            {{col}}

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngFor="let col of excelColumn;let i = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">
                                                {{col}}

                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class="fixed-table-body">

                        </div>
                        <div class="fixed-table-footer" style="display: none;">
                            <table><tbody><tr></tr></tbody></table>

                        </div>
                        <div class="fixed-table-pagination" style="display: none;"></div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 col-sm-6"
             style="height:100px;">

            <div class="white-box">
                <a href="../ExcelReport/ExportExcel?name={{path}}" id="ExportExcelData"></a>
                <button type="button" id="downTempBtnPrevious" style="margin:15px; float:left; padding:10px; display:none; border-radius:1px;" class="btn btn-info" (click)="DownloadTemplate()" aria-label="Close">Download Template&nbsp;&nbsp;<i class="ti-download"></i></button>

            </div>
        </div>
        <div class="col-md-6 col-sm-6"
             style="height:100px;">
            <div class="white-box">
                <button aria-label="Close" class="btn btn-info" id="downTempBtn" style="margin: 15px; float: right; display: block; border-radius: 1px;" type="button" (click)="DownloadTemplate()">Download Template&nbsp;&nbsp;<i class="ti-download"></i></button>
                <button type="button" class="btn btn-lg btn-warning m-r-10" style="margin:15px;display: none; padding:10px; float:right; border-radius:1px;" (click)="createTemplate()">Create OP Template&nbsp;&nbsp;<i class="ti-printer"></i></button>&nbsp;&nbsp;

            </div>
        </div>

    </div>

</div>


<div id="errorPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <h4 class="page-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-info-alt f-t-danger-icon"></i><br>
                    {{message}}
                </p>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" data-dismiss="modal">Close</button><!--(click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
        </div>

    </div>
</div>
<div id="successPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Download Template</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">

                <table id="addColumnTable" class="jsgrid-table table table-striped table-hover" style="display:block;">
                    <tbody>
                        <tr class="jsgrid-row">

                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; text-align:justify; border:none !important;">
                                <div class="form-check">
                                    <em style="text-align:justify;">This template will serve as the active working structure of op data for the given time period. You can alter the  OP template only after the alloted time period.</em>
                                </div>
                            </td>



                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">
                                <button type="button" id="ExportExcelDataBtn" class="btn btn-block btn-outline-warning m-l-20" (click)="ExportDataSetToExcel()">Download</button>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" data-dismiss="modal">Close</button><!--(click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
        </div>

    </div>
</div>
<div id="employeeComponentPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Available Employee Components</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">

                <table id="addColumnTable" class="jsgrid-table table table-striped table-hover" style="display:block;">
                    <tbody>
                        <tr class="jsgrid-row">

                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; text-align:justify; border:none !important;">

                                {{employeeList}}<br /><button data-toggle="tooltip" style="border-radius:0px; margin:10px;" data-placement="top" title="Add New Employee Component" (click)="OnAddemployeeComponent()" class="btn btn-success">Add New </button>
                            </td>

                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">

                                <input type="text" id="empCompText" style="display:none;" class="form-control input-sm" [(ngModel)]="newEmployee" />
                            </td>

                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">
                                <button type="button" id="empCompBtn" style="border-radius:0px; display:none;" class="btn btn-md btn-info m-l-20" (click)="addemployeeComponent(newEmployee)">Add New Component</button>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="customerComponentPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Available Customer Components</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <table id="addColumnTable" class="jsgrid-table table table-striped table-hover" style="display:block;">
                    <tbody>
                        <tr class="jsgrid-row">

                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; text-align:justify; border:none !important;">

                                {{customerList}}<br /><button data-toggle="tooltip" style="border-radius:0px; margin:10px;" data-placement="top" title="Add New Customer Component" (click)="OnAddcustomerComponent()" class="btn btn-success"> Add New </button>
                            </td>

                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">

                                <input type="text" id="custCompText" style="display:none;" class="form-control input-sm" [(ngModel)]="newCustomer" />
                            </td>

                        </tr>
                        <tr class="jsgrid-row">


                            <td class="jsgrid-cell jsgrid-align-right" style="width: 500px; border:none !important;">
                                <button type="button" id="custCompBtn" style="border-radius:0px; display:none;" class="btn btn-md btn-info m-l-20" (click)="addcustomerComponent(newCustomer)">Add New Component</button>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="previousTemplatePopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <h4 class="page-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button><!-- (click)="ngOncloseSuccessPopUp('sucessPopup')"-->
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-info-alt f-t-danger-icon"></i><br>
                    {{message}}
                </p>
                <div class="bootstrap-table" style="display:block;">

                    <div class="fixed-table-toolbar">
                        <div class="columns columns-right btn-group pull-right">
                            <div class="keep-open btn-group" title="Columns">

                            </div>
                        </div>
                    </div>
                    <div class="fixed-table-container">
                        <div class="fixed-table-header" style=" overflow-x:scroll;">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th id="col{{i}}" style="text-align:center; background-color:#a0b3c2;display:table-cell;" align="center" *ngFor="let col of previousColumnsId;let i = index">
                                            {{col}}

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngFor="let col of previousExcelColumn;let i = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">
                                                {{col}}

                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-bordered" id="afterDownload" style="display:none;">
                                <thead>
                                    <tr>
                                        <th id="col{{i}}" style="text-align:center; background-color:#a0b3c2;display:table-cell;" align="center" *ngFor="let col of columnsId;let i = index">
                                            {{col}}

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngFor="let col of excelColumn;let i = index">
                                            <div class="d-flex text-center" style="white-space: nowrap;">
                                                {{col}}

                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class="fixed-table-body">

                        </div>
                        <div class="fixed-table-footer" style="display: none;">
                            <table><tbody><tr></tr></tbody></table>

                        </div>
                        <div class="fixed-table-pagination" style="display: none;"></div>
                    </div>
                </div>
                <div class="clearfix">

                </div>
                <div class="modal-footer f-t-danger">
                    <button type="button" class="btn" data-dismiss="modal">Close</button><!--(click)="ngOncloseSuccessPopUp('sucessPopup')"-->
                </div>
            </div>
        </div>

    </div>
</div>