﻿
@{
    Layout = null;
    ViewBag.Title = "CreateIncentive";
}

<!-- Breadcrumb--
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;"><h4 class="page-title">Create Incentive Requests</h4></div>
<div class="row bg-title" style="margin-top:25px; margin-left:-10px;">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb" style="border-radius:0px; background-color:#487EB0;">
            <li hm-state-transition="my-dashboard" st><a href="javascript:void(0)" style="margin-right:3px; color:white;">My Dashboard /</a></li>
            <li class="active" style="margin-left:1px; color:white; font-weight:bold;">Create Incentive Requests</li>
        </ol>
    </div>
    <!-- /.col-lg-12 --

</div>
<!-- Breadcrumb End-->
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">Create Incentive Requests</h1>
    </div>

    <div class="clear"></div>
</header>
<div class="row">
    <div class="col-sm-12 white-box">
        <div id="create-id" class="form-group">
            <div class="col-lg-12">
                @RenderPage("~/Views/Include/CreateIncentive.cshtml")

                <div class="clear"></div>
                <div class="col-lg-12">
                    <button type="button" id="submit-basic-button" class="btn btn-primary width-100 margin-top-20" (click)="getEmployeeForIncentive();">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sucess Popup -->

<div id="sucessPopupnew" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Transaction Successfull</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class=" ti-check-box f-t-success-icon"></i><br>
                    Your transaction completed successfully
                </p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn " data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>
<!-- Incentive Request Exist Message Show On Popup -->
<div id="responseDataPopupnew" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-info-alt f-t-danger-icon"></i><br>
                    {{incentiveEmpList}}

            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn " data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>