﻿
@{
    Layout = null;
    ViewBag.Title = "CreateCustomer";
}
<style>
    .progress-bar-success {
        background-color: forestgreen !important;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Breadcrumb--
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;"><h4 class="page-title">Create Customer</h4></div>
<div class="row bg-title" style="margin-top:25px; margin-left:-10px;">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb" style="border-radius:0px; background-color:#487EB0;">
            <li hm-state-transition="my-dashboard" st><a href="javascript:void(0)" style="margin-right:3px; color:white;">My Dashboard /</a></li>
            <li class="active" style="margin-left:1px; color:white; font-weight:bold;">Create Customer</li>
        </ol>
    </div>
    <!-- /.col-lg-12 --

</div>
<!-- Breadcrumb End-->
<!-- Row -->
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">Create Customer</h1>
    </div>

    <div class="clear"></div>
</header>
<!-- Create Customer Form Validation -->
<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
    <div id="create-id" class="row">
        <div class=" col-sm-12 col-md-12 col-lg-12">
            <div class="white-box">
                <div class="row" style="margin-left:-40px;">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="white-box">
                            <ul class="country-state  p-t-20" style="list-style:none;">
                                <li>
                                    <h3>1 <small>Customer Details</small></h3>
                                    <div>Add Basic Details</div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success step-one" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">98% Complete</span></div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="white-box">
                            <ul class="country-state  p-t-20" style="list-style:none;">
                                <li>
                                    <h3>2 <small>Customer Relationship</small></h3>
                                    <div>Add New Customer Relationship</div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-inverse step-three" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">98% Complete</span></div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Step 1 -->
                <div id="step-one">
                    @RenderPage("~/Views/Include/CreateCustomerBasicDetails.cshtml")

                    <div class="m-l-15">
                        <button type="button" id="submit-basic-button" style="margin-right:5px; margin-top:10px; border-radius:5px;" class="btn btn-primary" (click)="validateCustomerDetailsSubmit();">Next</button>
                    </div>

                </div>


                <!-- Step 3-->
                <div id="step-three" class="" style="display: none;">

                    @RenderPage("~/Views/Include/CreateRelationship.cshtml")
                    <div class="" style="margin-top:10px;">
                        <button type="button" style="margin-right:5px; border-radius:5px;" id="previous-basic-button" class="btn btn-primary" (click)="previouSecondSubmit();">Previous</button>
                        <button type="button" style="margin-right:5px; border-radius:5px;" id="submit-button" class="btn btn-success" (click)="createCustomerSubmit();">Submit</button>
                    </div>
                </div>
                <!-- Step 3 End-->


            </div>
        </div>

        <!-- Panel End -->
    </div>
</div>
<!-- Popup Section -->
<!-- Modal -->
<div id="sucessPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Transaction Successfull</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-check-box f-t-success-icon"></i><br>
                    This activity has completed successfully

                </p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn " data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="EmployeeSucessPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> please select all fields and re-submit the form</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-check-box f-t-info-icon"></i><br>
                    This activity has completed successfully

                </p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn " data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Add Sold To Party Code Link -->
<div class="modal fade" id="example4" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-vertical-centered" role="document">
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <button type="button" class="close margin-bottom-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Sold To Party Code Link</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-warning width-200 pull-right margin-bottom-20" (click)="addSoldToPartyCodes();">Add New Party Link</button>
                <div class="clear"></div>
                <div class="col-lg-12" *ngFor="let soldToCode of customerBaseDetails.soldToPartyCodes">
                    <div class="form-group">
                        <label class="form-label" for="validation-username">Sold To Party Code Link</label>
                        <label class="input-group">
                            <input id="soldToPartyCodes"
                                   class="form-control"
                                   name="validation[customerCode]" [(ngModel)]="soldToCode.soldToPartyCodesSecondary"
                                   type="text">
                            <span class="input-group-addon" (click)="removeSoldToPartyCodes($index);">
                                <i class="icmn-minus3"></i>
                            </span>
                        </label>
                        <div id="soldToPartyCodes_error" class="displayError color-white ng-hide"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
