﻿
@{
    Layout = null;
    ViewBag.Title = "CreateEmployee";
}
<style type="text/css">
    .progress-bar-inverse {
        background-color: #072a44 !important;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">Manage Employee</h1>
    </div>

    <div class="clear"></div>
</header>
<div class="">  
    <!-- Step 1 -->
    <div id="step-one">
        <div class="row">
            <h4 class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-3">
                STEP l: Basic Details
            </h4>
            @RenderPage("~/Views/Include/EmployeeDetails.cshtml")
            <div class="form-group col-sm-12">
                <button type="button" id="submit-basic-button" class="btn btn-primary col-sm-1 width-300 float-right" (click)="ngOnemployeeBasicDetailsSubmit();">Next</button>
            </div>
            <div class="clear m-l-15"></div>
        </div>
    </div>
    

    <!-- Step 2 -->
    <div id="step-twos" style="display: none;">
        <div class="row">
            <h4 class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-3">
                STEP ll: Role Details
            </h4>
            @RenderPage("~/Views/Include/CreateRole.cshtml")
            <div class="form-group col-sm-12">
                <button type="button" id="submit-button" class="btn btn-primary width-300 float-right" (click)="ngOnemployeeDetailsSubmit();">Submit</button>
                <button type="button" id="previous-basic-button" class="btn btn-success width-300 float-right mr-2" (click)="ngOnpreviouSubmit();">Previous</button>
            </div>
            
            <div class="clear m-l-15"></div>
        </div>
    </div>
</div>
<!-- Basic Details Section End -->
<!-- Sucess Popup -->


<div id="sucessCustomerPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Transaction successfull</h4>
                <button type="button" class="close" (click)="ngOncloseSuccessPopUp('sucessCustomerPopup')">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-check-box f-t-success-icon"></i><br>
                    User is succesfully created and linked with new customer - <b>{{customerData}}</b> , kindly update target.
                </p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" (click)="ngOncloseSuccessPopUp('sucessCustomerPopup')">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="sucessPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Transaction successfull</h4>
                <button type="button" class="close" (click)="ngOncloseSuccessPopUp('sucessPopup')">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-check-box f-t-success-icon"></i><br>
                    This activity has completed successfully
                </p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" (click)="ngOncloseSuccessPopUp('sucessPopup')">Close</button>
            </div>
        </div>

    </div>
</div>



<!-- Delete Popup -->
<div id="deleteCorporatePopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <button type="button" class="close" (click)="ngOncloseSuccessPopUp('deleteCorporatePopup')">&times;</button>
                <h4 class="modal-title">Transaction Failed</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-help-alt f-t-danger-icon"></i><br>
                    Are you sure you would like to delete for this role
                </p>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn " (click)="ngOndeleteSubmit()" data-dismiss="modal">Yes</button>
                <button type="button" class="btn " (click)="ngOncloseSuccessPopUp('deleteCorporatePopup')">No</button>
            </div>
        </div>

    </div>
</div>

<!-- Role Popup -->
<!-- Modal -->
<div id="responseDataPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <button type="button" class="close" (click)="ngOncloseSuccessPopUp('responseDataPopup')">&times;</button>
                <h4 class="modal-title">Transaction Details</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class="ti-info-alt f-t-info-icon"></i><br>You can close any existing and active employee role(s) <br />by updating the Role End Month value.</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn " (click)="ngOnupdateEmployeeRoleSubmit()" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>



<!-- Vacant Role Details For Employee -->
<!--popup for Empty Input Sumission-->
<!-- Modal -->
<div id="customerDetailsForUpdateMonth" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <button type="button" class="close" (click)="ngOncloseSuccessPopUp('customerDetailsForUpdateMonth')">&times;</button>
                <h4 class="modal-title">Transaction Failed</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    The create employee for the employee cannot be create.<br>The employee is currently associated with the following role.
                </p><br />
                <div class="table-responsive margin-bottom-20" style=" height 200px; overflow auto;">
                    <table class="table table-hover nowrap" id="example1" width="100%" [ngClass]="{odd:odd,even:even}">
                        <thead>
                            <tr class="table-head">
                                <th class="text-center">Employee Id</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Start Month</th>
                                <th class="text-center">End Month</th>
                                <th class="text-center">Grade</th>
                                <th class="text-center">Year</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="table-head">
                                <th class="text-center">Employee Id</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Start Month</th>
                                <th class="text-center">End Month</th>
                                <th class="text-center">Grade</th>
                                <th class="text-center">Year</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let item of responseEmpData" class="text-center">
                                <td>{{item.adpId}}</td>
                                <td>{{item.channelCode}}</td>
                                <td>{{item.role}}</td>
                                <td>{{item.region}}</td>
                                <td>{{item.startMonthDescription}}</td>
                                <td>{{item.endMonthsDescription}}</td>
                                <td>{{item.grade}}</td>
                                <td>{{item.yearRecorded}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="text-center">de-link the employee from all customers to proceed further with this activity</p>
                <!-- Email Template For Email -->
                <div id="tamp" class="table-responsive" style="margin-bottom: 50px; display: none; color: #5b5d5f;">
                    <p class="text-center">
                        The create employee for the employee cannot be create.<br>The employee is currently associated with the following role.

                    </p>
                    <table class="table table-hover nowrap" id="example1" width="100%">
                        <thead>
                            <tr style="color: #5b5d5f; font-size: 13px">
                                <th class="text-center">Employee Id</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Start Month</th>
                                <th class="text-center">End Month</th>
                                <th class="text-center">Grade</th>
                                <th class="text-center">Year</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr style="color: #5b5d5f; font-size: 13px">
                                <th class="text-center">Employee Id</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Start Month</th>
                                <th class="text-center">End Month</th>
                                <th class="text-center">Grade</th>
                                <th class="text-center">Year</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let item of responseEmpData" style="text-align: center; background: #d7cec7; color: #5b5d5f; font-size: 12px;">
                                <td>{{item.adpId}}</td>
                                <td>{{item.channelCode}}</td>
                                <td>{{item.role}}</td>
                                <td>{{item.region}}</td>
                                <td>{{item.startMonthDescription}}</td>
                                <td>{{item.endMonthsDescription}}</td>
                                <td>{{item.grade}}</td>
                                <td>{{item.yearRecorded}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top: 20px; line-height: 20px;">de-link the employee from all role to proceed further with this activity.</p>
                </div>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" data-dismiss="modal" (click)="ngOnendExistRoleSubmit();" style="display: none;">Yes</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="ngOnemailMeSubmit();">Email Me</button>
            </div>
        </div>

    </div>
</div>

<!-- Role Details Section End -->
