﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BodySection {
    <div id="wrapper">
        <!-- Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <!-- Main Containt -->
        <div id="page-wrapper" class="dn" style="margin-left:15px;margin-right:15px">
            <app-root class="row">

            </app-root>

        </div>


    </div>
   
}

