﻿@{
    Layout = null;
    ViewBag.Title = "LeftSidebar";
}
<style type="text/css">
</style>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="">
        <div class="iw">
            <a class="navbar-brand " href="javacsript:void(0)" [routerLink]="['/my-dashboard']">
                <span><img alt="" src="/Images/incentiwiser.png" style="margin-left:50px;width:170px;height:52px; padding:10px"></span>
                <span class="brand-text"><span style="color: #00b0f0;"></span></span>

            </a>
        </div>
        
        <ul class="list-unstyled components" *ngIf="role === 'SUPERADMIN'; else sideBarTemplate">

                <li>
                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#submenu1">
                        <i class="fa fa-database fa-2x"></i>
                        <span>Actual Data</span>
                    </a>
                    <ul class="collapse list-unstyled" id="submenu1">

                        <li>
                            <a [routerLink]="['/actual-upload']" href="javascript: void(0);">
                                <i class="fa-fw">UA</i> Upload Actuals
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/approve-actual-upload']" href="javascript: void(0);">
                                <i class="fa-fw">UA</i> View Actual List
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#submenu2">
                        <i class="fa fa-desktop fa-2x"></i>
                        <span>Manage Employee</span>
                    </a>
                    <ul class="collapse list-unstyled" id="submenu2">
                        <li>
                            <a [routerLink]="['/create-employee']" href="javascript: void(0);">
                                <i class="fa-fw">CE</i> Create Employee
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/view-employee']" href="javascript: void(0);">
                                <i class="fa-fw">VE</i> View Employee
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#submenu3">
                        <i class="fa fa-users fa-2x"></i>
                        <span>Manage Customers</span>
                    </a>
                    <ul class="collapse list-unstyled" id="submenu3">
                        <li>
                            <a [routerLink]="['/create-customer']" href="javascript: void(0);">
                                <i class="fa-fw">AC</i> Add Customers
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/view-customer']" href="javascript: void(0);">
                                <i class="fa-fw">VC</i> View Customers
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#submenu5">
                        <i class="fa fa-sliders-h fa-2x"></i>
                        <span>Set MetaData</span>
                    </a>
                    <ul class="collapse list-unstyled" id="submenu5">
                        <li>
                            <a [routerLink]="['/configure-metadata']" href="javascript: void(0);">
                                <i class="fa-fw">CM</i> Configuration MetaData
                            </a>
                        </li>

                        <li>
                            <a [routerLink]="['/correction-data']">
                                <i class="fa-fw">DC</i> Data Correction
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#submenu6">
                        <i class="fa fa-external-link-alt fa-2x"></i>
                        <span>Manage Access</span>
                    </a>
                    <ul class="collapse list-unstyled" id="submenu6">
                        <li>
                            <a href="javascript: void(0);" [routerLink]="['/access-control']">
                                <i class="fa-fw">EM</i> Define Access Permissions
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#submenu8">
                        <i class="fa fa-file-alt fa-2x"></i>
                        <span>Configure Templates</span>
                    </a>
                    <ul class="collapse list-unstyled" id="submenu8">
                        <li>
                            <a [routerLink]="['/configure-op-template']" href="javascript: void(0);">
                                <i class="fa-fw">OP</i> Operational Template
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/configure-actual-template']" href="javascript: void(0);">
                                <i class="fa-fw">AC</i> Actual Template
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a [routerLink]="['/batch-process']" href="javascript: void(0);">
                        <i class="fa fa-project-diagram fa-2x"></i>
                        <span>Batch Process</span>
                    </a>
                </li>
                <li class="d-none">
                    <a href="#">add new tab</a>
                </li>
            </ul>
        <ng-template #sideBarTemplate>
            sdasdasfasfasdakjhgfdtyuiuyt
            <ul class="list-unstyled components">
                <li>
                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" href="#submenu1">
                        <i class="fa fa-database fa-2x"></i>
                        <span>Actual Request</span>
                    </a>
                    <ul class="collapse list-unstyled" id="submenu1">
                        <li>
                            <a [routerLink]="['/actual-upload']" href="javascript: void(0);">
                                <i class="fa-fw">UA</i> Raise/Upload Actual Request
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/approve-actual-upload']" href="javascript: void(0);">
                                <i class="fa-fw">UA</i> View Actual Request
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </ng-template>
    </nav>
    <!-- Page Content -->

    <div id="content">
        <nav id="content_nav" class="navbar navbar-expand-lg navbar-light fixed-top l26 px-0">
            <div class="container-fluid d-flex">
                <div class="change" onclick="myFunction(this)" id="sidebarCollapse">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>


                <div class="" id="navbarSupportedContent" style="">
                    <ul class="nav navbar ml-auto active navbar-top-links float-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="javascript:void(0)"><b class="hidden-xs">Profile</b><span class="caret"></span> </a>
                            <ul class="dropdown-menu dropdown-menu-left dropdown-user animated flipInY">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-text">
                                            <h4>{{fullName}}</h4>
                                            <p class="text-muted">{{email}}</p>
                                            <button hm-state-transition="profile" class="btn">View Profile</button>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                
                                <li>@Html.ActionLink("Log Out", "LogOff", "Account")</li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>

                        <!-- /.dropdown -->
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid appRootStyle">
            <div id="hidepageoverlay">
                <img src="~/Content/images/loader_blur2.gif" alt="" />
            </div>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
















<!-- End Top Navigation -->



<a href="../ExcelReport/ExportExcel?name={{path}}" id="ExportExcelData"></a>