﻿
@{
    Layout = null;
    ViewBag.Title = "MyDashboard";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />

<div class="w-100 px-2 pt-1 pb-3">
    <div class="mt-2" id="">
        <div class="card-block card-class-c mt-2 p-0 data-bg" id="myTabContent">
            <div class="card-header pb-1">Select Filters</div>
            <div class="clearfix"></div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group col-md-7 col-sm-12 row-in-br" id="filter1">
                        <div class="row">
                            <div class="radio clear" *ngFor=" let employee of empDeatilsHistry; let i = index">
                                <label>&nbsp;&nbsp;
                                    <input type="radio" class="with-gap" name="empRole" value="{{employee.role}}" [(ngModel)]="radioSelected" (change)="empHistrySubmit(employee.adpId,radioSelected)">
                                    <span class="lbl"> {{employee.role}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <select class="form-control ng-pristine ng-valid ng-touched" (change)="QtrData()" [(ngModel)]="quarter">
                                <option value="">- Qtr/H1/H2/FY -</option>
                                <option value="Q1" class="ng-binding ng-scope">Q1</option>
                                <option value="Q2" class="ng-binding ng-scope">Q2</option>
                                <option value="H1" class="ng-binding ng-scope">H1</option>
                                <option value="Q3" class="ng-binding ng-scope">Q3</option>
                                <option value="Q4" class="ng-binding ng-scope">Q4</option>
                                <option value="H2" class="ng-binding ng-scope">H2</option>
                                <option value="FY" class="ng-binding ng-scope" selected="selected">FY</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control ng-pristine ng-valid ng-touched" (change)="FTMData()" [(ngModel)]="ftmMonth">
                                <option value="">- FTM -</option>
                                <option value="Jan" class="ng-binding ng-scope">January</option>
                                <option value="Feb" class="ng-binding ng-scope">February</option>
                                <option value="Mar" class="ng-binding ng-scope">March</option>
                                <option value="Apr" class="ng-binding ng-scope">April</option>
                                <option value="May" class="ng-binding ng-scope">May</option>
                                <option value="Jun" class="ng-binding ng-scope">June</option>
                                <option value="Jul" class="ng-binding ng-scope">July</option>
                                <option value="Aug" class="ng-binding ng-scope">August</option>
                                <option value="Sep" class="ng-binding ng-scope">September</option>
                                <option value="Oct" class="ng-binding ng-scope">October</option>
                                <option value="Nov" class="ng-binding ng-scope">November</option>
                                <option value="Dec" class="ng-binding ng-scope">December</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control ng-pristine ng-valid ng-touched" (change)="YTDData()" [(ngModel)]="ytdMonth">
                                <option value="">- YTD -</option>
                                <option value="YTD-Jan" class="ng-binding ng-scope">January</option>
                                <option value="YTD-Feb" class="ng-binding ng-scope">February</option>
                                <option value="YTD-Mar" class="ng-binding ng-scope">March</option>
                                <option value="YTD-Apr" class="ng-binding ng-scope">April</option>
                                <option value="YTD-May" class="ng-binding ng-scope">May</option>
                                <option value="YTD-Jun" class="ng-binding ng-scope">June</option>
                                <option value="YTD-Jul" class="ng-binding ng-scope">July</option>
                                <option value="YTD-Aug" class="ng-binding ng-scope">August</option>
                                <option value="YTD-Sep" class="ng-binding ng-scope">September</option>
                                <option value="YTD-Oct" class="ng-binding ng-scope">October</option>
                                <option value="YTD-Nov" class="ng-binding ng-scope">November</option>
                                <option value="YTD-Dec" class="ng-binding ng-scope">December</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card-block card-class-c mt-2 p-0 data-bg" id="myTabContent">
            <div class="card-header pb-1">You are currently viewing dashboard of {{fullName}} - {{breadCrums}}</div>
            <br /><br />
            <div id="filterMenu" class="filterMenuClose">
                <h1 class="display-5 text-center white-text">Filters</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color:transparent">
                        <li class="breadcrumb-item" *ngFor="let item of filterBreadcrumb;let i = index">
                            <a href="javascript:void(0)" (click)="changeFilterMenu(item)" style="text-decoration:underline">{{item}}</a>
                        </li>
                    </ol>
                </nav>
                <table>
                    <tr>
                        <td id="All" class="list-group list-group-flush show" *ngFor="let data of filterOption; let i = index" (click)="changeFilterMenu(data)">
                            {{data.labelOnScreen}}
                        </td>
                    </tr>
                </table>
                <div *ngFor="let level of filterOption; let i = index">
                    <ul id="{{level.keyValue}}" *ngIf="salesBoundriesHierarchyLevelData['dataList'][keys[i]] != undefined" class="list-group list-group-flush hide">
                        <li class="list-group-item" *ngFor="let data of salesBoundriesHierarchyLevelData['dataList'][keys[i]];let j = index">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{data.row.keyValue}}_{{j}}_{{i}}" checked="{{data.selected == true ? 'checked' : ''}}" value="{{data.row.keyValue}}" (click)="changeFilter($event)">
                                <label class="custom-control-label" for="{{data.row.keyValue}}_{{j}}_{{i}}">{{data.row.labelOnScreen}}</label>
                            </div>
                        </li>
                        <li class="list-group-item" *ngIf="salesBoundriesHierarchyLevelData['dataList'][keys[i]].length == 0">
                            No data found for selected parameters.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="clearfix"></div>
                <div class="col-sm-12" style="display:none;" id="six">
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="text-align:center;">
                                Actual vs OP 2019<br />
                            </p>
                            <div id="barChartSix"></div>
                        </div>
                        <div class="col-sm-12">
                            <p style="text-align:center;">Gauge Chart 2019</p>
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let t of SalesHorizontalList.achievement; let i = index">
                                    <div id="gaugeChartSix{{i}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-12" id="four" style="display:none;">
                    <div class="row">
                        <div class="col-sm-6">
                            <p style="text-align:center;">
                                 Actual vs OP 2019<br />
                            </p>
                            <div id="barChartFour"></div>
                        </div>
                        <div class="col-sm-6">
                            <p style="text-align:center;">Gauge Chart 2019</p>
                            <div class="row">
                                <div class="col-sm-6" *ngFor="let t of SalesHorizontalList.achievement; let i = index">
                                    <div id="gaugeChartFour{{i}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="text-align:center;">
                                Month Wise Actual Data 2019<br />
                            </p>
                            <div id="lineChart"></div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              
                <div class="col-sm-12">
                    <p style="text-align:center;">
                        Month Wise Actual Data In Tabular View 2019<br />
                    </p>
                    <table class="table table-bordered" style="border:1px solid #000!important;">
                        <thead style="background-color:#006294; color:#fff; font-size: 12px; font-family: sans-serif;border:1px solid #000!important; ">
                            <tr>
                                <th scope="col" style="border:1px solid #000!important; ">Employee</th>
                                <th scope="col" style="border:1px solid #000!important; "></th>
                                <th scope="col" style="border:1px solid #000!important; ">Jan</th>
                                <th scope="col" style="border:1px solid #000!important; ">Feb</th>
                                <th scope="col" style="border:1px solid #000!important; ">Mar</th>
                                <th scope="col" style="border:1px solid #000!important; ">Q1</th>
                                <th scope="col" style="border:1px solid #000!important; ">Apr</th>
                                <th scope="col" style="border:1px solid #000!important; ">May</th>
                                <th scope="col" style="border:1px solid #000!important; ">Jun</th>
                                <th scope="col" style="border:1px solid #000!important; ">Q2</th>
                                <th scope="col" style="border:1px solid #000!important; ">Jul</th>
                                <th scope="col" style="border:1px solid #000!important; ">Aug</th>
                                <th scope="col" style="border:1px solid #000!important; ">Sep</th>
                                <th scope="col" style="border:1px solid #000!important; ">Q3</th>
                                <th scope="col" style="border:1px solid #000!important; ">Oct</th>
                                <th scope="col" style="border:1px solid #000!important; ">Nov</th>
                                <th scope="col" style="border:1px solid #000!important; ">Dec</th>
                                <th scope="col" style="border:1px solid #000!important; ">Q4</th>
                                <th scope="col" style="border:1px solid #000!important; ">FY</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of tabularList; let i = index" style="font-size: 12px; font-family: sans-serif; border: 1px solid #000 !important">
                            <tr class="center" style="font-size: 11px;border:1px solid #000!important; text-align:center; font-family: sans-serif;">

                                <td rowspan="3" style="background-color:#006294; color:#fff; font-family:Roboto; border:1px solid #000!important; width: 40px!important;border: 1px solid #000 !important">{{item.employeeData.adpId}}</td>
                                <td style="background-color:#006294; color:#fff; font-family:Roboto; width: 40px!important;border: 1px solid #000 !important">AOP</td>
                                <td *ngFor="let target of item.target; let i = index" style="font-size:12px; width: 40px!important;border: 1px solid #000 !important;">{{target}}</td>
                            </tr>
                            <tr class="center" style="font-size: 11px;border:solid 1px #000; text-align:center; font-family: sans-serif;">
                               
                                <td style="background-color:#006294; color:#fff; font-family:Roboto; width: 40px!important;border: 1px solid #000 !important">ACTUAL</td>
                                <td *ngFor="let actual of item.actual; let i = index" style="font-size:12px; width: 40px!important;border: 1px solid #000 !important;">{{actual}}</td>
                            </tr>
                            <tr class="center" style="font-size: 11px;border:solid 1px #000; text-align:center; font-family: sans-serif;">
                               
                                <td style="background-color:#006294; color:#fff; font-family:Roboto; width: 40px!important;border: 1px solid #000 !important;">% ACH</td>
                                <td *ngFor="let achievement of item.achievement; let i = index" style="font-size:12px; width: 40px!important; border: 1px solid #000 !important;">{{achievement}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                    <br /><br />
                    <div class="clearfix"></div>
                
               
            </div>
          
       
             
            
    </div>
</div>
</div>




