﻿
@{
    Layout = null;
}
<!-- Breadcrumb--
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;"><h4 class="page-title">Upload Over Due</h4></div>
<div class="row bg-title" style="margin-top:25px; margin-left:-10px;">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb" style="border-radius:0px; background-color:#487EB0;">
            <li hm-state-transition="my-dashboard" st><a href="javascript:void(0)" style="margin-right:3px; color:white;">My Dashboard /</a></li>
            <li class="active" style="margin-left:1px; color:white; font-weight:bold;">Upload Over Due</li>
        </ol>
    </div>
    <!-- /.col-lg-12 --

</div>
<!-- Breadcrumb End-->
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">Upload Over Due</h1>
    </div>

    <div class="clear"></div>
</header>
<!-- Row -->
<div class="row">
    <div class="col-md-4 col-lg-4">
        <div id="createReport" class="white-box">
            <div class="no-bg-addon">
                <div class="form-group">
                    <label class="form-label">Year<span> *</span></label>
                    <select id="year" class="form-control" [(ngModel)]="overDueData.year" checkMandatory="true">
                        <option value="">-Select Year-</option>
                        <option *ngFor="let year of yearData let i = index" value="{{year.keyValue}}">{{year.description}}</option>
                    </select>
                    <div id="year_error" class="displayError color-white ng-hide"></div>
                </div>
                <div class="form-group">
                    <label class="form-label">Quarter<span> *</span></label>
                    <select id="Quarter" class="form-control" [(ngModel)]="overDueData.quarter" checkMandatory="true">
                        <option value="">-Select Quarter-</option>
                        <option *ngFor="let item of monthData let i = index" value="{{item.keyValue}}">{{item.description}}</option>

                    </select>
                    <div id="Quarter_error" class="displayError color-white ng-hide"></div>
                </div>

                <div class="form-group">
                    <label class="form-label">Upload File<span> *</span></label>
                    <label class="input-group browseFile" for="uploadEmployeeMasterSheet">

                        <!-- <input type="file" class="form-control dn" id="uploadEmployeeMasterSheet" placeholder="Select Sheet..." />
                         <input type="hidden" [(ngModel)]="overDueData.dataSourceFileName" id="dataSourceFileName" />
                         <span id="uploadtext"></span>
                         <span class="input-group-btn text-right">
                             <span class="btn btn-success btnFile">
                                 Browse
                             </span>
                         </span>-->

                        <input id="imageUpload" type="file"  style="height:47px;" class="form-control form-control-sm1" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file" ng2FileSelect [uploader]="uploader"
                               (change)="imageUpload()" />
                        <span class="input-group-btn text-right">
                            <span class="btn btn-success btnFile" style="border-radius:0 5px 5px 0;">
                                Browse
                            </span>
                        </span>

                    </label>
                    <div id="dataSourceFileName_error" class="displayError color-white ng-hide"></div>
                    <span id="uploadfile" style="font-size:12px; color:#C0392B;"></span>
                    <div class="clear"></div>
                    <span id="progresspolicebar" class="progress visiblityHidden">
                        <span class="progress-bar progress-bar-success" style="height:6px; border-radius: 6px;"></span>
                    </span>

                </div>

                <div class="form-group">


                    <a href="../MasterDataUpload/DownloadTemplate?name=PH_Overdue_Data_Port_Template.xlsx" id="downloadReport"></a>
                    <a href="#" (click)="ngOnTemplateDownload();" title="Download Template" class="ng-binding" type="button"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a>
                    &nbsp;     <label class="form-label">Download Template</label>
                </div>
                <div class="clear"></div>
                <div class="form-actions">
                    <button type="button" class="btn btn-primary width-100" (click)="ngOnOverDueDataSubmit();">Submit</button>

                </div>
            </div>

        </div>

    </div>

    <div class="col-md-6 col-lg-8 col-sm-12">
        <div class="panel">
            <div class="panel-heading">Upload Table</div>
            <div class="table-responsive">
                <table class="table full-color-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center">Date<br /><span>(DD-MM-YYYY)</span></th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Quarter</th>
                            <th class="text-center">Total Records</th>
                            <th class="text-center">Record Process</th>
                            <th class="text-center">Download File</th>
                            <th class="text-center">Error Log</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>

                    <tbody class="findData">
                        <tr *ngFor="let data of listData let i = index" class="text-center">
                            <td>{{i + 1}}</td>
                            <td><i class="ti-time"></i> {{data.date}}</td>
                            <td>{{data.status}}</td>
                            <td>{{data.quater}}</td>
                            <td>{{data.totalRecords}}</td>
                            <td>{{data.recordsProcessed}}</td>

                            <td>
                                <button class="btn btn-rounded btn-primary btn-xs" (click)="ngOnDownloadSourceReport(data.dataSourceFileName)"><span class=" fa fa-download"></span></button>
                            </td>
                            <td>
                                <button class="btn btn-rounded btn-warning btn-xs tooltips" (click)="ngOnDownloadErrorReport(data.errorLogFileName)"><span class=" fa fa-download"></span></button>
                            </td>
                            <td>
                                <button class="btn btn-rounded btn-danger btn-xs tooltips" (click)="ngOnDeleteRequest(i)"><span class="fa fa-times fa-2x"></span></button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody id="row_not_found_id" class="noFound ng-hide">
                        <tr>
                            <td colspan="7" class="text-center">No Data Found</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="10">
                                <div class="text-right">
                                    <button type="button" id="example1_previous" class="btn btn-rounded btn-success page-item previous" ng-disabled="getPage <1" (click)="ngOnGetPrevious();">Previous</button>
                                    <button type="button" id="example1_next" class="btn  btn-primary page-item next" ng-disabled="(listData.length<20 && getPage>0)" (click)="ngOnGetNext();">Next</button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="alert text-center" role="alert">
        <strong><i class="fa fa-hand-o-right"></i> Disclaimer :</strong> All request for data uploads shall be processed during the end of day batch run.
    </div>
</div>
<a href="../MasterDataUpload/DownloadOpSourceReport?name={{filePath}}" id="DownloadSourcePath"></a>
<a href="../MasterDataUpload/DownloadOpErrorReport?name={{filePath}}" id="DownloadErrorPath"></a>

<!-- Modal -->
<div id="notFound" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="modalclose('notFound')">&times;</button>
                <h4 class="modal-title">Resource not found</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-trash f-t-danger-icon"></i><br>
                    Resource not found
                </p>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" (click)="modalclose('notFound')">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="error" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content" *ngIf="error.key == 'error'">
            <div class="modal-header f-t-danger">
                <button type="button" class="close" (click)="modalclose('error')">&times;</button>
                <h4 class="modal-title">Failed</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-info-alt f-t-danger-icon"></i><br>
                    {{error.msg}}
                </p>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" (click)="modalclose('error')">Close</button>
            </div>
        </div>
        <div class="modal-content" *ngIf="error.key == 'success'">
            <div class="modal-header f-t-success">
                <button type="button" class="close" (click)="modalclose('error')">&times;</button>
                <h4 class="modal-title">Transaction Successful</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="ti-check f-t-success-icon"></i><br>
                    {{error.msg}}
                </p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" (click)="modalclose('error')">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="sucessPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <button type="button" class="close" (click)="modalclose('sucessPopup')">&times;</button>
                <h4 class="modal-title">Completed Successfully</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="f-t-success-icon ti-check-box"></i><br>
                    Activity Completed Successfully
                </p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn" (click)="modalclose('sucessPopup')">Close</button>
            </div>
        </div>
    </div>
</div>
