﻿@{
    Layout = null;
    ViewBag.Title = "PaySlip";
}

<!-- Breadcrumb--
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;"><h4 class="page-title">View Incentive</h4></div>
<div class="row bg-title" style="margin-top:25px; margin-left:-10px;">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb" style="border-radius:0px; background-color:#487EB0;">
            <li hm-state-transition="my-dashboard" st><a href="javascript:void(0)" style="margin-right:3px; color:white;">My Dashboard /</a></li>
            <li class="active" style="margin-left:1px; color:white; font-weight:bold;">Email Payout Cards</li>
        </ol>
    </div>
    <!-- /.col-lg-12 --

</div>
<!-- Breadcrumb End-->
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">View Incentive</h1>
    </div>

    <div class="clear"></div>
</header>
<div id="view-table-id" class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="panel">
            <div class="panel-heading">Incentive Request Table</div>
            <div class="">
                <!-- Search Section -->
                <div class="col-sm-12">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div id="example3_filter" class="dataTables_filter">
                            <label class="pull-right">
                                Search On:<input type="search" style="width:300px" class="form-control input-sm" (keyup.enter)="searchBranch()" [(ngModel)]="incentiveDetails.incentiveName" placeholder="Incentive Name" aria-controls="example3"><!--(enter)="searchBranch();"  [(ngModel)]="searchByBranch.incentiveName"-->
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Table Section -->
                <div id="row_table_id" class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-hover nowrap" id="example1" width="100%">
                            <thead>
                                <tr class="table-head">
                                    <th class="col-sm-2">S.No</th>
                                    <th class="col-sm-2">Incentive Name</th>
                                    <th class="col-sm-2">Quarter</th>
                                    <th class="col-sm-2">Year</th>
                                    <th class="col-sm-2">Status</th>
                                    <th class="col-sm-2">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="table-head">
                                    <th class="col-sm-2">S.No</th>
                                    <th class="col-sm-2">Incentive Name</th>
                                    <th class="col-sm-2">Quarter</th>
                                    <th class="col-sm-2">Year</th>
                                    <th class="col-sm-2">Status</th>
                                    <th class="col-sm-2">Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let  item of responseData ; let i = index" class="">
                                    <!--ng-class-odd="'odd'" ng-class-even="'even'"-->
                                    <td class="col-sm-2">{{i + 1}}</td>
                                    <td class="col-sm-2">{{item.incentiveName}}</td>
                                    <td class="col-sm-2">{{item.quarter}}</td>
                                    <td class="col-sm-2">{{item.year}}</td>
                                    <td class="col-sm-2">{{item.status}}</td>
                                    <td class="col-sm-2">
                                        <button class="btn btn-primary btn-sm tooltips" title="View Incentive" ng-show="item.status != 'CANCELLED'" (click)="viewIncentiveSubmit(i)"><i class=" ti-eye font-size-14"></i></button>
                                        <!--<button class="btn btn-primary btn-sm tooltips" title="Download Performance Sheet" ng-show="item.status != 'QUEUED FOR DATA'" (click)="downloadPerformanceSheetSubmit($index)"><i class=" ti-import font-size-14"></i></button>
                                        <button class="btn btn-primary btn-sm tooltips" title="Approve Request" ng-show="item.status == 'QUEUED FOR APPROVAL'" (click)="approveIncentive($index)"><i class=" ti-check font-size-14"></i></button>
                                        <button class="btn btn-primary btn-sm tooltips" title="Reject Request" ng-show="item.status == 'QUEUED FOR APPROVAL'" (click)="rejectIncentive($index)"><i class=" ti-close font-size-14"></i></button>
                                        <button class="btn btn-primary btn-sm tooltips" title="Open For Exceptions" ng-show="item.status == 'DISBURSE'" (click)="incentiveException($index)" data-toggle="modal" data-target="#incentive-exception"><i class=" ti-close font-size-14"></i></button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- Table Section End -->
                <!-- No Data Found Section -->
                <div id="row_not_found_id" class="col-sm-12" style="display: none;">
                    <div class="table-responsive margin-bottom-50">
                        <table class="table table-hover nowrap" id="example1" width="100%">
                            <thead>
                                <tr class="table-head">
                                    <th class="col-sm-2">S.No</th>
                                    <th class="col-sm-2">Incentive Name</th>
                                    <th class="col-sm-2">Quarter</th>
                                    <th class="col-sm-2">Year</th>
                                    <th class="col-sm-2">Status</th>
                                    <th class="col-sm-4">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td colspan="6" class="text-center font-size-16 font-weight-600" style="color: #5b5d5f;">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- No Data Found Enbd-->
                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-7">
                        <div class="btn-group margin-inline pull-right">
                            <button type="button" id="example1_previous" class="btn btn-rounded btn-success page-item previous disabled" (click)="getPreviousEmployee();">Previous</button>
                            <button type="button" id="example1_next" class="btn btn-rounded btn-primary page-item next" (click)="getNextEmployee();">Next</button>
                        </div>
                    </div>
                </div>

                <!-- Pagination End-->
            </div>
        </div>
        <div class="alert text-center" role="alert">
            <strong><i class="fa fa-hand-o-right"></i> Disclaimer :</strong> All request for approval shall be processed during the end of day batch run.
        </div>
    </div>
</div>

<div id="view-emp-details-id" class="row" style="display: none;" [hidden]="generatePayslip != true">
    <a href="../ExcelReport/downloadPDFPaySlip?name={{path}}" id="pdfDownload"></a>
    <div class="col-md-12 col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Send Incentive Working</h3>
            <!-- Tab panes -->
            <div id="" class="panel-body">
                <div class="row">
                    @RenderPage("~/Views/Include/PaySlip.cshtml")
                </div>
            </div>
        </div>
    </div>

    <!-- Panel End -->
</div>

<div id="view-emp-details-id" class="row" [hidden]="generatePayslip != false">
    <div class="col-md-12 col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Send Incentive Working</h3>
            <!-- Tab panes -->
            <div id="" class="panel-body">
                <div class="row">
                    @RenderPage("~/Views/Include/PaySlipReporties.cshtml")
                </div>
            </div>
        </div>
    </div>

    <!-- Panel End -->
</div>
<div id="deleteCorporatePopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Transaction?</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class=" ti-info-alt f-t-danger-icon"></i><br> why you reject for incentive </p>
                <div class="clear"></div>
                <div class="form-group">
                    <div checkMandatory="true" elementType="checkboxgroup" id="incentiveError">
                        <label class="form-label">Select Incentive Problem <span class="color-primary-span">*</span></label>
                        <br>
                        <div class="checkbox {{'checkbox' + $index}}" *ngFor="let intPer of incentiveInitArray">
                            <label>
                                <input checklist-model="incentiveDetails.incentiveError" checklist-value="intPer.id" type="checkbox">
                                {{intPer.text}}
                            </label>
                        </div>
                    </div>
                    <div id="incentiveError_error" class="displayError ng-hide color-white"></div>
                </div>
                <div class="form-group">
                    <label class="form-label">Comments <span class="color-primary-span">*</span></label>
                    <textarea id="comments" [(ngModel)]="incentiveDetails.comments" class="form-control" checkMandatory="true" placeholder="your comment"></textarea>
                    <div id="comments_error" class="displayError ng-hide color-white"></div>
                </div>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" (click)="rejectIncentiveSubmit()">Yes</button>
                <button type="submit" class="btn" data-dismiss="modal">No</button>

            </div>
        </div>

    </div>
</div>

<div id="sucessPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class="ti-check-box f-t-success-icon"></i><br>This activity has completed successfully</p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>



<div id="responseDataPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class="ti-help-alt f-t-info-icon"></i><br>Do you wish to proceed with the given performance numbers.</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn " (click)="approveIncentiveSubmit()">Yes</button>
                <button type="submit" class="btn" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>



<div id="showCustRelationshipnew" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class=" ti-help-alt f-t-info-icon"></i><br>Do you wish to generate the performance sheet for the Branch / Channel</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reGenerateSheetSubmit();">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="customerDetailsnew" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class=" ti-info-alt f-t-info-icon"></i><br>{{updateResponseData}}</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="sucessPopupnew" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class=" ti-check-box f-t-success-icon"></i><br>
                    This activity has completed successfully
                </p>
            </div>
            <div class="modal-footer f-t-success">

                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!--Pop up for file not exist on folder-->
<div id="NotExist" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <h4 class="modal-title">Transaction Unsuccessfull</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="noFileFound">
                <div class="text-center">
                    <div class="">
                        <p class="text-center font-weight-600 color-info">
                            <i class="f-t-danger-icon  ti-trash"></i>
                            <br>

                            Resources not available on system

                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn " data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>

<div id="viewsIncentiveDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <h4 class="panel-title">Incentive Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class="ti-info-alt f-t-info-icon"></i></p>
                <p><b>Problem Reported</b> : <span *ngFor="let items of viewIncentiveDetails.incentiveError">{{items}} &nbsp;&nbsp; </span></p>
                <div class="clear"></div>
                <div class="form-actions margin-top-10">
                    <p><b>Comment</b> : {{viewIncentiveDetails.comments}} </p>
                </div>
            </div>
            <div class="modal-footer f-t-info">

                <button type="button" class="btn" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="customerDetailsForUpdateMonth" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <h4 class="modal-title">Transaction Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class=" ti-info-alt f-t-info-icon"></i><br>{{sucessGeneratePayslip}}</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>