﻿
@{
    Layout = null;
    ViewBag.Title = "ViewCustomer";
}
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">View Customer</h1>
    </div>

    <div class="clear"></div>
</header>
<!-- Form Validation -->
<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
    <div id="view-table-id" class="row">
        <!-- Panel -->
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="panel">
                <div class="panel-heading" style="margin-bottom:5px;"></div>
                <div id="example3_wrapper" class="table-responsive">                    
                    <div id="myTable_filter" class="dataTables_filter pull-right m-r-30" style="float:right;"><label><input type="search" class="form-control" style="width: 300px; padding: 7px; margin-left:3px; border-radius:5px;margin-bottom: 10px;" placeholder="Search By: Customer Name Or Code" aria-controls="myTable" (keyup.enter)="searchBranch();" [(ngModel)]="searchByBranch.customerName"></label></div>
                    <table class="table table-hover manage-u-table">
                        <thead>
                            <tr class="table-head">
                                <th class="text-center" width="70px">#</th>
                                <th class="text-center">Customer Name</th>
                                <th class="text-center">Group Name</th>
                                <th class="text-center">Sold To Code</th>
                                <th class="text-center">District</th>
                                <th class="text-center">State</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of responseData;let i  = index" class="text-center">
                                <td style="width: 50px;">{{i + 1}}</td>
                                <td><span class="font-medium">{{item.customerName}}</span></td>
                                <td><span class="font-medium">{{item.groupName}}</span></td>
                                <td style="width: 120px;"><span class="font-medium">{{item.soldToCode}}</span></td>
                                <td><span class="font-medium">{{item.districtOrTown}}</span></td>
                                <td style="width: 130px;"><span class="font-medium">{{item.stateCode}}</span></td>
                                <td><span class="font-medium">{{item.status}}</span></td>
                                <td><!--[hidden]="item.status != 'ACTIVE'"--> <button class="btn btn-info btn-outline btn-circle btn-xs m-r-5" (click)="editCustomerDetailsSubmit(i)"><i class="ti-pencil-alt">E</i></button></td>
                            </tr>
                        </tbody>
                        <tbody id="row_not_found_id">
                            <tr>
                                <td colspan="7" class="text-center">No Data Found</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>

                                <td colspan="6">
                                    <div class="text-right">
                                        <button type="button" id="example1_previous" style="margin-right:5px; border-radius:5px;" class="btn btn-rounded btn-success page-item previous disabled" (click)="getPreviousCustomer();">Previous</button>
                                        <button type="button" id="example1_next" style="margin-right:5px; border-radius:5px;" class="btn btn-rounded btn-primary page-item next" (click)="getNextCustomer();">Next</button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- Table Section End -->


        </div>
        <!-- Panel END-->
    </div>
    <div id="view-table-id" class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
            <!-- Session End-->
            <!-- Edit Branch Details Section -->
            <section id="edit-table-id" class="panel panel-with-borders" style="display: none;">
                @RenderPage("~/Views/Include/CustomerBasicDetails.cshtml")
                <!-- Panel END-->
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                    <button type="button" id="updateCustomerBtn" style="margin-top: 5px; margin-right: 10px;" class="btn btn-primary width-200 pull-right margin-bottom-20" (click)="updateCustomer();">Update Customer</button>
                </div> 
            </section>
            <!-- Add New Customer Relationship-->
            <section id="add-relationship" class="panel panel-with-borders" style="display: none;     margin-left: 18px;">
                @RenderPage("~/Views/Include/CustomerRelation.cshtml")
                <!-- Panel END-->
            </section>
            <section id="view-customer-id" class="panel panel-with-borders" style="display: none; margin-top:20px;     margin-left: 18px;">
                @RenderPage("~/Views/Include/ViewCustomerRelation.cshtml")
            </section>
            <!-- Session End-->
        </div>
        </div>
</div>

    <!-- Add Sold To Party Code Link -->
    <div class="modal fade" id="example4" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close margin-bottom-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Sold To Party Code Link</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-warning width-200 pull-right margin-bottom-20" (click)="addSoldToPartyCodes();">Add New Party Link</button>
                    <div class="clear"></div>
                    <div class="col-lg-12" *ngFor="let soldToCode of customerBaseDetails.soldToPartyCodes">
                        <div class="form-group">
                            <label class="form-label" for="validation-username">Sold To Party Code Link</label>
                            <label class="input-group">
                                <input id="{{'soldToCode'}}"
                                       class="form-control"
                                       name="validation[customerCode]" [(ngModel)]="soldToCode.soldToPartyCodesSecondary"
                                       type="text">
                                <span class="input-group-addon" (click)="removeSoldToPartyCodes($index);">
                                    <i class="icmn-minus3"></i>
                                </span>
                            </label>
                            <div id="{{'soldToCode'  + '_error'}}" class="displayError color-white ng-hide"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <div id="updateSucessPopup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-success">
                    <button type="button" class="close" (click)="ngOnModalClose('updateSucessPopup')">&times;</button>
                    <h4 class="modal-title">Completed Successfully</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="ti-check-box f-t-success-icon"></i><br>
                        Activity Completed Successfully
                    </p>
                </div>
                <div class="modal-footer f-t-success">
                    <button type="button" class="btn" (click)="ngOnModalClose('updateSucessPopup')">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="updateErrorPopup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-danger">
                    <button type="button" class="close" (click)="ngOnModalClose('updateErrorPopup')">&times;</button>
                    <h4 class="modal-title">Process Unsuccessful</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="ti-alert f-t-danger-icon"></i><br>
                        Failure{{errorMessage}}
                    </p>
                </div>
                <div class="modal-footer f-t-danger">
                    <button type="button" class="btn" (click)="ngOnModalClose('updateErrorPopup')">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sucessPopup" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Completed Successfully</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="f-t-success-icon ti-check-box"></i><br>
                        Activity Completed Successfully
                    </p>
                </div>

                <div class="modal-footer f-t-success">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
   
    <div class="modal fade" id="deleteEmployeeRolePopup" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-danger">
                    <h4 class="modal-title" style="margin-top: 15px; margin-left: 120px;">Confirm Delete</h4>
                    <button class="close" data-dismiss="modal" type="button">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center text-info">
                        <i class="icmn-info color-primary font-size-26"></i><br>
                        Are you sure you would like to delete this customer relationship ?
                    </p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary b-close" style="margin:3px; border-radius:5px;" (click)="deleteSubmit()">Yes</button>
                    <button type="button" class="btn btn-secondary b-close" style="min-width: 38px; margin:3px;border-radius:5px;">No</button>
                </div>
                <div class="modal-footer f-t-danger">
                    <button type="button" class="btn btn-danger" style="margin-right:5px; border-radius:5px;" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Add Sold To Party Code Link -->
    <div class="modal fade" id="example4" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered" role="document">
            <div class="modal-content">
                <div class="modal-header f-t-info">
                    <button type="button" class="close margin-bottom-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Sold To Party Code Link</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-warning width-200 pull-right margin-bottom-20" (click)="addSoldToPartyCodes();">Add New Party Link</button>
                    <div class="clear"></div>
                    <div class="col-lg-12" *ngFor="let soldToCode of customerBaseDetails.soldToPartyCodes">
                        <div class="form-group">
                            <label class="form-label" for="validation-username">Sold To Party Code Link</label>
                            <label class="input-group">
                                <input id="{{'soldToCode'}}"
                                       class="form-control"
                                       name="validation[customerCode]" [(ngModel)]="soldToCode.soldToPartyCodesSecondary"
                                       type="text">
                                <span class="input-group-addon" (click)="removeSoldToPartyCodes($index);">
                                    <i class="icmn-minus3"></i>
                                </span>
                            </label>
                            <div id="{{'soldToCode' + '_error'}}" class="displayError color-white ng-hide"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer f-t-info">
                    <button type="button" class="btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {

            $(".docStr").datepicker({ dateFormat: 'dd-mm-yy', buttonImageOnly: true });
            $(".doj").datepicker({ dateFormat: 'dd-mm-yy', buttonImageOnly: true });

        });
    </script>

    <!-- Edit Branch Details Section End -->
