﻿
@{
    Layout = null;
    ViewBag.Title = "ViewEmployee";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Breadcrumb--
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;"><h4 class="page-title">View Employee</h4></div>
<div class="row bg-title" style="margin-top:25px; margin-left:-10px;">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb" style="border-radius:0px; background-color:#487EB0;">
            <li hm-state-transition="my-dashboard" st><a href="javascript:void(0)" style="margin-right:3px; color:white;">My Dashboard /</a></li>
            <li class="active" style="margin-left:1px; color:white; font-weight:bold;">View Employee</li>
        </ol>
    </div>
    <!-- /.col-lg-12 --

</div>
<!-- Breadcrumb End-->
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">View Employee</h1>
    </div>

    <div class="clear"></div>
</header>
<!-- Branch Details Section -->
<div id="view-details-id" class="row">

    @RenderPage("~/Views/Include/ViewEmployeeBasicDetails.cshtml")

</div>
<!-- Branch Details Section End-->
<!-- Basic Details Section -->
<div id="edit-details-id" class="row" style="display: none;">
    <div class="white-box">
        <h3 class="box-title">Employee Details</h3>
        <!-- Nav tabs -->
        <ul class="nav customtab nav-tabs" role="tablist">
            <li role="presentation" id="BasicDiv" class="active">
                <a href="#Employeebasicdetail" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">
                    <span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Basic Details</span>
                </a>
            </li>
            <li role="presentation" id="RoleDiv" class="">
                <a href="#Role" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Role</span>
                </a>
            </li>
            <li role="presentation" id="NewRoleDiv" class="" *ngIf="employeeBaseDetails.status != 'RESIGNED'">
                <a href="#AddRole" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Add New Role</span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="Employeebasicdetail">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="panel m-0">
                                <div class="panel-wrapper collaps in">
                                    <div id="showData" class="form-group">
                                        <div class="well p-t-0 p-b-0">
                                            @RenderPage("~/Views/Include/EmployeeBasicDetails.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="Role">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="panel m-0">
                                <div class="panel-wrapper collaps in">
                                    <div id="showData" class="form-group">
                                        @RenderPage("~/Views/Include/EmployeeRole.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="AddRole">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="panel m-0">
                                <div class="panel-wrapper collaps in">
                                    <div id="showData" class="form-group">
                                        <div class="well p-t-0 p-b-0" id="createRoleDetails">
                                            @RenderPage("~/Views/Include/CreateEmployeeRole.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <!-- Panel End -->
    </div>
</div>


    <!-- Delete Popup -->
    <!-- Modal -->
    <div id="deleteEmployeeRolePopup1" class="modal fade" role="dialog">
        <div class="modal-dialog  modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-danger">
                    <button type="button" class="close" (click)="ngOnModalClose('deleteEmployeeRolePopup1')">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="ti-info-alt f-t-danger-icon"></i><br>
                        Are you sure you would like to delete this role ?
                    </p>
                </div>
                <div class="modal-footer f-t-danger">
                    <button type="button" class="btn" (click)="ngOnDeleteSubmit()">Yes</button>
                    <button type="button" class="btn" (click)="ngOnModalClose('deleteEmployeeRolePopup1')">No</button>

                </div>
            </div>

        </div>
    </div>

    <div id="responseDataPopup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-info">
                    <button type="button" class="close" (click)="ngOnModalClose('responseDataPopup')">&times;</button>
                    <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="ti-info-alt f-t-info-icon"></i><br>
                        You can close any existing and active employee role(s) <br />by updating the Role End Month value.
                    </p>
                </div>
                <div class="modal-footer f-t-info">
                    <button type="button" class="btn" data-dismiss="modal" (click)="ngOnUpdateRoleSubmit()">Yes</button>
                    <button type="button" class="btn" (click)="ngOnModalClose('responseDataPopup')">No</button>

                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="crSucessPopup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-danger">
                    <button type="button" class="close" (click)="ngOnModalClose('crSucessPopup')">&times;</button>
                    <h4 class="modal-title">Activity Failed</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="ti-info-alt f-t-danger-icon"></i><br>
                        {{errorMessage}}
                    </p>
                </div>
                <div class="modal-footer f-t-danger">
                    <button type="button" class="btn" (click)="ngOnModalClose('crSucessPopup')">Close</button>

                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="showCustRelationship1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-info">
                    <button type="button" class="close" (click)="ngOnModalClose('showCustRelationship1')">&times;</button>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="ti-info-alt f-t-info-icon"></i><br>Would you like to open a VACANT position against the current <br>position held by the employee ?
                        By doing this the current <br>position shall not be closed within the organization.
                    </p>
                </div>
                <div class="modal-footer f-t-info">
                    <button type="button" class="btn" (click)="ngOnModalClose('showCustRelationship1')">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="updateSucessPopup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-success">
                    <button type="button" class="close" (click)="ngOnModalClose('updateSucessPopup')">&times;</button>
                    <h4 class="modal-title">Completed Successfully</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="ti-check-box f-t-success-icon"></i><br>
                        Activity Completed Successfully
                    </p>
                </div>
                <div class="modal-footer f-t-success">
                    <button type="button" class="btn" (click)="ngOnModalClose('updateSucessPopup')">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="updateErrorPopup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-danger">
                    <button type="button" class="close" (click)="ngOnModalClose('updateErrorPopup')">&times;</button>
                    <h4 class="modal-title">Process Unsuccessful</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <i class="ti-alert f-t-danger-icon"></i><br>
                        Failure
                    </p>
                </div>
                <div class="modal-footer f-t-danger">
                    <button type="button" class="btn" (click)="ngOnModalClose('updateErrorPopup')">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!--popup for Empty Input Sumission-->
    <!-- Modal -->
    <div id="customerDetailsForUpdateMonth1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-vertical-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header f-t-info">
                    <button type="button" class="close" (click)="ngOnModalClose('customerDetailsForUpdateMonth1')">&times;</button>
                    <h4 class="modal-title">Transaction Failed</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        The selected role for the employee cannot be update.<br>The employee is currently associated with the following customers.
                    </p>
                    <div class="table-responsive margin-bottom-20" style=" height 200px; overflow auto;">
                        <table class="table table-hover nowrap" id="example1" width="100%">
                            <thead>
                                <tr class="table-head">
                                    <th class="text-center">Customer Name</th>
                                    <th class="text-center">Sold To Code</th>
                                    <th class="text-center">Start Month</th>
                                    <th class="text-center">End Month</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="table-head">
                                    <th class="text-center">Customer Name</th>
                                    <th class="text-center">Sold To Code</th>
                                    <th class="text-center">Start Month</th>
                                    <th class="text-center">End Month</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let item of responseDeleteRoleData let i = index" ng-class-odd="'odd'" ng-class-even="'even'" class="text-center">
                                    <td>{{item.customerName}}</td>
                                    <td>{{item.soldToCode}}</td>
                                    <td>{{item.startMonthDescription}}</td>
                                    <td>{{item.endMonthsDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center">de-link the employee from all customers to proceed further with this activity</p>
                    <!-- Email Template For Email -->
                    <div id="tamp" class="table-responsive" style="margin-bottom: 50px; display: none; color: #5b5d5f;">
                        <p style="line-height: 20px; margin-bottom: 20px;">
                            The selected role for the employee cannot be updated. The employee is currently associated with the following customers.
                        </p>
                        <table class="table table-hover nowrap" id="example1" width="100%">
                            <thead>
                                <tr style="color: #5b5d5f; font-size: 13px">
                                    <th style="text-align: center; padding: 10px 0px;">Customer Name</th>
                                    <th style="text-align: center; padding: 10px 0px;">Sold To Code</th>
                                    <th style="text-align: center; padding: 10px 0px;">Start Month</th>
                                    <th style="text-align: center; padding: 10px 0px;">End Month</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr style="color: #5b5d5f; font-size: 13px">
                                    <th style="text-align: center; padding: 10px 0px;">Customer Name</th>
                                    <th style="text-align: center; padding: 10px 0px;">Sold To Code</th>
                                    <th style="text-align: center; padding: 10px 0px;">Start Month</th>
                                    <th style="text-align: center; padding: 10px 0px;">End Month</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let tem of responseDeleteRoleData let i = index" style="text-align: center; background: #d7cec7; color: #5b5d5f; font-size: 12px;">
                                    <td style="padding: 10px 0px;">{{tem.customerName}}</td>
                                    <td style="padding: 10px 0px;">{{tem.soldToCode}}</td>
                                    <td style="padding: 10px 0px;">{{tem.startMonthDescription}}</td>
                                    <td style="padding: 10px 0px;">{{tem.endMonthsDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="margin-top: 20px; line-height: 20px;">de-link the employee from all customers to proceed further with this activity.</p>
                    </div>
                </div>
                <div class="modal-footer f-t-info">
                    <button type="button" class="btn" data-dismiss="modal" (click)="ngOnCreateVacantRoleSubmit();">Yes</button>
                    <button type="button" class="btn " data-dismiss="modal" (click)="ngOnModalClose('customerDetailsForUpdateMonth1')">No</button>
                </div>
            </div>

        </div>
    </div>

