﻿
@{
    Layout = null;
    ViewBag.Title = "ViewActualsRequestList";
}
<br />
<div id="myTable_filter" class="dataTables_filter pull-right m-r-30" style="float:right;">
    <label>
        <input type="search" class="form-control" style="width:300px; padding:7px; margin-left:3px; border-radius:5px;margin-bottom:10px;" placeholder="Search By: Employee Name or Adp Id" aria-controls="myTable" (keyup.enter)="searchData();" [(ngModel)]="searchByName.adpId">
    </label>
</div>
<div class="clearfix"></div>
<div class="w-100 px-2 pt-1 pb-3">
    <div class="" id="createReport">

    </div>
    

    <div class="mt-2" id="">
        <div>
            <div class="meta_tabs"></div>

            <div class="card-block card-class-c mt-2 p-0 data-bg" id="myTabContent">
                <div class="card-header pb-1"><p class="mb-0">View Actual Request List</p></div>
                <br />
                <div class="card-body p-0">
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                        <div id="view-table-id" class="row">
                            <!-- Panel -->
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="panel">
                                    <div class="panel-heading" style="margin-bottom:5px;"></div>
                                    <div id="example3_wrapper" class="table-responsive">

                                        <table class="table table-hover manage-u-table">
                                            <thead>
                                                <tr class="table-head">
                                                    <th class="text-center" width="70px">#</th>
                                                    <th class="text-center">Request raised by</th>
                                                    <th class="text-center">Request raised for</th>
                                                    <th class="text-center">Year</th>
                                                    <th class="text-center">Month</th>
                                                    <th class="text-center">Amount(Cr)</th>
                                                    <th class="text-center">BG</th>
                                                    <th class="text-center">Approver Name</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center showButtonTH">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of responseData;let i  = index" class="text-center" style="padding:0px!important;border-bottom: 1px solid #ddd;">
                                                    <td style="width: 50px;">{{i + 1}}</td>
                                                    <td><span class="font-medium">{{item.requestRaisedByName}}({{item.requestRaisedByAdpId}})</span></td>
                                                    <td><span class="font-medium">{{item.requestRaisedForName}}({{item.requestRaisedForAdpId}})</span></td>
                                                    <td><span class="font-medium">{{item.year}}</span></td>
                                                    <td style="width: 120px;"><span class="font-medium">{{item.month}}</span></td>
                                                    <td><span class="font-medium">{{item.amount}}</span></td>
                                                    <td style="width: 130px;"><span class="font-medium">{{item.bg}}</span></td>
                                                    <td><span class="font-medium">{{item.approverName}}({{item.approverAdpId}})</span></td>
                                                    <td><span class="font-medium">{{item.status}}</span></td>
                                                    <td style="width:10%!important; display:none" id="showButtonTD{{i}}">
                                                        <button class="btn btn-success" style="font-size:8px!important; padding:4px!important; margin-right:1px;" (click)="approveActualRequest(i)">
                                                            <i class="ti-pencil-alt">Approve</i>
                                                        </button>
                                                        <button class="btn btn-danger" style="font-size:8px!important; padding:5px!important;" (click)="rejectActualRequest(i)">
                                                            <i class="ti-pencil-alt">Reject</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody id="row_not_found_id" style="display:none;">
                                                <tr>
                                                    <td colspan="7" class="text-center">No Data Found</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td colspan="6">
                                                        <div class="text-right">
                                                            <button type="button" id="example1_previous" style="margin-right:5px; border-radius:5px; display:none;" class="btn btn-rounded btn-success page-item previous disabled" (click)="getPreviousCustomer();">Previous</button>
                                                            <button type="button" id="example1_next" style="margin-right:5px; border-radius:5px; display:none;" class="btn btn-rounded btn-primary page-item next" (click)="getNextCustomer();">Next</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- Table Section End -->


                            </div>
                            <!-- Panel END-->
                        </div>

                    </div>
                </div>
            </div>


         
         
                   
        </div>
    </div>
</div>

                    
                   
               

                
