﻿@{
    Layout = null;
    ViewBag.Title = "ViewIncentive";
}

<!-- Breadcrumb--
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;"><h4 class="page-title">View Incentive Requests</h4></div>
<div class="row bg-title" style="margin-top:25px; margin-left:-10px;">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb" style="border-radius:0px; background-color:#487EB0;">
            <li hm-state-transition="my-dashboard" st><a href="javascript:void(0)" style="margin-right:3px; color:white;">My Dashboard /</a></li>
            <li class="active" style="margin-left:1px; color:white; font-weight:bold;">View Incentive Requests</li>
        </ol>
    </div>
    <!-- /.col-lg-12 --

</div>
<!-- Breadcrumb End-->
<header class="page-header row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1 class="float-left text-center text-md-left">View Incentive Requests</h1>
    </div>

    <div class="clear"></div>
</header>

<!-- Branch Details Section -->
<div id="view-table-id" class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="panel">
            <div class="panel-heading">Incentive Requests Table</div>
            <div class="">
                <!-- Search Section -->
                <div class="col-sm-12">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div id="example3_filter" class="dataTables_filter">
                            <label class="pull-right">
                                Search On:<input type="search" style="width:300px" class="form-control input-sm" (keyup.enter)="searchBranch()" [(ngModel)]="incentiveDetails.incentiveName" placeholder="Incentive Name" aria-controls="example3"><!--[(ngModel)]="searchByBranch.incentiveName"-->
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Table Section -->
                <div id="row_table_id" class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-hover nowrap" id="example1" width="100%">
                            <thead>
                                <tr class="table-head">
                                    <th class="col-sm-2">S.No</th>
                                    <th class="col-sm-2">Incentive Name</th>
                                    <th class="col-sm-2">Quarter</th>
                                    <th class="col-sm-2">Year</th>
                                    <th class="col-sm-2">Status</th>
                                    <th class="col-sm-2">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="table-head">
                                    <th class="col-sm-2">S.No</th>
                                    <th class="col-sm-2">Incentive Name</th>
                                    <th class="col-sm-2">Quarter</th>
                                    <th class="col-sm-2">Year</th>
                                    <th class="col-sm-2">Status</th>
                                    <th class="col-sm-2">Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let item of responseData; let i = index">
                                    <!-- ng-class-odd="'odd'" ng-class-even="'even'"-->
                                    <td class="col-sm-2">{{i + 1}}</td>
                                    <td class="col-sm-2">{{item.incentiveName}}</td>
                                    <td class="col-sm-2">{{item.quarter}}</td>
                                    <td class="col-sm-2">{{item.year}}</td>
                                    <td class="col-sm-2">{{item.status}}</td>
                                    <td class="col-sm-2">
                                        <button class="btn btn-primary btn-sm tooltips" title="View Incentive" [hidden]="item.status == 'CANCELLED'" (click)="viewIncentiveSubmit(i)"><i class=" ti-eye font-size-14"></i></button>
                                        <!--<button class="btn btn-primary btn-sm tooltips" title="Download Performance Sheet" [hidden]="item.status != 'QUEUED FOR DATA'" (click)="downloadPerformanceSheetSubmit($index)"><i class=" ti-import font-size-14"></i></button>
                                        <button class="btn btn-primary btn-sm tooltips" title="Approve Request" [hidden]="item.status == 'QUEUED FOR APPROVAL'" (click)="approveIncentive($index)"><i class=" ti-check font-size-14"></i></button>
                                        <button class="btn btn-primary btn-sm tooltips" title="Reject Request" [hidden]="item.status == 'QUEUED FOR APPROVAL'" (click)="rejectIncentive($index)"><i class=" ti-close font-size-14"></i></button>
                                        <button class="btn btn-primary btn-sm tooltips" title="Open For Exceptions" [hidden]="item.status == 'DISBURSE'" (click)="incentiveException($index)" data-toggle="modal" data-target="#incentive-exception"><i class=" ti-close font-size-14"></i></button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- Table Section End -->
                <!-- No Data Found Section -->
                <div id="row_not_found_id" class="col-sm-12" style="display: none;">
                    <div class="table-responsive margin-bottom-50">
                        <table class="table table-hover nowrap" id="example1" width="100%">
                            <thead>
                                <tr class="table-head">
                                    <th class="col-sm-2">S.No</th>
                                    <th class="col-sm-2">Incentive Name</th>
                                    <th class="col-sm-2">Quarter</th>
                                    <th class="col-sm-2">Year</th>
                                    <th class="col-sm-2">Status</th>
                                    <th class="col-sm-4">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td colspan="6" class="text-center font-size-16 font-weight-600" style="color: #5b5d5f;">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- No Data Found Enbd-->
                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-7">
                        <div class="btn-group margin-inline pull-right">
                            <button type="button" id="example1_previous" class="btn btn-rounded btn-success page-item previous disabled" (click)="getPreviousEmployee();">Previous</button>
                            <button type="button" id="example1_next" class="btn btn-rounded btn-primary page-item next" (click)="getNextEmployee();">Next</button>
                        </div>
                    </div>
                </div>

                <!-- Pagination End-->
            </div>
        </div>
        <div class="alert text-center" role="alert">
            <strong><i class="fa fa-hand-o-right"></i> Disclaimer :</strong> All request for approval shall be processed during the end of day batch run.
        </div>
    </div>
</div>
<!-- Branch Details Section End-->
<div id="edit-details-id" class="row" style="display: none;">
    <div class="col-md-12 col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Incentive Details</h3>
            <!-- Tab panes -->
            <div id="createBasicDetails" class="panel-body">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <!-- Year -->
                                <!--<div class="form-group">
                                    <label class="form-label">Year <span class="color-primary-span">*</span></label>
                                    <select id="yearRecorded" disabled [(ngModel)]="IncentiveCalculationRequest.year" checkMandatory="true" class="form-control remove-disable">


                                    </select>
                                    <div id="yearRecorded_error" class="displayError color-white ng-hide"></div>
                                </div>-->
                                <div class="form-group">
                                    <label class="form-label" for="validation-BranchName">Year <span class="color-primary-span">*</span></label>
                                    <label class="input-group">
                                        <input id="incentiveName"
                                               class="form-control remove-disable" disabled checkMandatory="true"
                                               name="validation[shipToPartyCode]" [(ngModel)]="IncentiveCalculationRequest.year"
                                               type="text">
                                        <span class="input-group-addon">
                                            <i class="icmn-user"></i>
                                            <!--<input type="checkbox" id="customIncentive" />-->
                                        </span>
                                    </label>
                                    <div id="incentiveName_error" class="displayError color-white ng-hide"></div>
                                </div>
                            </div>
                            <div class="col-lg-6" [hidden]="IncentiveCalculationRequest.quarter == '' && IncentiveCalculationRequest.quarter == null">
                                <!-- <div class="form-group">
                                     <label class="form-label">Period</label>
                                     <select id="quarter" [(ngModel)]="IncentiveCalculationRequest.quarter" class="form-control" disabled></select>
                                     <div id="quarter_error" class="displayError color-white ng-hide"></div>
                                 </div>-->

                                <div class="form-group">
                                    <label class="form-label" for="validation-BranchName">Period <span class="color-primary-span">*</span></label>
                                    <label class="input-group">
                                        <input id="incentiveName"
                                               class="form-control remove-disable" disabled checkMandatory="true"
                                               name="validation[shipToPartyCode]" [(ngModel)]="IncentiveCalculationRequest.quarter"
                                               type="text">
                                        <span class="input-group-addon">
                                            <i class="icmn-user"></i>
                                            <!--<input type="checkbox" id="customIncentive" />-->
                                        </span>
                                    </label>
                                    <div id="incentiveName_error" class="displayError color-white ng-hide"></div>
                                </div>
                            </div>
                            <div class="col-lg-6" id="incentiveName">
                                <div class="form-group">
                                    <label class="form-label" for="validation-BranchName">Incentive Name <span class="color-primary-span">*</span></label>
                                    <label class="input-group">
                                        <input id="incentiveName"
                                               class="form-control remove-disable" disabled checkMandatory="true"
                                               name="validation[shipToPartyCode]" [(ngModel)]="IncentiveCalculationRequest.incentiveName"
                                               type="text">
                                        <span class="input-group-addon">
                                            <i class="icmn-user"></i>
                                            <!--<input type="checkbox" id="customIncentive" />-->
                                        </span>
                                    </label>
                                    <div id="incentiveName_error" class="displayError color-white ng-hide"></div>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <!-- Status -->
                                <div class="form-group">
                                    <label class="form-label">Status <span class="color-primary-span">*</span></label>
                                    <select id="status" name="validation-simple[type]"
                                            class="form-control enable-disable" disabled [(ngModel)]="IncentiveCalculationRequest.status" (change)="incentiveStatus();" checkMandatory="true"
                                            data-validation="[NOTEMPTY]">
                                        <option value="">-Select Status-</option>
                                        <option value="OPEN">OPEN</option>
                                        <option value="CANCELLED">CANCELLED</option>
                                        <option value="CLOSED">CLOSED</option>

                                    </select>
                                    <div id="status_error" class="displayError color-white ng-hide"></div>
                                </div>
                            </div>
                            <div id="CommentBox" class="col-lg-6" style="display: none;">
                                <!-- Status -->
                                <div class="form-group">
                                    <label class="form-label">Comment <span class="color-primary-span">*</span></label>
                                    <textarea id="comments" class="form-control" [(ngModel)]="IncentiveCalculationRequest.comments" placeholder="Type Comment...." checkMandatory="true"></textarea>
                                    <div id="commentst_error" class="displayError color-white ng-hide"></div>
                                </div>
                            </div>

                            <div class="clear"></div>
                            <button type="button" id="update-basic-button" class="btn btn-primary width-100 ng-hide" (click)="updateIncentiveSubmit();">Update</button>
                            <button type="button" id="sucess-basic-button" class="btn btn-success width-100 ng-hide">SUCESS</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Panel End -->
</div>

<div id="view-emp-details-id" class="row" style="display: none;">
    <div class="col-md-12 col-sm-12">
        <div class="white-box">
            <h3 class="box-title">View Disbursement Status</h3>
            <!-- Tab panes -->
            <div id="createBasicDetails" class="panel-body">
                <div class="row">
                    <!-- Step 2-->
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="submit-basic-button" class="btn btn-success tooltips m-r-5" title="Download Incentive Calculation Sheet" (click)="incentiveSheetForQuarter(i);"><span>Incentive Calculation Sheet</span></button>
                            <button type="button" id="submit-basic-button" class="btn btn-primary tooltips m-r-5" title="Download Final Disbursement Sheet" (click)="DisbursementSheet(i);"><span>Final Disbursement Sheet</span></button>
                            <button type="button" id="submit-basic-button" class="btn btn-info pull-right tooltips m-r-5" title="Close Incentive" (click)="closeIncentiveQuarter(i);"><span>Close Incentive</span></button>
                            <div class="clear"></div>
                            <div class="form-actions margin-top-10"></div>
                            <!-- Table Section -->
                            <div id="row_table_id" class="row row_table_class">
                                <div class="table-responsive margin-bottom-50">
                                    <table class="table table-hover nowrap" id="example1" width="100%">
                                        <thead>
                                            <tr class="table-head">
                                                <th class="col-sm-1">S.No</th>
                                                <th class="col-sm-1">Employee ID</th>
                                                <th class="col-sm-2">Name</th>
                                                <th class="col-sm-1">Role</th>
                                                <th class="col-sm-2">Channel</th>
                                                <th class="col-sm-2">Status</th>
                                                <th class="col-sm-2">Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr class="table-head">
                                                <th class="col-sm-1">S.No</th>
                                                <th class="col-sm-1">Employee ID</th>
                                                <th class="col-sm-2">Name</th>
                                                <th class="col-sm-1">Role</th>
                                                <th class="col-sm-2">Channel</th>
                                                <th class="col-sm-2">Status</th>
                                                <th class="col-sm-2">Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr *ngFor="let item of employeeRole; let i = index" class="">
                                                <!--ng-class-odd="'odd'" ng-class-even="'even'" -->
                                                <td class="col-sm-1">{{i + 1}}</td>
                                                <td class="col-sm-1">{{item.adpId}}</td>
                                                <td class="col-sm-2">{{item.fullName}}</td>
                                                <td class="col-sm-1">{{item.role}}</td>
                                                <td class="col-sm-2">{{item.channelCode}}</td>
                                                <td class="col-sm-2">{{item.status}}</td>
                                                <td class="col-sm-2">
                                                    <button type="button" id="submit-basic-button" class="btn btn-primary btn-xs tooltips"
                                                            [hidden]="item.status == 'QUEUED FOR DATA'" (click)="downloadPerformanceSheetSubmit(i);" title="Download Performance Sheet">
                                                        <i class=" ti-download"></i>
                                                    </button>
                                                    <!--<button type="button" id="submit-gen-payslip-button" class="btn btn-primary btn-xs tooltips" title="Generate Payslips" [hidden]="item.status == 'APPROVED' &amp;&amp; adminRole != 'ADMINISTRATOR'" (click)="generatePayslipSubmit($index);">
                                                        <i class=" ti-printer"></i>
                                                    </button>-->
                                                    <button type="button" id="submit-re-gen-sheet-button" class="btn btn-success btn-xs tooltips" [hidden]="(item.status != 'REJECTED' || item.status != 'PARTIALLY REJECTED') &amp;&amp; adminRole == 'ADMINISTRATOR'" (click)="reReneratePerformanceSheet(i);" title="Re-Generate Performance Sheet"><i class=" ti-reload"></i></button>
                                                    <button type="button" id="submit-reject-button" class="btn btn-warning btn-xs tooltips" [hidden]="(item.status != 'APPROVED' || item.status != 'PARTIALLY APPROVED') &amp;&amp; adminRole != 'ADMINISTRATOR'" (click)="rejectIncentive(i);" title="Reject Performance"><i class=" ti-close"></i></button>
                                                    <button type="button" id="submit-view-button" class="btn btn-primary btn-xs tooltips ng-hide" [hidden]="item.status != 'REJECTED'" (click)="viewIncentiveDetailsSubmit(i);" title="View Comment"><i class="ti-eye"></i></button>

                                                    <button type="button" id="submit-view-button2" class="btn btn-primary btn-xs tooltips ng-hide" [hidden]="item.status != 'PARTIALLY QUEUED FOR PAYOUT CARD'" (click)="viewIncentivePartialApproveDetailsSubmit(i);" title="View Comment"><i class="ti-eye"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Table Section End -->
                            <!-- Views Details For Incentive Approve Or Reject Incentie END  -->
                            <!-- No Data Found Section -->
                            <div id="row_not_found_id" class="row" style="display: none;">
                                <div class="table-responsive margin-bottom-50">
                                    <table class="table table-hover nowrap" id="example1" width="100%">
                                        <thead>
                                            <tr class="table-head">
                                                <th class="col-sm-1">S.No</th>
                                                <th class="col-sm-1">Employee ID</th>
                                                <th class="col-sm-2">Name</th>
                                                <th class="col-sm-1">Role</th>
                                                <th class="col-sm-2">Channel</th>
                                                <th class="col-sm-2">Status</th>
                                                <th class="col-sm-2">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="9" class="text-center font-size-16 font-weight-600" style="color: #003399;">No List Found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- No Data Found Enbd-->
                            </div>
                        </div>
                        <a href="../ExcelReport/ExportExcel?name={{path}}" id="downloadSheet"></a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Panel End -->
</div>


<div id="deleteCorporatePopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class=" ti-info-alt f-t-danger-icon"></i><br> why you reject for incentive </p>
                <div class="clear"></div>
                <div class="form-group">
                    <div checkMandatory="true" elementType="checkboxgroup" id="incentiveError">
                        <label class="form-label">Select Incentive Problem <span class="color-primary-span">*</span></label>
                        <br>
                        <div class="checkbox {{'checkbox' + $index}}" *ngFor="let intPer of incentiveInitArray">
                            <input checklist-model="incentiveDetails.incentiveError" checklist-value="intPer.id" type="checkbox">
                            <label>
                                {{intPer.text}}
                            </label>
                        </div>
                    </div>
                    <div id="incentiveError_error" class="displayError ng-hide color-white"></div>
                </div>
                <div class="form-group">
                    <label class="form-label">Comments <span class="color-primary-span">*</span></label>
                    <textarea id="comments" [(ngModel)]="incentiveDetails.comments" class="form-control" checkMandatory="true" placeholder="your comment"></textarea>
                    <div id="comments_error" class="displayError ng-hide color-white"></div>
                </div>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" (click)="rejectIncentiveSubmit()">Yes</button>
                <button type="submit" class="btn" data-dismiss="modal">No</button>

            </div>
        </div>

    </div>
</div>

<div id="sucessPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class="ti-check-box f-t-success-icon"></i><br>Transaction Successful</p>
            </div>
            <div class="modal-footer f-t-success">
                <button type="button" class="btn " data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>



<div id="responseDataPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <h4 class="page-title">Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p class="text-center"><i class="ti-help-alt f-t-info-icon"></i><br>Do you wish to proceed with the given performance numbers.</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn " (click)="approveIncentiveSubmit()">Yes</button>
                <button type="submit" class="btn" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>



<div id="showCustRelationshipnew" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <h4 class="page-title">Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class=" ti-help-alt f-t-info-icon"></i><br>Do you wish to generate the performance sheet for the Branch / Channel</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reGenerateSheetSubmit();">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="customerDetailsnew" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <h4 class="page-title">Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class=" ti-info-alt f-t-info-icon"></i><br>{{updateResponseData}}</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="sucessPopupnew" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-success">
                <h4 class="page-title">Success</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class=" ti-check-box f-t-success-icon"></i><br>
                    This activity has completed successfully
                </p>
            </div>
            <div class="modal-footer f-t-success">

                <button type="button" class="btn" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!--Pop up for file not exist on folder-->
<div id="NotExist" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <h4 class="modal-title">Error</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="noFileFound">
                <div class="text-center">
                    <div class="">
                        <p class="text-center font-weight-600 color-info">
                            <i class="f-t-danger-icon  ti-trash"></i>
                            <br>

                            Resources not available on system

                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn " data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>

<div id="viewsIncentiveDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <h4 class="panel-title">Incentive Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class="ti-info-alt f-t-info-icon"></i></p>
                <p><b>Problem Reported</b> : <span *ngFor="let items of viewIncentiveDetails.incentiveError">{{items}} &nbsp;&nbsp; </span></p>
                <div class="clear"></div>
                <div class="form-actions margin-top-10">
                    <p><b>Comment</b> : {{viewIncentiveDetails.comments}} </p>
                </div>
            </div>
            <div class="modal-footer f-t-info">

                <button type="button" class="btn" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="customerDetailsForUpdateMonth" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <h4 class="page-title">Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class=" ti-info-alt f-t-info-icon"></i><br>{{sucessGeneratePayslip}}</p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="closerModalSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body" id="checkCloser">
                <p class="text-center"><i class=" ti-info-alt f-t-info-icon"></i><br>Upload final disbursement data for exceptional cases as approved by HR</p>
                <div class="clear"></div>
                <div class="form-group">
                    <label class="form-label">Upload File (Optional)</label>
                    <label class="input-group browseFile" for="uploadEmployeeMasterSheet">

                        <input type="file" class="form-control dn" id="uploadEmployeeMasterSheet" ng2FileSelect [uploader]="uploader" placeholder="Select Sheet..." />
                        <input type="hidden" [(ngModel)]="incentiveRow.disbursementSheet" id="dataSourceFileName" />
                        <span id="uploadtext"></span>
                        <span class="input-group-btn text-right">
                            <span class="btn btn-success btnFile">
                                Browse
                            </span>
                        </span>

                    </label>
                    <span id="uploadfile" style="font-size:12px; color:#C0392B;"></span>
                    <div class="clear"></div>
                    <span id="progresspolicebar" class="progress visiblityHidden">
                        <span class="progress-bar progress-bar-success" style="height:6px; border-radius: 6px;"></span>
                    </span>
                </div>
                <div class="form-group">
                    <a href="../MasterDataUpload/DownloadTemplate?name=DisbursementSheet_Q3_2017.xlsx" id="downloadReport"></a>
                    <a href="#" (click)="TemplateDownload();" title="Download Template" class="ng-binding" type="button"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a>
                    &nbsp;     <label class="form-label">Download Template</label>
                </div>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn" data-dismiss="modal" (click)="closeQuarter()">YES</button>
                <button type="button" class="btn" data-dismiss="modal" (click)="closeQuarter()">NO</button>
            </div>
        </div>

    </div>
</div>

<div id="closerModalWarning" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class=" ti-info-alt f-t-danger-icon"></i><br>
                    You can not close incentive due to some pending confirmations
                </p>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>