﻿<div class="panel-heading">
    <h3 class="note-color-palette color-white">
        Accrual Amount
    </h3>
</div>
<!-- Panel -->
<div class="panel-body" id="createReport">
    <div class="row">
        <h4 class="text-center">Accrual Amount</h4>
        <div class="clear"></div>
        <div class="form-actions"></div>
        <!-- Form -->
        <div class="col-lg-6">
            <!-- Employee Name -->
            <div class="form-group">
                <label class="form-label" for="validation-BranchName">Name</label>
                <label class="input-group">
                    <input id="name"
                           class="form-control"
                           name="validation[adpId]" [(ngModel)]="accrualAmount.name"
                           type="text">
                    <span class="input-group-addon">
                        <i class="icmn-user"></i>
                    </span>
                </label>
            </div>
            <!-- Month -->
            <div class="form-group">
                <label class="form-label" for="validation-monthCode">Month <span class="color-primary-span">*</span></label>
                <select name="validation-simple[monthCode]" id="monthCode" [(ngModel)]="accrualAmount.monthCode" class="form-control" checkMandatory="true">
                    <option value="">-Select Month-</option>
                    <option *ngFor="month in monthData track by $index" value="{{month.keyValue}}">{{month.description}}</option>
                </select>
                <div id="monthCode_error" class="displayError color-white ng-hide"></div>
            </div>
            
           </div>
        <div class="col-lg-6">
            <!-- Employee ID -->
            <div class="form-group">
                <label class="form-label" for="validation-BranchName">Employee ID <span class="color-primary-span">*</span></label>
                <label class="input-group">
                    <input id="adpId"
                           class="form-control"
                           name="validation[adpId]" [(ngModel)]="accrualAmount.adpId" checkMandatory="true"
                           type="text">
                    <span class="input-group-addon">
                        <i class="icmn-key"></i>
                    </span>
                </label>
                <div id="adpId_error" class="displayError color-white ng-hide"></div>
            </div>
            <!-- Year -->
            <div class="form-group">
                <label class="form-label" for="validation-BranchName">Year <span class="color-primary-span">*</span></label>
                <select name="validation-simple[yearRecorded]" id="yearRecorded" [(ngModel)]="accrualAmount.yearRecorded" class="form-control" checkMandatory="true">
                    <option value="">-Select Year-</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2013</option>
                    <option value="2024">2024</option>
                </select>
                <div id="yearRecorded_error" class="displayError color-white ng-hide"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Accrued Amount -->
            <div class="form-group">
                <label class="form-label" for="validation-BranchName">Accrued Amount <span class="color-primary-span">*</span></label>
                <label class="input-group">
                    <input id="accruedAmt"
                           class="form-control" checkMandatory="true" hm-check-is-number
                           name="validation[accruedAmt]" [(ngModel)]="accrualAmount.accruedAmt"
                           type="text">
                    <span class="input-group-addon">
                        <i class="icmn-sort-amount-asc"></i>
                    </span>
                </label>
                <div id="accruedAmt_error" class="displayError color-white ng-hide"></div>
            </div>

         </div>
        <div class="col-lg-4">
            <!-- Accrued Amount -->
            <div class="form-group">
                <label class="form-label" for="validation-BranchName">Net Amount <span class="color-primary-span">*</span></label>
                <label class="input-group">
                    <input id="netAmt"
                           class="form-control" checkMandatory="true" hm-check-is-number
                           name="validation[netAmt]" [(ngModel)]="accrualAmount.netAmt"
                           type="text">
                    <span class="input-group-addon">
                        <i class="icmn-sort-amount-asc"></i>
                    </span>
                </label>
                <div id="netAmt_error" class="displayError color-white ng-hide"></div>
            </div>

        </div>
        <div class="col-lg-4">
            <!-- Accrued Amount -->
            <div class="form-group">
                <label class="form-label" for="validation-BranchName">Gross Amount <span class="color-primary-span">*</span></label>
                <label class="input-group">
                    <input id="grossAmt"
                           class="form-control" checkMandatory="true" hm-check-is-number
                           name="validation[grossAmt]" [(ngModel)]="accrualAmount.grossAmt"
                           type="text">
                    <span class="input-group-addon">
                        <i class="icmn-sort-amount-asc"></i>
                    </span>
                </label>
                <div id="grossAmt_error" class="displayError color-white ng-hide"></div>
            </div>

        </div>
        <div class="clear"></div>
        <div class="form-actions">
            <button type="button" class="btn btn-primary width-100" (click)="accrualAmountSubmit();">Submit</button>
        </div>
        <!-- Form End -->

        </div>
</div>
<!-- Panel End -->