﻿<!-- Breadcrumb-->
<div class="row bg-title" id="BreadCrumb" ng-controller="BreadcrumbController" style="display: none">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Buttons</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
        <a href="javascript: void(0);" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)" style="cursor:pointer">Dashboard</a></li>
            <li><a href="javascript:void(0)">UI Elements</a></li>
            <li class="active">Buttons</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
    <!--<ul class="breadcrumb breadcrumbNumero">
        <li id="myDashManage">
            <a href="javascript:void(0)" (click)="referseBreadCrumbMenu();" *ngFor="dash in BreadCrumb"><i class="ace-icon fa fa-home home-icon"></i> {{dash.name}}</a>
        </li>
    </ul>-->
</div>
<!-- Breadcrumb End-->






