﻿ 
<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
   
        <div class="row">
            <!-- Customer Name -->
            <div class="form-group col-sm-4 col-md-4">
                <label class="control-label" for="customerName">Customer Name <span class="color-danger">*</span></label>
                <input id="customerName"
                       class="form-control remove-disable"
                       [(ngModel)]="customerBaseDetails.customerName" checkMandatory="true"
                       type="text">
                <div id="customerName_error" class="displayError color-white ng-hide"></div>
            </div>
            <!-- customer Code -->
            <div class="form-group col-sm-4 col-md-4">
                <label class="control-label" for="inputSold">Sold To Code <span class="color-danger">*</span></label>
                <input id="soldToCode"
                       class="form-control" checkMandatory="true"
                       [(ngModel)]="customerBaseDetails.soldToCode"
                       type="text">
                <div id="soldToCode_error" class="displayError color-white ng-hide"></div>

            </div>

            <!-- Group Name -->
            <div class="form-group col-sm-4 col-md-4">
                <label class="form-label" for="validation-BranchName">Group Name</label>
                <input id="groupName" hm-type-ahead='{"url":"/AdminDepartment/GetCustomerGroupList"}'
                       class="form-control remove-disable"
                       [(ngModel)]="customerBaseDetails.groupName"
                       type="text"><!--disabled-->
                <div id="groupName_error" class="displayError color-white ng-hide"></div>
            </div>
        </div>
  



    
        <div class="row">
            <!-- District-->
            <div class="form-group col-sm-4 col-md-4">
                <label class="control-label" for="inputDistrict">District/Town</label>
                <input id="districtOrTown"
                       class="form-control remove-disable"
                       [(ngModel)]="customerBaseDetails.districtOrTown"
                       type="text"><!--disabled-->

            </div>

            <!-- State Code -->
            <div class="form-group col-sm-4 col-md-4">
                <label class="control-label">State <span class="color-danger">*</span></label>
                <select id="stateCode" [(ngModel)]="customerBaseDetails.stateCode" class="form-control remove-disable">
                    <!--disabled-->
                    <option value="">-Select State-</option>
                    <option *ngFor="let stateCode of responseStateData" (selected)="customerBaseDetails.stateCode == stateCode.keyValue">{{stateCode.description}}</option><!--value="{{stateCode.keyValue}}"-->
                </select>
                <div id="stateCode_error" class="displayError color-white ng-hide"></div>
            </div>
            <!-- Date of Activation -->
            <div class="form-group col-sm-4 col-md-4">
                <label class="control-label" for="inputDOA">Date of Activation (DD-MM-YYYY) <span class="color-danger">*</span></label>

                <!--disabled-<input type="text" [(ngModel)]="customerBaseDetails.doaStr" id="doj" checkMandatory="true" class="form-control doj remove-disable" placeholder="-Select Date-" />-->
               <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp2" [(ngModel)]="customerBaseDetails.doaStr"  id="doaStr" ngbDatepicker [footerTemplate]="footerTemplate" #date="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-danger calendar" (click)="date.toggle()" style="border-radius: 0 5px 5px 0;"type="button"></button>
                    </div>
                </div>
                <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; date.close()">Today</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="date.close()">Close</button>
                </ng-template>
                <div id="doj_error" class="displayError ng-hide"></div>
            </div>
        </div>
   
   
        <div class="row">
            <!-- Date of Activation -->
            <div class="form-group docStrId col-md-4"  style="display: none;">
                <label class="form-label" for="inputDate">Date of Closing (DD-MM-YYYY)</label>

                <!--  <input type="text" [(ngModel)]="customerBaseDetails.docStr" id="docStr" class="form-control docStr remove-disable-status" disabled placeholder="-Select Date-" />--
    <input placeholder="yyyy-mm-dd"
           name="dp" [(ngModel)]="customerBaseDetails.docStr" (click)="d.toggle()" id="doj" checkMandatory="true" class="form-control doj remove-disable" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker">
    -->
                <!--<div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp2" [(ngModel)]="customerBaseDetails.docStr" id="docStr" ngbDatepicker [footerTemplate]="footerTemplate" #date2="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-danger calendar" *ngIf="customerBaseDetails.status == 'CLOSED'"  (click)="date2.toggle()" style="border-radius: 0 5px 5px 0;" type="button"></button>
                    </div>
                </div>
                <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; date2.close()">Today</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="date2.close()">Close</button>
                </ng-template>-->
            </div>
            <!--Area Of Operation -->
            <div class="form-group col-sm-4 col-md-4">
                <label class="control-label" for="inputArea">Area Of Operation <span class="color-danger"></span></label>
                <input id="areaOfOperation"
                       class="form-control remove-disable"
                       [(ngModel)]="customerBaseDetails.areaOfOperation"
                       type="text"><!--disabled-->
                <div id="areaOfOperation_error" class="displayError color-white ng-hide"></div>
            </div>
            <!-- Status -->
            <div class="form-group col-sm-4 col-md-4">
                <label class="control-label">Status <span class="color-danger">*</span></label>
                <select id="status"
                        class="form-control remove-disable-status" [(ngModel)]="customerBaseDetails.status" checkMandatory="true"
                        (change)="ngReginedSubmit();">
                    <!--disabled-->
                    <option value="">-Select Status-</option>
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="CLOSED">CLOSED</option>
                </select>
                <div id="status_error" class="displayError color-white ng-hide"></div>
            </div>
            <div class="form-group col-sm-4 col-md-4">
                <label class="control-label">Year <span class="color-danger">*</span></label>
                <select id="yearRecorded" [(ngModel)]="customerBaseDetails.yearRecorded" checkMandatory="true" class="form-control remove-disable">
                    <!--disabled-->
                    <option value="">-Select Year-</option>
                    <option *ngFor="let year of yearData" [selected]="customerBaseDetails.yearRecorded == year.keyValue" value="{{year.keyValue}}">{{year.description}}</option>
                    <!--<option *ngFor="let year of yearData" [selected]="customerBaseDetails.yearRecorded == year.keyValue" value="{{year.keyValue}}">{{year.description}}</option>-->

                </select>
                <div id="yearRecorded_error" class="displayError ng-hide"></div>
            </div>
        </div>
    
   
    
</div>
<script>
    $(function () {
        $("#datePicker").datepicker();
    });
</script>