﻿<div class="employee-role col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="row" *ngFor="let item of employeeDetials.employeeRole">
        <div class="form-group col-sm-4">
            <label class="control-label">Role Details FY <span class="color-danger">*</span></label>
            <select id="yearRecorded" [(ngModel)]="item.yearRecorded" checkMandatory="true" class="form-control">
                <option value="">-Select Year-</option>
                <option *ngFor="let year of yearData" value="{{year.keyValue}}">{{year.description}}</option>

            </select>
            <div id="yearRecorded_error" class="displayError color-white ng-hide"></div>
        </div>


        <div class="form-group col-sm-4">
            <label class="control-label">Role Start Month <span class="color-danger">*</span></label>
            <select id="startMonth" checkMandatory="true" [(ngModel)]="item.startMonth" class="form-control">
                <option value="">-Select Start Month-</option>
                <option *ngFor="let month of monthData" value="{{month.keyValue}}">{{month.description}}</option>
            </select>
            <div id="startMonth_error" class="displayError color-white ng-hide"></div>
        </div>

        <div class="form-group col-sm-4">
            <label class="control-label">Role End Month <span class="color-danger">*</span></label>
            <select id="endMonth" checkMandatory="true" [(ngModel)]="item.endMonth" class="form-control">
                <option value="">-Select End Month-</option>
                <option *ngFor="let month of monthData" value="{{month.keyValue}}">{{month.description}}</option>
            </select>
            <div id="endMonth_error" class="displayError color-white ng-hide"></div>
        </div>
        <div class="form-group col-sm-12 mb-0">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="control-label">Grade <span class="color-danger">*</span></label>
                    <select id="{{'validation-grade-'+ i}}" [(ngModel)]="item.grade" checkMandatory="true" class="form-control">
                        <option value="">-Select Grade-</option>
                        <option *ngFor="let grade of gradeData let i = index" value="{{grade.keyValue}}">{{grade.keyValue}}</option>
                    </select>
                    <div id="{{'validation-grade-'+ i +'_error'}}" class="displayError color-white ng-hide"></div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="control-label">Channel <span class="color-danger">*</span></label>
                    <select id="channelCode" checkMandatory="true" [(ngModel)]="item.channelCode" class="form-control" (change)="ngOnGetRequiredField('ROLE',i);">
                        <option value="">-Select Channel-</option>
                        <option *ngFor="let channel of responseChannelData let i = index" value="{{channel.keyValue}}">{{channel.keyValue}}</option>
                    </select>
                    <div id="channelCode_error" class="displayError color-white ng-hide"></div>
                </div>

                <div id="employeeRole" class="form-group employeeRole col-sm-4" style="display: none">
                    <label class="control-label">Role <span class="color-danger">*</span></label>
                    <select id="{{'validation-role-'+ i}}" checkMandatory="true" [(ngModel)]="item.role" class="form-control" (change)="ngOnGetRequiredField('REQUIRED',i);">
                        <option value="">-Select Role-</option>
                        <option *ngFor="let role of roleList let i = index" value="{{role}}">{{role}}</option>
                    </select>
                    <div id="{{'validation-role-'+i+'_error'}}" class="displayError color-white ng-hide"></div>
                </div>

                <div class="clear"></div>
                <div id="employeeSubChannel" class="form-group employeeRole col-sm-4" style="display: none">
                    <label class="control-label">Sub-Channel <span class="color-danger">*</span></label>
                    <select id="subChannelCode" checkMandatory="true" [(ngModel)]="item.subChannelCode" class="form-control" (change)="ngOnGetRequiredField('SUBCHANNELREQUIRED',i)">
                        <option value="">-Select Sub-Channel-</option>
                        <option *ngFor="let subChannel of subChannelList let i = index" value="{{subChannel}}">{{subChannel}}</option>
                    </select>
                    <div id="subChannelCode_error" class="displayError color-white ng-hide"></div>
                </div>
                <div class="form-group employeeRegion col-sm-4" id="employeeRegion" style="display: none">
                    <label class="control-label">Region <span class="color-danger">*</span></label>
                    <label class="form-label pull-right" title="Add New Region" style="cursor:pointer"><i class="icmn-plus-circle2"></i></label>
                    <select id="region" [(ngModel)]="item.region" class="form-control" (change)="ngOnGetRequiredField('REGIONREQUIRED',i)">
                        <option value="">-Select Region-</option>
                        <option *ngFor="let region of regionList let i = index" value="{{region}}">{{region}}</option>
                    </select>
                    <div id="region_error" class="displayError color-white ng-hide"></div>
                </div>

                <div class="form-group employeeArea col-sm-4" id="employeeArea" style="display: none">
                    <label class="control-label">Area <span class="color-danger">*</span></label>
                    <!--<label class="control-label pull-right" (click)="newEntry('AREACODE',$index)" title="Add New Area Code" style="cursor:pointer"><i class="mdi mdi-plus-circle fa-fw icon-sm"></i></label>-->
                    <select id="areaCode" [(ngModel)]="item.area" class="form-control selected-area" (change)="ngOnGetRequiredField('AREACODEREQUIRED',i)">
                        <option value="">-Select Area-</option>
                        <option *ngFor="let area of areaList let i = index" value="{{area}}">{{area}}</option>
                    </select>
                    <div id="areaCode_error" class="displayError color-white ng-hide"></div>
                </div>
                <div class="form-group employeeSubArea col-sm-4" id="employeeSubArea" style="display: none">
                    <label class="control-label">Sub-Area <span class="color-danger">*</span></label>
                    <select id="subAreaCode" [(ngModel)]="item.subArea" class="form-control">
                        <option value="">-Select Sub-Area-</option>
                        <option *ngFor="let subarea of subAreaList let i = index" value="{{subarea}}">{{subarea}}</option>
                    </select>
                    <div id="subAreaCode_error" class="displayError color-white ng-hide"></div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label class="control-label">Custom Logic For OP </label>
                        <textarea id="customCalculationStringOP" rows="1" class="form-control" [(ngModel)]="item.customCalculationStringOP" placeholder="#channel=value#region=value#area=value#subarea=value#role=value"></textarea>
                        <div id="customCalculationStringOP_error" class="displayError color-white ng-hide"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label class="control-label">Custom Logic For Actuals </label>
                        <textarea id="customActualFormula" rows="1" class="form-control" [(ngModel)]="item.customCalculationStringActuals" placeholder="#channel=value#region=value#area=value#subarea=value#role=value"></textarea>
                        <div id="customActualFormula_error'" class="displayError color-white ng-hide"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New {{keyvalue.keyName}}</h4>
            </div>
            <div class="modal-body">
                <p class="text-center font-weight-600 color-info">
                    <i class="ti-info f-t-info-icon"></i>


                </p>
                <div class="form-group">
                    <label class="control-label" for="inputLastName">{{keyvalue.keyName}}</label>
                    <input id="KeyValue" class="form-control" [(ngModel)]="keyvalue.keyValue" type="text" placeholder="Add A Value">
                    <div id="KeyValue_error" class="displayError color-white ng-hide"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="inputLastName">Description</label>
                    <input id="description" class="form-control" [(ngModel)]="keyvalue.keyDescription" type="text" placeholder="Add A Value">
                    <div id="description_error" class="displayError color-white ng-hide"></div>
                </div>


            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn" (click)="ngOnAreaSubAreaSubmit()" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="successModel" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-info" id="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="model-body">
                <p class="text-center font-weight-600">
                    <i class="ti-info-alt f-t-info-icon"></i><br />
                    <span class="font-size-18">{{msg}}</span><br />
                    {{detMsg}}
                </p>
            </div>
            <div class="modal-footer f-t-info">
                <button type="button" class="btn" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>