﻿<div class="col-lg-6">
    <!-- Year -->
    <div class="form-group">
        <label class="form-label">Year <span class="color-primary-span">*</span></label>
        <select id="yearRecorded" [(ngModel)]="IncentiveCalculationRequest.year" checkMandatory="true" class="form-control remove-disable">
            <option value="">-Select Year-</option>
            <option *ngFor="let year of yearData; let i = index" ng-selected="IncentiveCalculationRequest.year == year.keyValue" value="{{year.keyValue}}">{{year.description}}</option><!--*ngFor="let year of yearData; let i = index"-->

        </select>
        <div id="yearRecorded_error" class="displayError color-white ng-hide"></div>
    </div>
</div>
<div class="col-lg-6">
    <div class="form-group">
        <label class="form-label">Period</label>
        <select id="quarter" [(ngModel)]="IncentiveCalculationRequest.quarter" class="form-control" ng-disabled="flag" (change)="autoMonthSelect();">
            <option value="">-Select Period-</option>
            <option  *ngFor="let qtr of qtrList; let i = index" value="{{qtr.keyValue}}">{{qtr.description}}</option><!-- *ngFor="let qtr of qtrList; let i = index"-->

        </select>
        <div id="quarter_error" class="displayError color-white ng-hide"></div>
    </div>
</div>
<div class="col-lg-6" id="incentiveName">
    <div class="form-group">
        <label class="form-label" for="validation-BranchName">Incentive Name <span class="color-primary-span">*</span></label>
        <label class="input-group">
            <input id="incentiveName"
                   class="form-control remove-disable" checkMandatory="true"
                   name="validation[shipToPartyCode]" [(ngModel)]="IncentiveCalculationRequest.incentiveName"
                   type="text">
            <span class="input-group-addon">
                <i class="icmn-user"></i>
                <!--<input type="checkbox" id="customIncentive" />-->
            </span>
        </label>
        <div id="incentiveName_error" class="displayError color-white ng-hide"></div>
    </div>
</div>