﻿<div class="addNewCustTar">
    <div class="row row-in">
        <div class="col-lg-6 type-tagets">
            <label class="form-label"> <span class="color-primary-span"></span></label>
            <div class="clear"></div>

           
        </div>

        <div class="col-lg-6">
            <div class="clear"></div>
            <button type="button" id="add-target-button" class="btn btn-success width-150 pull-right margin-bottom-20" (click)="addtargetList();" style="display: block; border-radius:5px; margin:5px;">Add Targets</button>
        </div>
        <div class="col-md-12 col-sm-12">

            <div class="table-responsive">
                <table class="table nowrap editable-table table-hover nowrap" id="example2">
                    <thead>
                        <tr class="table-head">
                            <th colspan="12" class="text-center">Target Amount In Million (mn)</th>
                        </tr>
                        <tr class="table-head">
                            <th>Business Vertical</th>
                            <th>Sales Component</th>
                            <th *ngFor=" let month of monthFrequencyList">{{month}}</th>
                            <!--
                             <th class="text-center">Jan</th>
                             <th class="text-center">Feb</th>
                             <th class="text-center">Mar</th>
                             <th class="text-center">Apr</th>
                             <th class="text-center">May</th>
                             <th class="text-center">Jun</th>
                             <th class="text-center">Jul</th>
                             <th class="text-center">Aug</th>
                             <th class="text-center">Sep</th>
                             <th class="text-center">Oct</th>
                             <th class="text-center">Nov</th>
                             <th class="text-center">Dec</th>
                            -->
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <!----<tr class="table-head">
                            <th>Select BU</th>
                            <th>Select Type</th>
                            <th class="text-center">Jan</th>
                            <th class="text-center">Feb</th>
                            <th class="text-center">Mar</th>
                            <th class="text-center">Apr</th>
                            <th class="text-center">May</th>
                            <th class="text-center">Jun</th>
                            <th class="text-center">Jul</th>
                            <th class="text-center">Aug</th>
                            <th class="text-center">Sep</th>
                            <th class="text-center">Oct</th>
                            <th class="text-center">Nov</th>
                            <th class="text-center">Dec</th>
                            <th class="text-center">Delete</th>
                        </tr>-->
                    </tfoot>
                    <tbody class="targetListCreate" style="overflow-x:scroll;">
                        <tr *ngFor="let item of targetList">
                            <!--ng-class-odd="'odd'" ng-class-even="'even'"-->
                            <td class="col-md-1 text-center">
                                <select id="buCode" class="input-sm input-width remove-disable" checkMandatory="true" [(ngModel)]="item.buCode" style="padding: 0px 10px; width:125px;margin-top:10px">
                                    <option value="">-Select -</option>
                                    <option *ngFor=" let bu of BUData" (selected)="item.buCode == bu.keyValue" value="{{bu.keyValue}}">{{bu.keyValue}}</option>
                                </select>
                                <div id="error" class="displayError Class color-white ng-hide"></div>
                            </td>
                            <td class="col-md-1 text-center">
                                <select id="dataType" class="input-sm input-width remove-disable" checkMandatory="true" [(ngModel)]="item.dataType" (change)="OnSalesComponentChange(item.dataType)" style="padding: 0px 10px; width:125px;margin-top:10px">
                                    <option value="">-Select-</option>
                                    <option *ngFor="let dataType of dataTypeList"> {{dataType}}</option><!--(selected)="dataType" (selected)="item.dataType == bu.dataType">-->
                                </select>
                                <div id="dataType_error" class="displayError dataTypeClass color-white ng-hide"></div>
                            </td>
                            <td class="col-md-1 text-center" *ngFor="let tar of item.customerTargets">
                                <!--  <input type="text" style="width:85px !important;margin-top:10px; border-radius:0px!important; padding:0px!important;" class="input-sm input-width number-default remove-disable-target" [(ngModel)]="tar.targetAmt" /></td>-->
                                <!--onkeypress='allowOnlyNumbers(this)'-->
                                <input myNumberOnly type="text" class="input-sm input-width number-default remove-disable-target" [(ngModel)]="tar.targetAmt" ng-disabled="isDisabled(tar.targetAmt)" ng-pattern="/^(\d)+$/" style="width:85px !important;border-radius:0px!important; padding:0px!important; margin-top:10px;" title="{{tar.targetAmt}}" />
                            </td>

                            <td class="col-md-1 text-center">
                                <button type="button" id="{{'remove-role-button'+$index}}"
                                        class="btn btn-danger btn-sm pull-right tooltips" title="Remove Targets" style="padding:4px;" (click)="removetargetList(i)">
                                    <i class="mdi mdi-minus-circle" aria-hidden="true"></i>

                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script>
    var allowOnlyNumbers = function (field) {
        if (!String.fromCharCode(event.keyCode).match('[0-9.]') || (field.value.match('[.]') && String.fromCharCode(event.keyCode) === '.'))
            event.preventDefault();
    };
</script>
