﻿<!-- Panel -->
<div class="panel-body">
    <div class="row">
        <button type="button" id="remove-role-button" data-placement="top" data-toggle="tooltip" title="Clear" class="btn btn-icon btn-danger btn-rounded margin-inline pull-right"
                (click)="removeEmployeeRoleDetails()" style="display: none; box-shadow: 0px 1px 10px 0px #989898;">
            <i class="icmn-minus3" aria-hidden="true"></i>
        </button>
        <!-- Employee Role -->
        <div class="clear"></div>
        @RenderPage("~/Views/Include/CreateRole.cshtml")
        <div class="clear"></div>
        <div class="form-group col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary width-100" (click)="ngOnAddRoleSubmit();">Submit Role</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear m-l-15"></div>
        <!-- Employee Role End -->

    </div>
</div>
