﻿<div *ngFor="let item of custDetials.customerRelationship">
    <div class="form-group col-sm-12">
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="control-label">Relationship Details for Year <span class="color-danger">*</span></label>
                <select id="yearRecorded" [(ngModel)]="item.yearRecorded" checkMandatory="true" class="form-control">
                    <option value="">-Select Year-</option>
                    <option *ngFor="let year of yearData" (selected)="item.yearRecorded == year.keyValue" value="{{year.keyValue}}">{{year.description}}</option>
                </select>
                <div id="yearRecorded_error" class="displayError color-white ng-hide"></div>
            </div>

            <!-- start Month -->
            <div class="form-group col-sm-4">
                <label class="control-label">Relationship Start Month <span class="color-danger">*</span></label>
                <select id="startMonth" [(ngModel)]="item.startMonth" checkMandatory="true" class="form-control">
                    <option value="">-Select Start Month-</option>
                    <option *ngFor="let month of monthData" (selected)="item.startMonth == month.keyValue" value="{{month.keyValue}}">{{month.description}}</option>
                </select>
                <div id="startMonth_error" class="displayError color-white ng-hide"></div>
            </div>

            <!-- End Month-->
            <div class="form-group col-sm-4">
                <label class="control-label">Relationship End Month <span class="color-danger">*</span></label>
                <select id="endMonth" [(ngModel)]="item.endMonth" checkMandatory="true" class="form-control">
                    <option value="">-Select End Month-</option>
                    <option *ngFor="let month of monthData" (selected)="item.endMonth == month.keyValue" value="{{month.keyValue}}">{{month.description}}</option>
                </select>
                <div id="endMonth_error" class="displayError color-white ng-hide"></div>
            </div>

        </div>
    </div>

    <div class="form-group col-sm-12">
        <div class="row">
            <!-- Channel Code -->
            <div class="form-group col-sm-4">
                <label class="form-label" for="validation-username">Channel <span class="color-primary-span">*</span></label>
                <select id="channelCode" [(ngModel)]="item.channelCode" class="form-control remove-disable" checkMandatory="true" (change)="onChangeGetList();">
                    <option value="">-Select Channel-</option>
                    <option *ngFor="let channel of responseChannelData" value="{{channel.keyValue}}">{{channel.keyValue}}</option>
                </select>
                <div id="channelCode_error" class="displayError color-white ng-hide"></div>
            </div>
            <!-- Region-->
            <div id="customerSubChannel" class="form-group col-sm-4" style="display: none">
                <label class="control-label">Sub-Channel</label>
                <select name="validation-simple[subChannelCode]" id="subChannelCode" [(ngModel)]="item.subChannelCode" class="form-control remove-disable" (change)="onChangeGetSubChannelList();">
                    <option value="">-Select Line Of Business-</option>
                    <option *ngFor="let subChannel of subChannelList" value="{{subChannel.keyValue}}">{{subChannel.keyValue}}</option>
                </select>
                <div id="subChannelCode_error" class="displayError color-white ng-hide"></div>
            </div>
            <!-- Area -->
            <div id="customerArea" class="form-group col-sm-4" style="display: none;">
                <label class="control-label">Area</label>
                <select id="areaCode" [(ngModel)]="item.areaCode" class="form-control remove-disable" (change)="getEmployeeSelectedArea();">
                    <option value="">-Select Area-</option>
                    <option *ngFor="let area of responseAreaData" value="{{area.keyValue}}">{{area.keyValue}}</option>
                </select>
                <div id="areaCode_error" class="displayError color-white ng-hide"></div>
            </div>

        </div>
    </div>

    <div class="form-group col-sm-12">
        <div class="row">

            <!-- customer Code -->
            <div id="subarea" class="form-group col-sm-4" style="display: none">
                <label class="form-label">Sub Area</label>
                <select id="subArea" [(ngModel)]="item.subArea" class="form-control remove-disable" (change)="getEmployeeBasedOnSubArea();">
                    <option value="">-Select Sub Area-</option>
                    <option *ngFor="let subArea of subAreaData" value="{{subArea.keyValue}}">{{subArea.keyValue}}</option>
                </select>
                <div id="subArea_error" class="displayError color-white ng-hide"></div>
            </div>
            <!-- Employee Deatils-->
            <div id="customerEmpDetails" class="form-group col-sm-4" style="display: none">
                <label class="form-label">Employee</label>
                <select id="adpId" [(ngModel)]="item.employeeRoleFK" class="form-control remove-disable">
                    <option value="">-Select Employee ID-</option>
                    <option *ngFor="let emp of employeeData" value="{{emp.id}}">{{emp.fullName}} ({{emp.adpId}})</option>
                </select>
                <div id="employeeRoleFK_error" class="displayError color-white ng-hide"></div>
            </div>
            <!-- customer Code -->
            <div id="customerEmpMessage" class="form-group col-sm-4" style="display: none">

                <p class="color-danger"><b>Note</b>: {{errorMessage}}</p>
            </div>
        </div>
    </div>

</div>
