﻿<div class="panel-heading">
    <h3 class="note-color-palette color-white">
        Create New Customer Relationship Details
    </h3>
</div>
<!-- Panel -->
<div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <button type="button" id="remove-role-button"
                    class="btn btn-icon btn-danger  margin-inline tooltips"
                    (click)="removeCustomerRelationDetails()" style="box-shadow: 0px 1px 10px 0px #989898;border-radius:5px; margin:5px 0 15px 12px;">
                <i class="icmn-minus3" aria-hidden="true"></i>
                <span>Delete Relationship</span>
            </button>
        </div>
        <div class="col-md-8">

        </div>
    </div>
    <div class="clear"></div>
    @RenderPage("~/Views/Include/CreateRelationship.cshtml")
    <button id="relationship-detail" type="button" class="btn btn-primary width-150 margin-top-20" style="border-radius:5px;" (click)="customerRelationshipSubmit();">Add Relationship</button>
</div>