﻿<div class="panel-heading">
    <h3 class="note-color-palette color-white h3-create">
        Create New Customer
    </h3>
    <h3 class="note-color-palette color-white h3-edit" style="margin-left: 25px;">
        Edit Customer Details
    </h3>
</div>

<!-- Panel -->
<div class="panel-body">
    <div class="row" class ="col-md-12 col-sm-12">
        <div id="createReport">
            @RenderPage("~/Views/Include/CreateCustomerBasicDetails.cshtml")
            <div class="clear"></div>
            <div class="col-lg-10">
                
                <!--<button type="button" id="add-role-button"
                        class="btn btn-success width-200 pull-right" (click)="addCustomerRelationDetails();" style="display: none; margin-top:5px; border-radius:5px; float:right;">
                    Add New Relationship
                </button>--
                <button type="button" id="add-role-button" class="btn btn-success width-200 pull-right" style=" margin-top:5px; border-radius:5px; float:right;"  (click)="addCustomerRelationDetails();">Add Relationship</button>-->
                
            </div>
            <div class="col-lg-2" style="margin-left:auto">
                
                <!--<button type="button" id="add-role-button"
                        class="btn btn-success width-200 pull-right" (click)="addCustomerRelationDetails();" style="display: none; margin-top:5px; border-radius:5px; float:right;">
                    Add New Relationship
                </button>-->
                <button type="button" id="add-role-button" class="btn btn-success width-200 pull-right" style=" margin-top:5px; border-radius:5px;"  (click)="addCustomerRelationDetails();">Add Relationship</button>
                
            </div>
        </div>
    </div>
</div>

<!-- Panel End -->