﻿<div class="form-group col-sm-4">
    <label class="control-label" for="inputPassword">First Name <span class="color-danger">*</span></label>
    <!--disabled--><input id="firstName"
                          class="form-control remove-disable enable-disable"
                          [(ngModel)]="employeeBaseDetails.firstName" checkMandatory="true"
                          type="text" hm-check-is-name-character>

    <div id="firstName_error" class="displayError help-block ng-hide"></div>
</div>
<!-- Last Name -->
<div class="form-group col-sm-4">
    <label class="control-label" for="inputPassword">Middle Name</label>
    <!--disabled--><input id="middleName"
                          class="form-control remove-disable enable-disable"
                          [(ngModel)]="employeeBaseDetails.middleName"
                          type="text" hm-check-is-name-character>
</div>
<!-- Last Name -->
<div class="form-group col-sm-4">
    <label class="control-label" for="inputLastName">Last Name <span class="color-danger">*</span></label>
    <!--disabled--><input id="lastName"
                          class="form-control remove-disable enable-disable"
                          [(ngModel)]="employeeBaseDetails.lastName" checkMandatory="true"
                          type="text" hm-check-is-name-character>
    <div id="lastName_error" class="displayError color-white ng-hide"></div>
</div>
<div class="clear"></div>
<!-- Adp Id -->
<div class="form-group col-sm-4">
    <label class="control-label" for="inputEmployeeId">Employee ID <span class="color-danger">*</span></label>
    <!--disabled--><input id="adpId"
                          class="form-control remove-disable"
                          [(ngModel)]="employeeBaseDetails.adpId" checkMandatory="true"
                          type="text">
    <div id="adpId_error" class="displayError color-white ng-hide"></div>
</div>
<!-- Email-->
<div class="form-group col-sm-4">
    <label class="control-label" for="validation-email">Email <span class="color-danger">*</span></label>
    <input id="email"
           class="form-control"
           [(ngModel)]="employeeBaseDetails.email" checkMandatory="true"
           type="text">
    <div id="email_error" class="displayError color-white ng-hide"></div>
</div>
<!-- Date of Joining -->
<div class="form-group col-sm-4">
    <label class="control-label" for="inputDOJ">Date of Joining <span class="color-danger">*</span></label>
    <input type="date" class="form-control remove-disable doj" [(ngModel)]="employeeBaseDetails.dojStr" checkMandatory="true" id="doj" placeholder="-Select Date-">
    <div id="doj_error" class="displayError color-white ng-hide"></div>
</div>
<!-- Status -->
<div class="form-group col-sm-4">
    <label class="form-label">Status <span class="color-danger">*</span></label>
    <!--disabled--><select id="status"
                           class="form-control remove-disable endMonth-enable" [(ngModel)]="employeeBaseDetails.status" checkMandatory="true"
                           (change)="ngReginedSubmit();">
        <option value="">-Select Status-</option>
        <option value="ACTIVE">ACTIVE</option>
        <option value="RESIGNED">RESIGNED</option>
    </select>
    <div id="status_error" class="displayError color-white ng-hide"></div>
</div>
<div class="form-group col-sm-4">
    <label class="form-label">Mobile Number</label>
    <input type="text" myNumberOnly class="form-control remove-disable" checkMandatory="true"
           [(ngModel)]="employeeBaseDetails.phoneNumber" id="phoneNumber" maxlength="10"
           placeholder="9999999999" hm-check-is-number>
    <div id="phoneNumber_error" class="displayError color-white ng-hide"></div>
</div>
<div class="form-group col-sm-4">
    <label class="form-label">Year <span class="color-danger">*</span></label>
    <!--disabled--><select id="yearRecorded" [(ngModel)]="employeeBaseDetails.yearRecorded" checkMandatory="true" class="form-control remove-disable">
        <option value="">-Select Year-</option>
        <option *ngFor="let year of yearData" value="{{year.keyValue}}">{{year.description}}</option>

    </select>
    <div id="yearRecorded_error" class="displayError color-white ng-hide"></div>
</div>
<div class="col-lg-6" style="display: none;" id="leaving-id">
    <div class="form-group">
        <label class="form-label" for="validation-doj">Date of Leaving</label>

        <!--disabled-->  <input type="date" class="form-control dol remove-disable endMonth-enable" [(ngModel)]="employeeBaseDetails.dolStr" id="dolStr" placeholder="-Select Date-">

        <div id="dolStr_error" class="displayError color-white ng-hide"></div>
    </div>

</div>
<div class="col-lg-6" style="display: none;" id="endMonth_id">
    <!-- Status -->
    <div class="form-group">
        <label class="form-label" for="validation-doj">Role End Month<span class="color-danger">*</span></label>
        <select id="endMonthLeave" name="validation-simple[type]"
                class="form-control remove-disable endMonth-enable" [(ngModel)]="employeeBaseDetails.endMonth"
                data-validation="[NOTEMPTY]">
            <option value="">-Select Start Month-</option>
            <option *ngFor="let month of monthData; let i = index" value="{{month.keyValue}}">{{month.description}}</option>
        </select>
        <div id="endMonthLeave_error" class="displayError color-white ng-hide"></div>
    </div>
</div>

<script>
    $(function () {

        // ToolTip Script
        $("[data-toggle=popover]").popover();
        $("[data-toggle=popover-hover]").popover({
            trigger: 'hover'
        });

        $("[data-toggle=tooltip]").tooltip();
    });
</script>