﻿
                <div class="col-lg-12 m-t-10" *ngFor="let roleData of employeeDetials.responseRoleData let i = index">
                 
                    <div class="well p-t-0 p-b-0">
                        <div class="row col-sm-12 m-t-10">
                            <div class="col-sm-12">
                                <div class="col-sm-12 alert alert-info alert-dismissable well p-0 m-b-20 m-t-20 p-10" style="border-color:#2cabe3 !important;font-weight:400">
                                    <span>Existing Role Detail</span>
                                    <button *ngIf="employeeBaseDetails.status != 'RESIGNED'" type="button" id="{{'remove-bg-button' + i}}" 
                                            class="btn btn-icon btn-danger btn-rounded margin-inline pull-right tooltips btn-xs"
                                            (click)="ngOnClickRoleSubmit(i)" style="box-shadow: 0px 1px 10px 0px #989898;">
                                        <i class="icmn-minus3" aria-hidden="true"></i>
                                        <span>Delete Role</span>
                                    </button>
                                </div>                               
                            </div>
                            </div>
                            <div class="row col-sm-12">

                                <br />
                                <div id="yearRecorded" class="form-group col-sm-4">
                                    <label class="form-label">Role Details for Year <span class="color-danger">*</span></label>
                                    <input id="email"
                                           class="form-control"
                                           [(ngModel)]="roleData.yearRecorded" disabled
                                           type="text">
                                </div>
                                <div id="{{'startMonth'+ i}}" class="form-group col-sm-4">
                                    <label class="form-label">Role Start Month <span class="color-danger">*</span></label>
                                    <select id="{{'startMonth-'+ i}}" [(ngModel)]="roleData.startMonth" disabled class="form-control">
                                        <option value="">-Select Start Month-</option>
                                        <option value="1" class="ng-binding ng-scope">January</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="2" class="ng-binding ng-scope">February</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="3" class="ng-binding ng-scope">March</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="4" class="ng-binding ng-scope">April</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="5" class="ng-binding ng-scope">May</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="6" class="ng-binding ng-scope">June</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="7" class="ng-binding ng-scope">July</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="8" class="ng-binding ng-scope">August</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="9" class="ng-binding ng-scope">September</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="10" class="ng-binding ng-scope">October</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="11" class="ng-binding ng-scope">November</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="12" class="ng-binding ng-scope">December</option><!-- end ngRepeat: month in monthData track by $index -->
                                    </select>
                                </div>
                                <div id="{{'endMonth'+ i}}" class="form-group col-sm-4">
                                    <label class="control-label">Role End Month <span class="color-danger">*</span></label>
                                    <select id="{{'endMonth-'+ i}}" [(ngModel)]="roleData.endMonth" class="form-control">
                                        <option value="">-Select Start Month-</option>
                                        <option value="1" class="ng-binding ng-scope">January</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="2" class="ng-binding ng-scope">February</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="3" class="ng-binding ng-scope">March</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="4" class="ng-binding ng-scope">April</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="5" class="ng-binding ng-scope">May</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="6" class="ng-binding ng-scope">June</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="7" class="ng-binding ng-scope">July</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="8" class="ng-binding ng-scope">August</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="9" class="ng-binding ng-scope">September</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="10" class="ng-binding ng-scope">October</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="11" class="ng-binding ng-scope">November</option><!-- end ngRepeat: month in monthData track by $index -->
                                        <option value="12" class="ng-binding ng-scope">December</option><!-- end ngRepeat: month in monthData track by $index -->
                                    </select>                                  
                                    <div id="{{'validation-endMonth-'+ i +'_error'}}" class="displayError ng-hide"></div>
                                </div>
                            </div>
                            <div class="row col-sm-12">
                                <div id="{{'channelCode'+ i}}" class="form-group col-sm-4">
                                    <label class="control-label">Channel <span class="color-danger">*</span></label>
                                    <input id="channel"
                                           class="form-control"
                                           [(ngModel)]="roleData.channelCode" disabled
                                           type="text">
                                </div>


                                <div id="{{'subChannelCode'+ i}}" class="form-group col-sm-4">
                                    <label class="control-label">Sub Channel <span class="color-danger">*</span></label>
                                    <input id="subChannelCode"
                                           class="form-control"
                                           [(ngModel)]="roleData.subChannelCode" disabled
                                           type="text">
                                </div>

                                <div id="{{'role'+ i}}" class="form-group col-sm-4">
                                    <label class="control-label">Role <span class="color-danger">*</span></label>
                                    <input id="role"
                                           class="form-control"
                                           [(ngModel)]="roleData.role" disabled
                                           type="text">
                                </div>
                                <div id="{{'employeeRegion'+ i}}" class="form-group col-sm-4">
                                    <label class="control-label">Region</label>
                                    <input id="roleRegion"
                                           class="form-control"
                                           [(ngModel)]="roleData.region" disabled
                                           type="text">
                                </div>

                                <div id="{{'employeeArea'+ i}}" class="form-group col-sm-4">
                                    <label class="control-label">Area</label>
                                    <div class="clear"></div>
                                    <div class="area-label" disabled>
                                        <input id="roleRegion"
                                               class="form-control"
                                               [(ngModel)]="roleData.area" disabled
                                               type="text">
                                    </div>
                                </div>

                                <div id="{{'employeeSubArea'+ i}}" class="form-group col-sm-4">
                                    <label class="control-label">Sub Area</label>
                                    <div class="clear"></div>
                                    <div class="area-label" disabled>
                                        <input class="form-control" [(ngModel)]="roleData.subArea" disabled
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-lg-12 m-b-10 m-t-10">
                                <button *ngIf="employeeBaseDetails.status != 'RESIGNED'" type="button" class="btn btn-primary width-300" (click)="ngOnUpdateEmployeeRoleSubmit(i);">Update Role</button>
                            </div>
                            <div class="clear"></div>
                            <div class="row col-sm-12 m-t-20">
                                <div class="col-sm-12">
                                    <div class="col-sm-12 alert alert-info alert-dismissable well p-0 m-b-20 m-t-20 p-10" style="border-color:#2cabe3 !important;font-weight:400">
                                        <span>Existing Grade</span>
                                        <button  *ngIf="employeeBaseDetails.status != 'RESIGNED'" type="button" id="addGradeButton_{{i}}"
                                                class="btn btn-icon btn-danger btn-rounded margin-inline pull-right tooltips margin-top-20 btn-xs" (click)="ngOnAddnewGrade(i)"
                                                style="box-shadow: 0px 1px 10px 0px #989898;">
                                            <i class="icmn-minus3" aria-hidden="true"></i>
                                            <span>Add New Grade</span>
                                        </button>
                                    </div>
                                </div>
                             </div>
                            <div class="row col-sm-12" id="gradeContent_{{i}}">
                                <div class="col-lg-12 m-t-10" id="dataExist_{{i}}">
                                    <div class="clear"></div>
                                    <div class="exist_grade" *ngFor="let existgr of roleData.grades let i = index">
                                        <div class="col-lg-4 margin-bottom-10 p-l-0">
                                            <!-- Customer Name -->
                                            <div class="">
                                                <label class="form-label" for="validation-BranchName">Grade</label>
                                                <select id="smonth" name="validation-simple[type]" disabled [(ngModel)]="existgr.grade"
                                                        class="form-control">
                                                    <option value="">-Select Grade -</option>
                                                    <option *ngFor="let grade of gradeData; let i = index" value="{{grade.keyValue}}">{{grade.keyValue}}</option>
                                                </select>
                                                <div id="smonth_error" class="displayError color-white ng-hide"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 m-b-10">
                                            <!-- Customer Name -->
                                            <div class="">
                                                <label class="form-label" for="validation-BranchName">Start Month </label>
                                                <select id="smonth" name="validation-simple[type]" disabled [(ngModel)]="existgr.startMonth"
                                                        class="form-control">
                                                    <option value="">-Select Start Month-</option>
                                                    <option value="1" class="ng-binding ng-scope">January</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="2" class="ng-binding ng-scope">February</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="3" class="ng-binding ng-scope">March</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="4" class="ng-binding ng-scope">April</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="5" class="ng-binding ng-scope">May</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="6" class="ng-binding ng-scope">June</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="7" class="ng-binding ng-scope">July</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="8" class="ng-binding ng-scope">August</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="9" class="ng-binding ng-scope">September</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="10" class="ng-binding ng-scope">October</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="11" class="ng-binding ng-scope">November</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="12" class="ng-binding ng-scope">December</option><!-- end ngRepeat: month in monthData track by $index -->
                                                </select>
                                                <div id="status_error" class="displayError color-white ng-hide"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 m-b-10 p-r-0">
                                            <!-- Customer Name -->
                                            <div class="">
                                                <label class="form-label" for="validation-BranchName">End Month </label>
                                                <select id="emonth" name="validation-simple[type]" disabled
                                                        class="form-control" [(ngModel)]="existgr.endMonth">
                                                    <option value="">-Select End Month-</option>
                                                    <option value="1" class="ng-binding ng-scope">January</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="2" class="ng-binding ng-scope">February</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="3" class="ng-binding ng-scope">March</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="4" class="ng-binding ng-scope">April</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="5" class="ng-binding ng-scope">May</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="6" class="ng-binding ng-scope">June</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="7" class="ng-binding ng-scope">July</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="8" class="ng-binding ng-scope">August</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="9" class="ng-binding ng-scope">September</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="10" class="ng-binding ng-scope">October</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="11" class="ng-binding ng-scope">November</option><!-- end ngRepeat: month in monthData track by $index -->
                                                    <option value="12" class="ng-binding ng-scope">December</option><!-- end ngRepeat: month in monthData track by $index --></select>
                                                <div id="emonth_error" class="displayError color-white ng-hide"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <!--add new grade-->
                                <div class="col-lg-12 m-t-10" id="gradeUpdateNew_{{i}}" style="display:none">

                                    <div class="col-sm-12 alert alert-info alert-dismissable well p-0 m-b-20 m-t-20 p-10" style="border-color:#2cabe3 !important;font-weight:400">
                                        <span>New Grade</span>
                                        <button type="button" *ngIf="employeeBaseDetails.status != 'RESIGNED'"
                                                class="btn btn-icon btn-danger btn-rounded margin-inline pull-right tooltips margin-top-20 btn-xs removeGradeButton_{{i}}" (click)="ngOnRemovenewGrade(i)"
                                                style="box-shadow: 0px 1px 10px 0px #989898;">
                                            <i class="icmn-minus3" aria-hidden="true"></i>
                                            <span>Remove Grade</span>
                                        </button>
                                    </div>  
                                    <div class="clear"></div>
                                    <div class="col-lg-4 p-l-0">
                                        <!-- Customer Name -->
                                        <div class="">
                                            <label class="form-label" for="validation-BranchName">Grade <span class="color-primary-span">*</span></label>
                                            <select id="newgrade" name="validation-simple[type]" [(ngModel)]="employeeGrade.grade"
                                                    class="form-control" checkMandatory="true">
                                                <option value="">-Select Grade -</option>
                                                <option *ngFor="let grade of gradeData let i = index" value="{{grade.keyValue}}">{{grade.keyValue}}</option>
                                            </select>
                                            <div id="newgrade_error" class="displayError color-white ng-hide"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <!-- Customer Name -->
                                        <div class="">
                                            <label class="form-label" for="validation-BranchName">Start Month <span class="color-primary-span">*</span></label>
                                            <select id="gradeStartMonth" name="validation-simple[type]" [(ngModel)]="employeeGrade.startMonth"
                                                    class="form-control" checkMandatory="true">
                                                <option value="">-Select Start Month -</option>
                                                <option *ngFor="let month of updatedmonthData let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                                            </select>
                                            <div id="gradeStartMonth_error" class="displayError color-white ng-hide"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 p-r-0">
                                        <!-- Customer Name -->
                                        <div class="">
                                            <label class="form-label" for="validation-BranchName">End Month <span class="color-primary-span">*</span></label>
                                            <select id="gradeEndMonth" name="validation-simple[type]"
                                                    class="form-control" [(ngModel)]="employeeGrade.endMonth" checkMandatory="true">
                                                <option value="">-Select End Month -</option>
                                                <option *ngFor="let month of monthData let i = index" value="{{month.keyValue}}">{{month.description}}</option>
                                            </select>
                                            <div id="gradeEndMonth_error" class="displayError color-white ng-hide"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 m-b-10 m-t-10">
                                    <button type="button" *ngIf="employeeBaseDetails.status != 'RESIGNED'" class="removeGradeButton_{{i}} btn btn-primary width-150" (click)="ngOnEmployeeGradeSubmit(i);" style="display:none">Update Grade</button>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                        </div>
                </div>
                <div class="clearfix"></div>
