﻿<!-- Panel -->
<div id="createBasicDetails" class="panel-body">
    <div class="row">
        <div class="row">

            @RenderPage("~/Views/Include/EmployeeDetails.cshtml")
            <div class="clear"></div>
            <!--<div class="col-lg-12 margin-top-20">
                 <button id="sucess-span" type="button" class="btn btn-success-outline margin-inline width-150" style="display: none;">Success</button>

             </div>-->
            <div class="form-group col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-12">
                            <button type="button" id="update-basic-button" class="btn btn-primary width-300" (click)="ngOnUpdateEmployeeBasicDetailsSubmit();" style="display: none;">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sucessPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
<div class="modal-content">
    <div class="modal-header f-t-success">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Completed Successfully</h4>
    </div>
    <div class="modal-body">
        <p class="text-center">
            <i class="f-t-success-icon ti-check-box"></i><br>
            Activity Completed Successfully
        </p>
    </div>
    <div class="modal-footer f-t-success">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
    </div>
</div>
<div id="errorPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-vertical-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header f-t-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Process Unsuccessful</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="f-t-danger-icon ti-alert"></i><br>
                    Failure
                </p>
            </div>
            <div class="modal-footer f-t-danger">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>