﻿<div class="panel-heading view-mod-targets">
    <h3 class="note-color-palette color-white">
        View Initiate Incentive Override Details
    </h3>

</div>

<div class="panel-body view-mod-target-details">
    <div class="row">
        <div class="col-lg-11">
            <div id="initiate-incentive" class="col-lg-12 col-comment">
                <section class="panel panel-with-borders">
                    <div class="panel-heading">
                        <h4 class="color-white margin-top-0">Employee Name: {{crDetails.keyName}}</h4>
                    </div>
                    <div class="panel-body">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <span><strong>Initiated Date</strong>: {{crDetails.initiatedDateStr}}</span>
                                </div>
                                <div class="col-lg-6">
                                    <span><strong>Assigned To</strong>: {{crDetails.assignEmployeeName}} - {{crDetails.assignAdpId}}</span>
                                </div>
                                <div class="col-lg-6 padding-top-10">
                                    <span><strong>Raised By</strong>: {{crDetails.rasedEmployeeName}}</span>
                                </div>

                                <div class="col-lg-6 padding-top-10">
                                    <span><strong>Status</strong>: {{crDetails.status}}</span>
                                </div>
                                <div class="col-lg-6 padding-top-10">
                                    <span><strong>Employee ID</strong>: {{crDetails.keyValue}}</span>
                                </div>
                                <div class="col-lg-6 padding-top-10">
                                    <span><strong>Email</strong>: {{jsonData.employeeBaseDetail.email}}</span>
                                </div>
                                <div class="col-lg-6 padding-top-10">
                                    <span><strong>Year</strong>: {{crDetails.yearRecorded}}</span>
                                </div>
                            </div>
                        </section>
                        <div class="table-responsive margin-bottom-20">
                            <table class="table table-hover nowrap" id="example2">
                                <thead>
                                    <tr class="table-head">
                                        <th colspan="9" class="text-center">Employee Role</th>
                                    </tr>
                                    <tr class="table-head">
                                        <th class="text-center">Start Month</th>
                                        <th class="text-center">End Month</th>
                                        <th class="text-center">Channel</th>
                                        <th class="text-center">Role</th>
                                        <th class="text-center">Region</th>
                                        <th class="text-center">Branch</th>
                                        <th class="text-center">Area</th>
                                        <th class="text-center">Grade</th>
                                        <th class="text-center">Year</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="table-head">
                                        <th class="text-center">Start Month</th>
                                        <th class="text-center">End Month</th>
                                        <th class="text-center">Channel</th>
                                        <th class="text-center">Role</th>
                                        <th class="text-center">Region</th>
                                        <th class="text-center">Branch</th>
                                        <th class="text-center">Area</th>
                                        <th class="text-center">Grade</th>
                                        <th class="text-center">Year</th>
                                    </tr>
                                </tfoot>
                                <tbody class="targetListViews">

                                    <tr *ngFor="item in jsonData.employeeRole track by $index" ng-class-odd="'odd'" ng-class-even="'even'" class="text-center">

                                        <td>
                                            {{item.startMonthDescription}}
                                        </td>
                                        <td>
                                            {{item.endMonthsDescription}}
                                        </td>
                                        <td>
                                            {{item.channelCode}}
                                        </td>
                                        <td>
                                            {{item.role}}
                                        </td>
                                        <td>
                                            {{item.region}}
                                        </td>
                                        <td>
                                            {{item.branchDetailsFK}}
                                        </td>
                                        <td>
                                            <span *ngFor="ar in item.areaCode">{{ar}}&nbsp;&nbsp;</span>
                                        </td>
                                        <td>
                                            {{item.grade}}
                                        </td>
                                        <td>
                                            {{item.yearRecorded}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>
                <!-- Table section -->
                <!-- Table End -->
            </div>
            <div class="clear"></div>
            <div class="form-group margin-top-20" style="display:none" id="commentBox">
                <textarea id="commentBoxInput" class="form-control" placeholder="Type Comment Here...." [(ngModel)]="comment"></textarea>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="left-side-bar">
                <div class="" id="approveButtons" style="display:none">
                    <button type="button" id="APPROVED" class="btn btn-primary btn-sm pull-right width-75" (click)="approveInitiateIncentiveCR($event);">Approve</button>
                    <div class="clear"></div>
                    <button type="button" id="REJECTED" class="btn btn-secondary btn-sm pull-right width-75 margin-top-10" (click)="targetSubmit($event);">Reject</button>
                </div>
            </div>
            <!-- Table End -->
        </div>
     </div>
</div>