﻿
@{
    Layout = null;
    ViewBag.Title = "ManageNonDMSApproval";
}

<!-- Form Validation -->
<section id="view-table-id" class="panel panel-with-borders" ng-cloak>
    <div class="panel-heading">
        <h3 class="note-color-palette color-white">
            View Incentive
        </h3>
    </div>
    <!-- Panel -->
    <div class="panel-body">
        <div class="row">
            <div id="example3_wrapper" class="dataTables_wrapper form-inline dt-bootstrap4">
                <div class="margin-bottom-50">
                    <!-- Search Section -->
                    <div class="row">
                        <div class="col-md-8 button_active">
                            <button type="button" class="btn btn-primary margin-inline btn-soft active" (click)="postInit();">Waiting For Approval</button>
                            <button type="button" class="btn btn-success margin-inline btn-soft" (click)="approvedSubmit();">Approved</button>
                            <button type="button" class="btn btn-warning margin-inline btn-soft" (click)="rejectedSubmit();">Rejected</button>
                        </div>
                        <div class="col-md-4">
                            <div id="example3_filter" class="dataTables_filter">
                                <label>
                                    Search On:<input type="search" style="width:300px" class="form-control input-sm" ng-enter="searchSubmit();" ng- [(ngModel)]="searchBy.soldToPartyName" placeholder="Party Name & Code" aria-controls="example3">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="form-actions"></div>
                    <!-- Search Section End  -->
                    <!-- Table Section -->
                    <div id="row_table_id" class="row">
                        <div class="table-responsive margin-bottom-50">
                            <table class="table table-hover nowrap" id="example1" width="100%">
                                <thead>
                                    <tr class="table-head">
                                        <th class="text-center">S.No</th>
                                        <th class="text-center">Adp Id</th>                                       
                                        <th class="text-center">Year</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="table-head">
                                        <th class="text-center">S.No</th>
                                        <th class="text-center">Adp Id</th>
                                        <th class="text-center">Year</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="item in responseData track by $index" ng-class-odd="'odd'" ng-class-even="'even'" class="text-center">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.adpId}}</td>
                                        <td>{{item.soldToCode}}</td>                                       
                                        <td>{{item.status}}</td>
                                        <td>{{item.yearRecorded}}</td>
                                        <td style="width: 110px;">
                                            <button class="btn btn-primary btn-xs tooltips" (click)="viewTargetModificationSubmit($index);"><i class="icmn-pencil5 font-size-14"></i><span>View CR</span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Table Section End -->
                    <!-- No Data Found Section -->
                    <div id="row_not_found_id" class="row" style="display: none;">
                        <div class="table-responsive margin-bottom-50">
                            <table class="table table-hover nowrap" id="example1" width="100%">
                                <thead>
                                    <tr class="table-head">
                                        <th class="text-center">S.No</th>
                                        <th class="text-center">Adp Id</th>
                                        <th class="text-center">Year</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="11" class="text-center font-size-16 font-weight-600" style="color: #5b5d5f;">No Data Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- No Data Found Enbd-->
                    </div>
                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-7">
                            <div class="btn-group margin-inline pull-right">
                                <button type="button" id="example1_previous" class="btn btn-rounded btn-success page-item previous disabled" (click)="getPreviousEmployee();">Previous</button>
                                <button type="button" id="example1_next" class="btn btn-rounded btn-primary page-item next" (click)="getNextEmployee();">Next</button>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination End-->
                </div>
            </div>
            <div class="alert text-center" role="alert">
                <strong><i class="fa fa-hand-o-right"></i> Disclaimer :</strong> All request for approval shall be processed during the end of day batch run.
            </div>
        </div>
    </div>
    <!-- Panel END-->
</section>
<script>
    $('.button_active .btn-soft').click(function () {
        $('.button_active .btn-soft').removeClass("active");
        $(this).addClass("active");
    });
</script>

