﻿
@{
    Layout = null;
    ViewBag.Title = "ManageNonDMSApproval";
}

<!-- Form Validation -->
<section id="view-table-id" class="panel panel-with-borders" ng-cloak>
    <div class="panel-heading">
        <h3 class="note-color-palette color-white">
            View Non DMS List
        </h3>
    </div>
    <!-- Panel -->
    <div class="panel-body">
        <div class="row">
            <div id="example3_wrapper" class="dataTables_wrapper form-inline dt-bootstrap4">
                <div class="margin-bottom-50">
                    <!-- Search Section -->
                    <div class="row filter-for-approval">
                        <div class="col-md-8 button_active">
                            <button type="button" class="btn btn-primary margin-inline btn-soft active" (click)="postInit();">Waiting For Approval</button>
                            <button type="button" class="btn btn-success margin-inline btn-soft" (click)="approvedSubmit();">Approved</button>
                            <button type="button" class="btn btn-warning margin-inline btn-soft" (click)="rejectedSubmit();">Rejected</button>
                        </div>
                        <div class="col-md-4">
                            <div id="example3_filter" class="dataTables_filter">
                                <label>
                                    Search On:<input type="search" style="width:250px" class="form-control input-sm" ng-enter="searchSubmit();" ng- [(ngModel)]="searchBy.soldToPartyName" placeholder="Employee Id" aria-controls="example3">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row filter-for-approval2" style="display: none;">
                        <div class="col-md-8 button_active">
                            <button type="button" class="btn btn-primary margin-inline btn-soft active" (click)="waitingForApprovalNonDMSSubmit();">Waiting For Approval</button>
                            <button type="button" class="btn btn-success margin-inline btn-soft" (click)="approvalNonDMSSubmit();">Approved</button>
                            <button type="button" class="btn btn-warning margin-inline btn-soft" (click)="rejectedNonDMSSubmit();">Rejected</button>
                        </div>
                    </div>
                        <div class="clear"></div>
                        <div class="form-actions"></div>
                    <!-- Search Section End  -->
                    <div id="row_table_id" class="row">
                       
                        <div class="table-responsive margin-bottom-50">
                            <table class="table table-hover nowrap" id="example1" width="100%">
                                <thead>
                                    <tr class="table-head">
                                        <th class="text-center">S.No</th>
                                        <th class="text-center">Assign To</th>
                                        <th class="text-center">Raised By</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Year</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="table-head">
                                        <th class="text-center">S.No</th>
                                        <th class="text-center">Assign To</th>
                                        <th class="text-center">Raised By</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Year</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="item in responseData track by $index" ng-class-odd="'odd'" ng-class-even="'even'" class="text-center">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.assignBy}} - {{item.nonDmsCrApproval.assignAdpId}}</td>
                                        <td>{{item.raisedBy}} - {{item.nonDmsCr.adpId}}</td>
                                        <td>{{item.nonDmsCrApproval.actionTaken}}</td>
                                        <td>{{item.nonDmsCr.yearRecorded}}</td>
                                        <td style="width: 100px;">
                                            <button class="btn btn-primary btn-xs tooltips" (click)="ViewNonDMSCrSubmit($index)"><i class="icmn-pencil5 font-size-14"></i><span>View Non DMS</span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Table Section -->
                    <div id="view_table_id" class="row" style="display: none;">
                    
                        <div class="table-responsive margin-bottom-50 viewtableNonDMS">
                            <table class="table table-hover nowrap" id="example1" width="100%">
                                <thead>
                                    <tr class="table-head">
                                        <th class="text-center">Check All<br><input type="checkbox" [(ngModel)]="select" (click)="selectAll()"></th>
                                        <th class="text-center">Party Name</th>
                                        <th class="text-center">Sold To Code</th>
                                        <th class="text-center">Bu Name</th>
                                        <th class="text-center">Bg Name</th>
                                        <th class="text-center">DMS Amount</th>
                                        <th class="text-center">Non-DMS Amount</th>
                                        <th class="text-center">Month</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="table-head">
                                        <th class="text-center">Uncheck All<br><input type="checkbox" [(ngModel)]="uncheck" (click)="clearAll()" /></th>
                                        <th class="text-center">Party Name</th>
                                        <th class="text-center">Sold To Code</th>
                                        <th class="text-center">Bu Name</th>
                                        <th class="text-center">Bg Name</th>
                                        <th class="text-center">DMS Amount</th>
                                        <th class="text-center">Non-DMS Amount</th>
                                        <th class="text-center">Month</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="item in nonDMSList track by $index" ng-class-odd="'odd'" ng-class-even="'even'" class="text-center">
                                        <td><input type="checkbox" [(ngModel)]="item.selected"></td>
                                        <td>{{item.nonDmsCrRequest.soldToPartyName}}</td>
                                        <td>{{item.nonDmsCrRequest.soldToCode}}</td>
                                        <td>{{item.nonDmsCrRequest.buName}}</td>
                                        <td>{{item.nonDmsCrRequest.bgName}}</td>
                                        <td>{{item.nonDmsCrRequest.dmsAmount}}</td>
                                        <td>{{item.nonDmsCrRequest.nonDMSAmount}}</td>
                                        <td>{{item.monthCode}}</td>
                                        <td>{{item.nonDmsCrApproval.actionTaken}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="nonDMSButton">
                            <button type="button" class="btn btn-success margin-inline btn-soft" (click)="approveSubmit()">Approved</button>
                            <button type="button" class="btn btn-warning margin-inline btn-soft" (click)="rejectSubmit()">Rejected</button>
                        </div>
                    </div>
                    <!-- Table Section End -->
                    <!-- No List View On Non DMS Sheet-->
                    <div id="row_not_found" class="row" style="display: none;">
                        <div class="table-responsive margin-bottom-50">
                            <table class="table table-hover nowrap" id="example1" width="100%">
                                <thead>
                                    <tr class="table-head">
                                        <th class="text-center">S.No</th>
                                        <th class="text-center">Assign To</th>
                                        <th class="text-center">Raised By</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Year</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="6" class="text-center font-size-16 font-weight-600" style="color: #5b5d5f;">No Data Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- No Data Found Enbd-->
                    </div>
                    <!-- End Non DMS Sheet View-->
                    <!-- No Data Found Section -->
                    <div id="row_not_found_id" class="row" style="display: none;">
                        <div class="table-responsive margin-bottom-50">
                            <table class="table table-hover nowrap" id="example1" width="100%">
                                <thead>
                                    <tr class="table-head">
                                        <th class="text-center">Uncheck All<br><input type="checkbox" /></th>
                                        <th class="text-center">Party Name</th>
                                        <th class="text-center">Sold To Code</th>
                                        <th class="text-center">Bu Name</th>
                                        <th class="text-center">Bg Name</th>
                                        <th class="text-center">DMS Amount</th>
                                        <th class="text-center">Non-DMS Amount</th>
                                        <th class="text-center">Month</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="9" class="text-center font-size-16 font-weight-600" style="color: #5b5d5f;">No Data Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
                        <!-- No Data Found Enbd-->
                    </div>
                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-7">
                            <div class="btn-group margin-inline pull-right">
                                <button type="button" id="example1_previous" class="btn btn-rounded btn-success page-item previous disabled" (click)="getPreviousEmployee();">Previous</button>
                                <button type="button" id="example1_next" class="btn btn-rounded btn-primary page-item next" (click)="getNextEmployee();">Next</button>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination End-->
                </div>
            </div>
            <div class="alert text-center" role="alert">
                <strong><i class="fa fa-hand-o-right"></i> Disclaimer :</strong> All request for approval shall be processed during the end of day batch run.
            </div>
        </div>
    </div>
    <!-- Panel END-->
</section>
<script>
    $('.button_active .btn-soft').click(function () {
        $('.button_active .btn-soft').removeClass("active");
        $(this).addClass("active");
    });
</script>

