﻿<!-- Create Customer Form Validation -->
<section id="create-id" class="panel panel-with-borders" ng-cloak>
    <div class="panel-heading">
        <h3 class="note-color-palette color-white">
            Create New Customer
        </h3>
    </div>
    <!-- Panel -->
    <div class="panel-body">
        <div class="row">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-with-borders">
                        <div class="panel-heading form-steps" style="display: block;">
                            <div class="row">
                                <div class="col-lg-2">
                                   
                                </div>
                                <div class="col-lg-4">
                                    <!-- Example State Default -->
                                    <div class="step-block step-one step-primary">
                                        <span class="step-digit">1</span>
                                        <div class="step-desc">
                                            <span class="step-title">Customer Details</span>
                                            <p>Add Basic Details</p>
                                        </div>
                                    </div>
                                    <!-- End Example State Default -->
                                </div>
                                <div class="col-lg-4">
                                    <!-- Example State Error -->
                                    <div class="step-block step-three">
                                        <span class="step-digit">2</span>
                                        <div class="step-desc">
                                            <span class="step-title">Customer Relationship</span>
                                            <p>Add New Relationship</p>
                                        </div>
                                    </div>
                                    <!-- End Example State Error -->
                                </div>
                                <div class="col-lg-2">

                                </div>
                            </div>
                        </div>
                        <!-- Step 1 -->
                        <div id="step-one" class="margin-top-40">
                            <div class="row">
                                <div class="col-lg-12">
                                    @RenderPage("~/Views/Include/CreateCustomerBasicDetails.cshtml")
                                    <div class="clear"></div>
                                    <button type="button" id="submit-basic-button" class="btn btn-primary width-100 pull-right" (click)="validateCustomerDetailsSubmit();">Next</button>
                                </div>
                            </div>
                        </div>

                        <!-- Step 2 -->
                        <div id="step-twos" class="margin-top-40" style="display: none;">
                            <div class="row">
                                <div class="col-lg-12">
                                    @RenderPage("~/Views/Include/CreateRelationship.cshtml")
                                    <div class="pull-right clear">
                                        <button type="button" id="previous-basic-button" class="btn btn-primary width-100" (click)="previouSubmit();">Previous</button>
                                        <button type="button" id="submit-button" class="btn btn-primary width-100" (click)="createCustomerSubmit();">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Step 2 End -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel End -->
</section>
<!-- Endter Target Section  End-->
<!-- Enter Target Section -->

<section id="target-id" class="panel panel-with-borders" ng-cloak style="display: none;">
    @RenderPage("~/Views/Include/CustomerRelation.cshtml")
</section>

<section id="view-customer-id" class="panel panel-with-borders" ng-cloak style="display: none;">
    @RenderPage("~/Views/Include/ViewCustomerRelation.cshtml")
</section>
