﻿     <!-- Step 2-->
<div class="row">
    <div class="col-lg-12">
       <div class="clear"></div>
        <div class="form-actions margin-top-10"></div>
        <!-- Table Section -->
        <div id="row_table_id" class="row row_table_class">
            <div class="table-responsive margin-bottom-50">
                <table class="table table-hover nowrap" id="example1" width="100%">
                    <thead>
                        <tr class="table-head">
                            <th class="col-sm-1">S.No</th>
                            <th class="col-sm-1"><input type="checkbox" [(ngModel)]="selectedAll" (click)="checkAllBM()" /> Select All</th>
                            <th class="col-sm-1">Employee ID</th>
                            <th class="col-sm-2">Name</th>
                            <th class="col-sm-1">Role</th>
                            <th class="col-sm-2">Channel</th>
                            <th class="col-sm-2">Branch/Area</th>
                            <th class="col-sm-2">Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="table-head">
                            <th class="col-sm-1">S.No</th>
                            <th class="col-sm-1"><input type="checkbox" [(ngModel)]="selectedAll" (click)="checkAllBM()" /> Select All</th>
                            <th class="col-sm-1">Employee ID</th>
                            <th class="col-sm-2">Name</th>
                            <th class="col-sm-1">Role</th>
                            <th class="col-sm-2">Channel</th>
                            <th class="col-sm-2">Branch/Area</th>
                            <th class="col-sm-2">Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of employeeRole; let i = index" class="">
                            <!--ng-class-odd="'odd'" ng-class-even="'even'"-->
                            <td>{{i + 1}}</td>
                            <td><input type="checkbox"[hidden]="item.finalStatus == 'sendmail'" [(ngModel)]="item.Selected" /></td>
                            <td>{{item.adpId}}</td>
                            <td>{{item.fullName}}</td>
                            <td style="width: 115px;">{{item.role}}</td>
                            <td>{{item.channelCode}}</td>
                            <td>{{item.branchCode}} {{item.areaCode}}</td>
                            <td>
                                <button type="button" id="submit-view-button" class="btn btn-primary btn-xs tooltips" title="Download Payout Card" (click)="downloadPayslip(i);"><i class="ti-download" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

               
                <div class="col-lg-12">
                    <button class="btn btn-warning width-100" (click)="SendMail()"><span>Send Mail</span></button>                    
                </div>
            </div>
        </div>
        <!-- Table Section End -->
        <!-- Views Details For Incentive Approve Or Reject Incentie END  -->
        <!-- No Data Found Section -->
        <div id="row_not_found_id" class="row" style="display: none;">
            <div class="table-responsive margin-bottom-50">
                <table class="table table-hover nowrap" id="example1" width="100%">
                    <thead>
                        <tr class="table-head">
                            <th class="col-sm-1">S.No</th>
                            <th class="col-sm-1"><input type="checkbox" [(ngModel)]="selectedAll" /> Select All</th>
                            <th class="col-sm-1">Employee ID</th>
                            <th class="col-sm-2">Name</th>
                            <th class="col-sm-1">Role</th>
                            <th class="col-sm-2">Channel</th>
                            <th class="col-sm-2">Branch/Area</th>
                            <th class="col-sm-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center font-size-16 font-weight-600" style="color: #003399;">No List Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- No Data Found Enbd-->
        </div>
    </div>
    <a href="../ExcelReport/ExportExcel?name={{path}}" id="downloadSheet"></a>
</div>

