﻿     <!-- Step 2-->
<div class="row">
    <div class="col-lg-12">
        <div class="clear"></div>
        <div class="form-actions margin-top-10"></div>
        <!-- Table Section -->
        <div id="row_table_id" class="row row_table_class">
            <div class="table-responsive margin-bottom-50">
                <table class="table table-hover nowrap" id="example1" width="100%">
                    <thead>
                        <tr class="table-head">
                            <th class="col-sm-1">S.No</th>
                            <th class="col-sm-1"><input type="checkbox" [(ngModel)]="selectedAll" (click)="checkAll()" /> Select All</th>                           
                            <th class="col-sm-1">Employee ID</th>
                            <th class="col-sm-2">Name</th>
                            <th class="col-sm-1">Role</th>
                            <th class="col-sm-1">Channel</th>
                            <th class="col-sm-1">Branch/Area</th>
                            <th class="col-sm-1">Region</th>
                            <th class="col-sm-2">Status</th>
                            <th class="col-sm-1">Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="table-head">                           
                            <th class="col-sm-1">S.No</th>
                            <th class="col-sm-1"><input type="checkbox" [(ngModel)]="selectedAll" (click)="checkAll()" /> Select All</th>
                            <th class="col-sm-1">Employee ID</th>
                            <th class="col-sm-2">Name</th>
                            <th class="col-sm-1">Role</th>
                            <th class="col-sm-1">Channel</th>
                            <th class="col-sm-1">Branch/Area</th>
                            <th class="col-sm-1">Region</th>
                            <th class="col-sm-2">Status</th>
                            <th class="col-sm-1">Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of employeeRole; let i = index" ng-class-odd="'odd'" ng-class-even="'even'" class="">
                            <td class="col-sm-1">{{i + 1}}</td>
                            <td class="col-sm-1"><input type="checkbox" ng-show="item.role == 'Regional Sales Manager' && item.status == 'PAYSLIP GENERATED'" [(ngModel)]="item.Selected" /></td>                            
                            <td class="col-sm-1">{{item.adpId}}</td>
                            <td class="col-sm-2">{{item.fullName}}</td>
                            <td class="col-sm-1">{{item.role}}</td>
                            <td class="col-sm-1">{{item.channelCode}}</td>
                            <td class="col-sm-1">{{item.branchCode}} {{item.areaCode}}</td>
                            <td class="col-sm-1">{{item.region}}</td>
                            <td class="col-sm-2">{{item.status}}</td>
                            <td class="col-sm-1">
                                    <button type="button" id="submit-view-button" class="btn btn-primary btn-xs tooltips" ng-show="item.role != 'Regional Sales Manager' && (item.status == 'PAYSLIP GENERATED' || 'PARTIAL DISBURSE' || 'DISBURSE')" (click)="GetUserList(i);" title="View User"><i class="ti-eye"></i></button>
                                <button type="button" id="submit-view-button" class="btn btn-primary btn-xs tooltips" ng-show="item.role == 'Regional Sales Manager'" (click)="downloadPayslip(i);" title="Download Payout Card"><i class="ti-download" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-lg-12">
                    <button class="btn btn-primary" (click)="SendMail()"><span>Send Mail</span></button>
                </div>
            </div>
        </div>
        <a href="../ExcelReport/ExportExcel?name={{path}}" id="ExportExcelData"></a>

      
        <!-- Table Section End -->
        <!-- Views Details For Incentive Approve Or Reject Incentie END  -->
        <!-- No Data Found Section -->
        <div id="row_not_found_id" class="row" style="display: none;">
            <div class="table-responsive margin-bottom-50">
                <table class="table table-hover nowrap" id="example1" width="100%">
                    <thead>
                        <tr class="table-head">
                            <th class="col-sm-1">S.No</th>
                            <th class="col-sm-1"><input type="checkbox" [(ngModel)]="selectedAll" (click)="checkAll()" /> Select All</th>
                            <th class="col-sm-1">Employee ID</th>
                            <th class="col-sm-2">Name</th>
                            <th class="col-sm-1">Role</th>
                            <th class="col-sm-1">Channel</th>
                            <th class="col-sm-1">Branch/Area</th>
                            <th class="col-sm-1">Region</th>
                            <th class="col-sm-2">Status</th>
                            <th class="col-sm-1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="10" class="text-center font-size-16 font-weight-600" style="color: #003399;">No List Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- No Data Found Enbd-->
        </div>
    </div>

</div>

