﻿<nav id="headerMenu" class="navbar navbar-default navbar-static-top m-b-0" ng-controller="HeaderController">
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <a class="logo" href="#">
                <!-- Logo text image you can use text also --><span class="hidden-xs">
                    <!--This is dark logo text--><img src="~/Images/logo light.png" alt="home" class="dark-logo" style="width: 90%"><!--This is light logo text--><img src="./Ample Admin Template_files/admin-text-dark.png" alt="home" class="light-logo">
                </span>
            </a>
        </div>
        <!-- /Logo -->
        
        <!-- Search input and Toggle icon -->
        <ul class="nav navbar-top-links navbar-right pull-right active">
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="javascript:void(0)"><b class="hidden-xs">{{fullName}}</b><span class="caret"></span> </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-text"><h4>{{responseData}}</h4><p class="text-muted">{{responseData}}</p><a hm-state-transition="profile" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                        </div>
                    </li>
                    <!--<li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)" (click)="profileSubmit();"><i class="ti-user"></i> My Profile</a></li>-->
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:$('#logOffForm').submit()"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>

            <!-- /.dropdown -->
        </ul>
        
    </div>

    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<!-- End Top Navigation -->

