﻿<div class="row">
    <div id="view-id" class="col-md-12 col-lg-12">
        <div class="white-box">
            <div class="mod-target" style="display: none;">
                <h3 class="note-color-palette color-white">
                    View Details
                </h3>

            </div>
            <div class="panel-heading split-target" style="display: none;">
                <h3 class="note-color-palette color-white">
                    View Shift / Split OP
                </h3>

            </div>

            <div class="panel-heading customer-relationship" style="display: none;">
                <h3 class="note-color-palette color-white">
                    View Customer Relationship
                </h3>
            </div>

            <!-- ////////////////////////////////////////////////// -->
            <div class="panel-body">
                <div class="row">
                    <div id="example3_wrapper" class="dataTables_wrapper form-inline dt-bootstrap4">
                        <div class="margin-bottom-50">
                            <!-- Search Section -->
                            <div class="row">
                                <div class="col-md-8 button_active">
                                    <button type="button" class="btn btn-primary margin-inline btn-soft active" (click)="waitingForApprovelSubmit();">Waiting For Approval</button>
                                    <button type="button" class="btn btn-success margin-inline btn-soft" (click)="approvedSubmit();">Approved</button>
                                    <button type="button" class="btn btn-warning margin-inline btn-soft" (click)="rejectSubmit();">Rejected</button>
                                    <button type="button" class="btn btn-info margin-inline btn-soft" (click)="toBeProcessSubmit();">To Be Processed</button>
                                </div>
                                <div class="col-md-4">
                                    <div id="example3_filter" class="dataTables_filter pull-right">
                                        <label>
                                            Search On:<input style="width:250px" type="search" class="form-control input-sm" (keyup.enter)="searchSubmit();" [(ngModel)]="sarchBy.keyName" placeholder="Customer Name or Code" aria-controls="example3">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Search Section End  -->
                            <div class="form-actions"></div>
                            <!-- Table Section -->
                            <div id="row_table_id" class="">
                                <div class="table-responsive margin-bottom-50">
                                    <table class="table table-hover nowrap" id="example1" width="100%">
                                        <thead>
                                            <tr class="table-head">
                                                <th class="text-center">S.No</th>
                                                <th class="text-center">Customer Name</th>
                                                <th class="text-center">Initiated Date<br><span class="font-size-10">(DD-MM-YYYY)</span></th>
                                                <th class="text-center">Assigned To</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr class="table-head">
                                                <th class="text-center">S.No</th>
                                                <th class="text-center">Customer Name</th>
                                                <th class="text-center">Initiated Date<br><span class="font-size-10">(DD-MM-YYYY)</span></th>
                                                <th class="text-center">Assigned To</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr *ngFor="let item of responseData; let i = index" class="text-center">
                                                <!-- ng-class-odd="'odd'" ng-class-even="'even'"-->
                                                <td>{{i + 1}}</td>
                                                <td>{{item.keyName}}</td>
                                                <td>{{item.initiatedDateStr}}</td>
                                                <td>{{item.assignEmployeeName}} - {{item.assignAdpId}}</td>
                                                <td>{{item.status}}</td>
                                                <td style="width: 110px;">
                                                    <button class="btn btn-primary btn-xs tooltips" (click)="viewTargetModificationSubmit(i);"><i class="icmn-pencil5 font-size-14"></i><span>View CR</span></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Table Section End -->
                            <!-- No Data Found Section -->
                            <div id="row_not_found_id" class="" style="display: none;">
                                <div class="table-responsive margin-bottom-50">
                                    <table class="table table-hover nowrap" id="example1" width="100%">
                                        <thead>
                                            <tr class="table-head">
                                                <th class="text-center">S.No</th>
                                                <th class="text-center">Customer Name</th>
                                                <th class="text-center">Initiated Date<br><span class="font-size-10">(DD-MM-YYYY)</span></th>
                                                <th class="text-center">Assigned To</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6" class="text-center font-size-16 font-weight-600" style="color: #5b5d5f;">No Data Found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- No Data Found Enbd-->
                            <!-- Pagination -->
                            <div class="row">
                                <div class="col-md-5">

                                </div>
                                <div class="col-md-7">
                                    <div class="btn-group margin-inline pull-right">
                                        <button type="button" id="example1_previous" class="btn btn-rounded btn-success page-item previous disabled" (click)="getPreviousEmployee();">Previous</button>
                                        <button type="button" id="example1_next" class="btn btn-rounded btn-primary page-item next" (click)="getNextEmployee();">Next</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Pagination End-->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
