﻿<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="panel">
        <div class="panel-heading">Employee Table</div>
        <div class="table-responsive p-l-20 p-r-20">
            <!-- Search Section -->
            <a [routerLink]="['/create-employee']" href="javascript:void(0)">Add New Employee</a>

            <div id="myTable_filter" class="dataTables_filter pull-right m-r-20">
                <button type="button" class="btn btn-info btn-outline btn-circle btn-xs m-r-5" (click)="ngOnInit();">
                    <i class="fa fa-refresh" title="Reset"></i>
                </button>
            </div>

            <div id="myTable_filter" class="dataTables_filter pull-right m-r-40"><label>Search By: <input type="search" style="width: 300px; padding: 4px" class="" placeholder="Employee Name / Adp Id / Status" aria-controls="myTable" (keyup.enter)="ngOnSearchBranch();" [(ngModel)]="searchByBranch.fullName"></label></div>

            <table class="table table-hover manage-u-table">
                <thead>
                    <tr>
                        <th class="text-center" width="70px">#</th>
                        <th class="text-center" width="200px">Name</th>
                        <th class="text-center">Employee ID</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of responseData let i = index">
                        <td class="text-center">{{i + 1}}</td>
                        <td>
                            <span class="font-medium">{{item.fullName}}</span>
                        </td>
                        <td class="text-center">    
                            <span class="font-medium">{{item.adpId}}</span>
                        </td>
                        <td class="text-center"><span class="font-medium">{{item.status}}</span></td>
                        <td class="text-center">
                            <button type="button" *ngIf="item.status == 'ACTIVE'" class="btn btn-info btn-outline btn-circle btn-xs m-r-5" (click)="ngOnEditEmployeeDetailsSubmit(i);"><i class="ti-pencil-alt"></i></button>
                            <button type="button" *ngIf="item.status == 'RESIGNED'" class="btn btn-info btn-outline btn-circle btn-xs m-r-5" (click)="ngOnEditEmployeeDetailsSubmit(i);"><i class="ti-eye"></i></button>

                        </td>
                    </tr>
                </tbody>
                <tbody id="row_not_found_id" class="ng-hide">
                    <tr>
                        <td colspan="7" class="text-center font-size-16 font-weight-600" style="color: #5b5d5f;">No Data Found</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>

                        <td colspan="6">
                            <div class="text-right">
                                <button type="button" id="example1_previous" class="btn btn-rounded btn-success page-item previous disabled" (click)="ngOnGetPreviousEmployee();">Previous</button>
                                <button type="button" id="example1_next" class="btn btn-rounded btn-primary page-item next" (click)="ngOnGetNextEmployee();">Next</button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <router-outlet></router-outlet>
</div>