﻿<div class="panel-heading">
    <h3 class="note-color-palette color-white">
        Existing Customer Relationship Details
    </h3>
</div>
<!-- Panel -->
<div class="panel-body">
    <div class="clear"></div>
    
    <div class="row" *ngFor="let item of custDetials.responseRelationData;let i = index">

        <div class="col-md-4">
            <button type="button" id="remove-role-button"
                    class="btn btn-icon btn-danger margin-inline  tooltips"
                    (click)="deleteRelSubmit(i)" style="box-shadow: 0px 1px 10px 0px #989898;border-radius:5px; margin:5px 0 15px 0;">
                <i class="icmn-minus3" aria-hidden="true"></i>
                <span>Delete Relationship</span>
            </button>
        </div>
        <div class="col-md-8">

        </div>

        <div class="clear"></div>
        <div class="col-lg-4">
            <div id="yearRecorded" class="form-group employeeBranch">
                <label class="form-label">Relationship Details for Year <span class="color-primary-span">*</span></label>
                <input id="email"
                       class="form-control"
                       [(ngModel)]="item.yearRecorded" disabled
                       type="text">
            </div>
        </div>
        <div class="col-lg-4">
            <!-- start Month -->
            <div class="form-group">
                <label class="form-label">Relationship Start Month <span class="color-primary-span">*</span></label>
                <input class="form-control" disabled [(ngModel)]="item.startMonthDescription" >
            </div>
            </div>
        <div class="col-lg-4">
            <!-- End Month-->
            <div class="form-group">
                <label class="form-label">Relationship End Month <span class="color-primary-span">*</span></label>
                <input class="form-control" disabled [(ngModel)]="item.endMonthsDescription">
            </div>

        </div>
        

        <div class="col-lg-6">
           
            <!-- Channel Code -->
            <div class="form-group">
                <label class="form-label" for="validation-username">Channel <span class="color-primary-span">*</span></label>
                <input class="form-control" disabled [(ngModel)]="item.RP1">
            </div>
            </div>
        <div class="col-lg-6" [hidden]="item.subChannelCode == '' && item.subChannelCode == null">
            <!-- Sub Channel -->
            <div id="customerSubChannel" class="form-group">
                <label class="form-label" for="validation-username">Line Of Business</label>
                <input class="form-control" disabled [(ngModel)]="item.RP2">
            </div>
        </div>

        <div class="col-lg-6" [hidden]="item.region == ''">
            <!-- Region-->
            <div class="form-group">
                <label class="form-label">Region</label>
                <input class="form-control" disabled [(ngModel)]="item.RP3">
               
            </div>
        </div>
        <div id="customerBranch" class="col-lg-6"[hidden]="item.branch == ''">
            <!-- Branch List-->
            <div class="form-group">
                <label class="form-label">Branch</label>
                <input class="form-control" disabled [(ngModel)]="item.branch">
            </div>
        </div>

        <div id="customerArea" class="col-lg-6" [hidden]="item.areaCode == ''">
            <div class="form-group">
                <label class="form-label">Area</label>
                <input class="form-control" disabled [(ngModel)]="item.RP3">
            </div>
        </div>
        <div id="customerEmpKAMDetails" class="col-lg-6" [hidden]="item.employeeRole == ''">
            <!-- Employee Deatils-->
            <div class="form-group">
                <label class="form-label">Employee</label>
                <input class="form-control" disabled [(ngModel)]="item.employeeRole">
            </div>
        </div>

        
        <div class="col-lg-6 d-none">
            <!-- customer Code -->
            <div class="form-group">
                <label class="form-label" for="validation-username">Sub Area</label>
                    <input id="subArea"
                           class="form-control"
                           name="validation[subArea]" [(ngModel)]="item.subArea"
                           type="text">
            </div>
        </div>

        <div class="clear"></div>
        <!--<div class="col-lg-12" *ngFor="shipToCode in item.shipToPartyCodes" ng-show="item.shipToPartyCodes.length != 0">

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label">Ship To Party Code</label>
                    <input type="text" class="form-control" disabled id="shipToPartyCodes" [(ngModel)]="shipToCode.shipToPartyCodes">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label">Plant Name</label>
                    <input type="text" class="form-control" disabled id="plantName" [(ngModel)]="shipToCode.plantName">
                </div>
            </div>
        </div>-->
    
    
        <div class="clear"></div>

    </div>
</div>