﻿     <!-- Step 2-->
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="submit-basic-button" class="btn btn-primary width-50 pull-right tooltips" (click)="incentiveSheetForQuarter($index);"><i class="icmn-download"></i> <span>Incentive Sheet</span></button>
            <div class="clear"></div>
            <div class="form-actions margin-top-10"></div>
            <!-- Table Section -->
            <div id="row_table_id" class="row row_table_class">
                <div class="table-responsive margin-bottom-50">
                    <table class="table table-hover nowrap" id="example1" width="100%">
                        <thead>
                            <tr class="table-head">
                                <th class="text-center">S.No</th>
                                <th class="text-center">Employee ID</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Branch/Area</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Status</th>
                                <th class="text-center" style="width: 100px;">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="table-head">
                                <th class="text-center">S.No</th>
                                <th class="text-center">Employee ID</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Branch/Area</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Status</th>
                                <th class="text-center" style="width: 100px;">Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="item in employeeRole track by $index" ng-class-odd="'odd'" ng-class-even="'even'" class="text-center">
                                <td>{{$index + 1}}</td>
                                <td>{{item.adpId}}</td>
                                <td>{{item.fullName}}</td>
                                <td style="width: 115px;">{{item.role}}</td>
                                <td>{{item.channelCode}}</td>
                                <td>{{item.branchCode}} {{item.areaCode}}</td>
                                <td>{{item.region}}</td>
                                <td>{{item.status}}</td>
                                <td style="width: 150px;">
                                    <button type="button" id="submit-basic-button" class="btn btn-primary btn-xs tooltips" ng-show="item.status != 'QUEUED FOR DATA'" (click)="downloadPerformanceSheetSubmit($index);"><i class="icmn-download"></i> <span>Performance Sheet</span></button>                                                  
                                    <button type="button" id="submit-re-gen-sheet-button" class="btn btn-success btn-xs tooltips" ng-show="item.status == 'REJECTED'" (click)="reReneratePerformanceSheet($index);"><i class="icmn-reset"></i> <span style="font-size: 12px;">Re-Gen. Perf. Sheet</span></button>
                                    <button class="btn btn-primary btn-xs tooltips" ng-show="item.status == 'QUEUED FOR APPROVAL' && item.showApproval == true" (click)="approveIncentive($index)"><i class="icmn-checkmark font-size-14"></i><span>Approve Performance</span></button>
                                    <button class="btn btn-primary btn-xs tooltips" ng-show="item.status == 'QUEUED FOR APPROVAL' && item.showApproval == true" (click)="rejectIncentive($index)"><i class="icmn-cancel font-size-14"></i><span>Reject Performance</span></button>
                                    <button type="button" id="submit-view-button" class="btn btn-primary btn-xs tooltips" ng-show="item.status == 'REJECTED'" (click)="viewIncentiveDetailsSubmit($index);"><i class="icmn-eye"></i> <span>View Comment</span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Table Section End -->
            <!-- Views Details For Incentive Approve Or Reject Incentie END  -->
            <!-- No Data Found Section -->
            <div id="row_not_found_id" class="row" style="display: none;">
                <div class="table-responsive margin-bottom-50">
                    <table class="table table-hover nowrap" id="example1" width="100%">
                        <thead>
                            <tr class="table-head">
                                <th class="text-center">S.No</th>
                                <th class="text-center">Employee ID</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Branch/Area</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center font-size-16 font-weight-600" style="color: #003399;">No List Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- No Data Found Enbd-->
            </div>
        </div>
        <a href="../ExcelReport/ExportExcel?name={{path}}" id="downloadSheet"></a>
    </div>

<!-- Close Popup-->
<!--<div id="deleteCorporatePopup">
    <span id="CloseButton" class="button11 b-close"><span>X</span></span>
    <p class="text-center"><i class="icmn-info color-primary font-size-26"></i><br> why you reject for incentive </p>
    <div class="clear"></div>
    <div class="form-group">
        <div checkMandatory="true" elementType="checkboxgroup" id="incentiveArray">
            <label class="form-label">Select Incentive Problem <span class="color-primary-span">*</span></label>
            <br>
            <div class="checkbox {{'checkbox' + $index}}" *ngFor="intPer in incentiveInitArray">
                <label>
                    <input checklist-model="incentiveDetails.incentiveArray" checklist-value="intPer.id" type="checkbox">
                    {{intPer.text}}
                </label>
            </div>
        </div>
        <div id="incentiveArray_error" class="displayError ng-hide color-white"></div>
    </div>

    <div class="form-group">
        <label class="form-label">Comments <span class="color-primary-span">*</span></label>
        <textarea id="comments" [(ngModel)]="incentiveDetails.comments" class="form-control" checkMandatory="true" placeholder="your comment"></textarea>
        <div id="comments_error" class="displayError ng-hide color-white"></div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-warning" (click)="rejectIncentiveSubmit()">Yes</button>
        <button type="submit" class="btn btn-success width-50 b-close">No</button>
    </div>
</div>-->

<!-- File Does not Exist with The Current Incentive-->
<div id="NotExist">
    <span id="CloseButton" class="button11 b-close"><span>X</span></span>
    <p class="text-center"><i class="icmn-info color-primary font-size-26"></i><br> Sheet does not exist with the same incentive name</p>
    <div class="text-center">
        <button type="submit" class="btn btn-success width-50 b-close">OK</button>
    </div>
</div>

<!-- File Does not Exist with The Current Incentive-->
<div id="viewsIncentiveDetails">
    <span id="CloseButton" class="button11 b-close"><span>X</span></span>
    <p class="text-center"><i class="icmn-info color-primary font-size-26"></i></p>
    <p><b>Problem Reported</b> : <span *ngFor="items in viewIncentiveDetails.incentiveError">{{items}} &nbsp;&nbsp; </span></p>
    <div class="clear"></div>
    <div class="form-actions margin-top-10">
        <p><b>Comment</b> : {{viewIncentiveDetails.comments}} </p>
    </div>
    
    <div class="text-center">
        <button type="submit" class="btn btn-success width-50 b-close">OK</button>
    </div>
</div>
<!-- Close Popup-->
<div id="deleteCorporatePopup">
    <span id="CloseButton" class="button11 b-close"><span>X</span></span>
    <p class="text-center"><i class="icmn-info color-primary font-size-26"></i><br> why do you wish to reject the approval request. </p>
    <br>
    <div class="clear"></div>
    <div class="form-group">
        <div checkMandatory="true" elementType="checkboxgroup" id="incentiveArray">
            <label class="form-label">Select Problem Type <span class="color-primary-span">*</span></label>
            <br>
            <div class="checkbox {{'checkbox' + $index}}" *ngFor="intPer in incentiveInitArray" style="display: block;">
                <label>
                    <input checklist-model="incentiveDetails.incentiveError" checklist-value="intPer.id" type="checkbox">
                    {{intPer.text}}
                </label>
            </div>
        </div>
        <div id="incentiveArray_error" class="displayError ng-hide color-white"></div>
    </div>

    <div class="form-group">
        <label class="form-label">Comments <span class="color-primary-span">*</span></label>
        <textarea id="comments" [(ngModel)]="incentiveDetails.comments" class="form-control" checkMandatory="true" placeholder="your comment"></textarea>
        <div id="comments_error" class="displayError ng-hide color-white"></div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-warning" (click)="rejectIncentiveSubmit()">Yes</button>
        <button type="submit" class="btn btn-success width-50 b-close">No</button>
    </div>
</div>
<div id="deleteCorporatePopup">
    <span id="CloseButton" class="button11 b-close"><span>X</span></span>
    <p class="text-center"><i class="icmn-info color-primary font-size-26"></i><br> why do you wish to reject the approval request. </p>
    <br>
    <div class="clear"></div>
    <div class="form-group">
        <div checkMandatory="true" elementType="checkboxgroup" id="incentiveArray">
            <label class="form-label">Select Problem Type <span class="color-primary-span">*</span></label>
            <br>
            <div class="checkbox {{'checkbox' + $index}}" *ngFor="intPer in incentiveInitArray" style="display: block;">
                <label>
                    <input checklist-model="incentiveDetails.incentiveError" checklist-value="intPer.id" type="checkbox">
                    {{intPer.text}}
                </label>
            </div>
        </div>
        <div id="incentiveArray_error" class="displayError ng-hide color-white"></div>
    </div>

    <div class="form-group">
        <label class="form-label">Comments <span class="color-primary-span">*</span></label>
        <textarea id="comments" [(ngModel)]="incentiveDetails.comments" class="form-control" checkMandatory="true" placeholder="your comment"></textarea>
        <div id="comments_error" class="displayError ng-hide color-white"></div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-warning" (click)="rejectIncentiveSubmit()">Yes</button>
        <button type="submit" class="btn btn-success width-50 b-close">No</button>
    </div>
</div>

