﻿     <!-- Step 2-->
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="submit-basic-button" class="btn btn-primary width-50 pull-right tooltips" (click)="incentiveSheetForQuarter(i);"><i class="icmn-download"></i> <span>Incentive Sheet</span></button>
            <div class="clear"></div>
            <div class="form-actions margin-top-10"></div>
            <!-- Table Section -->
            <div id="row_table_id" class="row row_table_class">
                <div class="table-responsive margin-bottom-50">
                    <table class="table table-hover nowrap" id="example1" width="100%">
                        <thead>
                            <tr class="table-head">
                                <th class="text-center">S.No</th>
                                <th class="text-center">Employee ID</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Branch/Area</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Status</th>
                                <th class="text-center" style="width: 100px;">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="table-head">
                                <th class="text-center">S.No</th>
                                <th class="text-center">Employee ID</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Branch/Area</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Status</th>
                                <th class="text-center" style="width: 100px;">Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="item in employeeRole track by $index" ng-class-odd="'odd'" ng-class-even="'even'" class="text-center">
                                <td>{{$index + 1}}</td>
                                <td>{{item.adpId}}</td>
                                <td>{{item.fullName}}</td>
                                <td style="width: 115px;">{{item.role}}</td>
                                <td>{{item.channelCode}}</td>
                                <td>{{item.branchCode}} {{item.areaCode}}</td>
                                <td>{{item.region}}</td>
                                <td>{{item.status}}</td>
                                <td style="width: 100px;">
                                    <button type="button" id="submit-basic-button" class="btn btn-primary btn-xs tooltips" ng-show="item.status != 'QUEUED FOR DATA'" (click)="downloadPerformanceSheetSubmit(i);"><i class="icmn-download"></i> <span>Performance Sheet</span></button>
                                    <button type="button" id="submit-gen-payslip-button" class="btn btn-primary btn-xs tooltips" 
                                            ng-show="item.status == 'APPROVED' && adminRole != 'ADMINISTRATOR'" 
                                            (click)="generatePayslipSubmit(i);">
                                        <i class="icmn-printer"></i> <span>Generate Payslip</span>
                                    </button>                                    
                                    <button type="button" id="submit-re-gen-sheet-button" class="btn btn-success btn-xs tooltips" ng-show="item.status == 'REJECTED' && adminRole == 'ADMINISTRATOR'" (click)="reReneratePerformanceSheet(i);"><i class="icmn-reset"></i> <span style="font-size: 12px;">Re-Gen. Perf. Sheet</span></button>
                                    <button type="button" id="submit-reject-button" class="btn btn-warning btn-xs tooltips" ng-show="item.status == 'APPROVED' && adminRole != 'ADMINISTRATOR'" (click)="rejectIncentive(i);"><i class="icmn-cancel"></i> <span>Reject Performance</span></button>
                                    <button type="button" id="submit-view-button" class="btn btn-primary btn-xs tooltips" ng-show="item.status == 'REJECTED'" (click)="viewIncentiveDetailsSubmit($index);"><i class="icmn-eye"></i> <span>View Comment</span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Table Section End -->
            <!-- Views Details For Incentive Approve Or Reject Incentie END  -->
            <!-- No Data Found Section -->
            <div id="row_not_found_id" class="row" style="display: none;">
                <div class="table-responsive margin-bottom-50">
                    <table class="table table-hover nowrap" id="example1" width="100%">
                        <thead>
                            <tr class="table-head">
                                <th class="text-center">S.No</th>
                                <th class="text-center">Employee ID</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Channel</th>
                                <th class="text-center">Branch/Area</th>
                                <th class="text-center">Region</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center font-size-16 font-weight-600" style="color: #003399;">No List Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- No Data Found Enbd-->
            </div>
        </div>
        <a href="../ExcelReport/ExportExcel?name={{path}}" id="downloadSheet"></a>
    </div>

