﻿
<div class="row">
    <div id="view-id" class="col-md-12 col-lg-12">
        <div class="white-box">
            <!-- Panel Body -->
            <div class="view-mod-target-details" style="display: none;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h3>Targets Modification Request Details</h3>
                            </div>
                            <div id="Assigned To" class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label class="form-label">Assigned To</label>
                                <label id="Assigned To"
                                       class="form-control"
                                       disabled>{{crDetails.assignEmployeeName}}-{{crDetails.assignAdpId}}</label>
                            </div>
                            <div id="Raised By" class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label class="form-label">Raised By</label>
                                <label id="email"
                                       class="form-control"
                                       disabled>{{crDetails.rasedEmployeeName}}-{{crDetails.adpId}}</label>
                            </div>
                            <div id="Status" class="form-group col-sm-4">
                                <label class="form-label">Status</label>
                                <input id="email"
                                       class="form-control"
                                       [(ngModel)]="crDetails.status" disabled
                                       type="text">
                            </div>
                            <div class="clear"></div>
                            <div id="Sold To Code" class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label class="form-label">Sold To Code</label>
                                <input id="Assigned To"
                                       class="form-control"
                                       [(ngModel)]="customerBaseDetails.soldToCode" disabled
                                       type="text">
                            </div>
                            <div id="District" class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label class="form-label">District</label>
                                <input id="email"
                                       class="form-control"
                                       [(ngModel)]="customerBaseDetails.districtOrTown" disabled
                                       type="text">
                            </div>
                            <div id="State" class="form-group col-sm-4">
                                <label class="form-label">State</label>
                                <input id="email"
                                       class="form-control"
                                       [(ngModel)]="customerBaseDetails.stateCode" disabled
                                       type="text">
                            </div>
                            <div id="Year" class="form-group col-sm-4">
                                <label class="form-label">Year</label>
                                <input id="email"
                                       class="form-control"
                                       [(ngModel)]="customerBaseDetails.yearRecorded" disabled
                                       type="text">
                            </div>
                            <div id="Area Of Operation" class="form-group col-sm-4">
                                <label class="form-label">Area Of Operation</label>
                                <input id="email"
                                       class="form-control"
                                       [(ngModel)]="customerBaseDetails.areaOfOperation" disabled
                                       type="text">
                            </div>
                            <div id="Group Name" class="form-group col-sm-4">
                                <label class="form-label">Group Name</label>
                                <input id="email"
                                       class="form-control"
                                       [(ngModel)]="customerBaseDetails.groupName" disabled
                                       type="text">
                            </div>
                            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                                <label class="form-label" for="validation-BranchName">Comment <span class="color-primary-span">*</span></label>
                                <textarea id="comment" class="form-control margin-bottom-20" [(ngModel)]="crDetails.comments" disabled placeholder="Please provide reason for targets modification request..."></textarea>

                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="page-header">
                                    <h3>Targets Modification Request Details</h3>
                                </div>
                                <button type="button" class="btn btn-warning margin-inline pull-right" (click)="relationshipPopupShowButton();" data-toggle="modal" data-target="#example4">View Customer Relationship</button>
                            </div>
                            <!-- Table section-->
                            <div class="table-responsive col-lg-12 col-md-12 col-sm-12">
                                <table class="table table-hover nowrap" id="example2">
                                    <thead>
                                        <tr class="table-head">
                                            <th colspan="14" class="text-center">As Is Targets View Details (Amount In Million (mn))</th>
                                        </tr>
                                        <tr class="table-head">
                                            <th class="text-center">Emp Name</th>
                                            <th class="text-center">Jan</th>
                                            <th class="text-center">Feb</th>
                                            <th class="text-center">Mar</th>
                                            <th class="text-center">Apr</th>
                                            <th class="text-center">May</th>
                                            <th class="text-center">Jun</th>
                                            <th class="text-center">Jul</th>
                                            <th class="text-center">Aug</th>
                                            <th class="text-center">Sep</th>
                                            <th class="text-center">Oct</th>
                                            <th class="text-center">Nov</th>
                                            <th class="text-center">Dec</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr class="table-head">
                                            <th class="text-center">Total</th>
                                            <th class="text-center" *ngFor="let ttl of totalCols;let i  = index ">{{ttl}}</th>
                                        </tr>
                                    </tfoot>
                                    <tbody class="targetListViews">

                                        <tr *ngFor="let item of retvalases" class="text-center">
                                            <!--ng-class-odd="'odd'" ng-class-even="'even'"-->

                                            <td>
                                                {{item.empName}}
                                            </td>
                                            <td *ngFor="let tar of item.customerTargets"><input type="text" onkeypress='allowOnlyNumbers(this)' id="text_{{i}}" class="input-sm input-width number-default" disabled [(ngModel)]="tar.targetAmt" style="width:80px; border-radius:0px;" pattern="/^(\d)+$/" title="{{tar.targetAmt}}" /></td>
                                            <td><input type="text" myNumberOnly class="input-sm input-width number-default" disabled [(ngModel)]="item.total" style="width:80px; border-radius:0px;"pattern="/^(\d)+$/" title="{{item.total}}" /></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- Table End -->
                            <!-- Table section -->
                            <div class="table-responsive col-lg-12 col-md-12 col-sm-12">
                                <table class="table table-hover nowrap " id="example2">
                                    <thead>
                                        <tr class="table-head">
                                            <th colspan="14" class="text-center">View Targets Details (Amount In Million (mn))</th>
                                        </tr>
                                        <tr class="table-head">
                                            <th class="text-center">Emp Name</th>
                                            <th class="text-center">Jan</th>
                                            <th class="text-center">Feb</th>
                                            <th class="text-center">Mar</th>
                                            <th class="text-center">Apr</th>
                                            <th class="text-center">May</th>
                                            <th class="text-center">Jun</th>
                                            <th class="text-center">Jul</th>
                                            <th class="text-center">Aug</th>
                                            <th class="text-center">Sep</th>
                                            <th class="text-center">Oct</th>
                                            <th class="text-center">Nov</th>
                                            <th class="text-center">Dec</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr class="table-head">
                                            <th class="text-center">Total</th>
                                            <th class="text-center" *ngFor="let tol of totalCol;let i = index">{{tol}}</th>
                                        </tr>
                                    </tfoot>
                                    <tbody class="targetListViews">

                                        <tr *ngFor="let item of toBeTargets" class="text-center">
                                            <!--ng-class-odd="'odd'" ng-class-even="'even'"-->

                                            <td>
                                                {{item.empName}}
                                            </td>
                                            <td *ngFor="let tar of item.customerTargets"><input type="text" myNumberOnly id="text_{{i}}" class="input-sm input-width number-default" disabled [(ngModel)]="tar.targetAmt" style="width:80px; border-radius:0px;" pattern="/^(\d)+$/" title="{{tar.targetAmt}}" /></td>
                                            <th><input type="text" myNumberOnly class="input-sm input-width number-default" disabled [(ngModel)]="item.total" style="width:80px; border-radius:0px;" pattern="/^(\d)+$/" title="{{item.total}}" /></th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="form-group" style="display:none" id="commentBox">
                                    <textarea id="commentBoxInput" class="form-control" placeholder="Type Comment Here...." [(ngModel)]="comment"></textarea>
                                </div>

                                <div class="" id="appRejButtons" style="display:none">
                                    <div class="">
                                        <button type="button" id="APPROVED" class=" btn btn-primary width-75 m-r-5" (click)="targetSubmit($event);">Approve</button>
                                        <button type="button" id="REJECTED" class=" btn btn-warning width-75" (click)="targetSubmit($event);">Reject</button>
                                    </div>
                                   
                                </div>
                            </div>
        </div>
    </div>
            </div>
        </div>
    </div>

    <!-- Customer Relation Ship -->
    <!-- Add New Customer-->
    <div class="modal fade modal-size-large" id="example4" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered" role="document">
            <div class="modal-content">
                <div class="modal-header f-t-info">
                    <button type="button" class="close margin-bottom-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Customer Relationship</h4>
                </div>
                <div class="modal-body">
                    <section class="panel panel-with-borders">
                        <div class="panel-body">
                            <div *ngFor="let items of custRel">
                                <section class="panel p-0">
                                    <div class="panel-body">
                                        <div class="col-lg-6">
                                            <span><strong>Start Month</strong>: {{items.startMonthDescription}}</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span><strong>End Month</strong>: {{items.endMonthsDescription}}</span>
                                        </div>
                                        <div class="col-lg-6 padding-top-10">
                                            <span><strong>Channel</strong>: {{items.channelCode}}</span>
                                        </div>
                                        <div class="col-lg-6 padding-top-10" [hidden]="items.subChannelCode == '' && items.subChannelCode == null">
                                            <span><strong>Line Of Business</strong>: {{items.subChannelCode}}</span>
                                        </div>
                                        <div class="col-lg-6 padding-top-10">
                                            <span><strong>Region</strong>: {{items.region}}</span>
                                        </div>
                                        <div class="col-lg-6 padding-top-10" [hidden]="items.branch == ''">
                                            <span><strong>Branch</strong>: {{items.branch}}</span>
                                        </div>
                                        <div class="col-lg-6 padding-top-10" [hidden]="items.area == null">
                                            <span><strong>Area</strong>: {{items.areaCode}}</span>
                                        </div>
                                        <div class="col-lg-6 padding-top-10" [hidden]="items.fullName == ''">
                                            <span><strong>Employee Name</strong>: {{items.fullName}}</span>
                                        </div>
                                        <div class="col-lg-6 padding-top-10">
                                            <span><strong>Year</strong>: {{items.yearRecorded}}</span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer f-t-info">
                    <button type="button" class="btn " data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
