
/*Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i");

.appRootStyle {
    margin-top: 60px;
}

#sidebar ul.components::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}
/* Track */
#sidebar ul.components::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #33b5e500;
    border-radius: 0px;
}

#sidebar ul.components:hover::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f1f1f1;
    border-radius: 0px;
}

/* Handle */
#sidebar ul.components:hover::-webkit-scrollbar-thumb {
    background: #6b6f8247;
    border-radius: 0px;
}

#sidebar ul.components::-webkit-scrollbar-thumb {
    background: #f1f1f100;
    border-radius: 0px;
}

    /* Handle on hover */
    #sidebar ul.components::-webkit-scrollbar-thumb:hover {
        background: #0070c0;
    }

.colorVal1 {
    color: #fbc02d;
    fill: #fbc02d;
}

.colorVal2 {
    color: #a2d4f9;
    fill: #a2d4f9;
}

.colorVal3 {
    color: #74c476;
    fill: #74c476;
}

.colorVal4 {
    color: #9e9ac8;
    fill: #9e9ac8;
}

.colorVal5 {
    color: #ff8014;
    fill: #ff8014;
}

.colorVal6 {
    color: #dadaeb;
    fill: #dadaeb;
}

.d3treeScroll::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}
/* Track */
.d3treeScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #33b5e500;
    border-radius: 0px;
}

.d3treeScroll:hover::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f1f1f1;
    border-radius: 0px;
}

/* Handle */
.d3treeScroll:hover::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 25px;
}

.d3treeScroll::-webkit-scrollbar-thumb {
    background: #f1f1f100;
    border-radius: 0px;
}

    /* Handle on hover */
    .d3treeScroll::-webkit-scrollbar-thumb:hover {
        background: #0070c0;
    }






/*classes for scroll*/
/* width */
:: -webkit-scrollbar {
    width: 10px;
    height: 5px;
}


/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 0px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: grey;
    }

/* Track */
.themegreen::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1ab394;
    border-radius: 0px;
}

/* Handle */
.themegreen::-webkit-scrollbar-thumb {
    background: #1ab394;
    border-radius: 0px;
}

    /* Handle on hover */
    .themegreen::-webkit-scrollbar-thumb:hover {
        background: #1ab394;
    }

/* Track */
.themeblue::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #417ea5;
    border-radius: 0px;
}

/* Handle */
.themeblue::-webkit-scrollbar-thumb {
    background: #417ea5;
    border-radius: 0px;
}

    /* Handle on hover */
    .themeblue::-webkit-scrollbar-thumb:hover {
        background: #417ea5;
    }

/* Track */
.orange::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fec94d;
    border-radius: 0px;
}

/* Handle */
.orange::-webkit-scrollbar-thumb {
    background: #fec94d;
    border-radius: 0px;
}

    /* Handle on hover */
    .orange::-webkit-scrollbar-thumb:hover {
        background: #fec94d;
    }

/* Track */
.danger::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #dc3545;
    border-radius: 0px;
}

/* Handle */
.danger::-webkit-scrollbar-thumb {
    background: #dc3545;
    border-radius: 0px;
}

    /* Handle on hover */
    .danger::-webkit-scrollbar-thumb:hover {
        background: #dc3545;
    }

/* Track */
.secondary::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #6c757d;
    border-radius: 0px;
}

/* Handle */
.secondary::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 0px;
}

    /* Handle on hover */
    .secondary::-webkit-scrollbar-thumb:hover {
        background: #6c757d;
    }
/*******filter menu for dashboard******/
@keyframes animicon-rotate-hide {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
        //opacity:1;
    }

    to {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari */
        transform: rotate(180deg);
        //opacity:0;
    }
}

@keyframes animicon-rotate-show {
    from {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari */
        transform: rotate(180deg);
        //opacity:0;
    }

    to {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Safari */
        transform: rotate(360deg);
        //opacity:1;
    }
}

.btn-rounded {
    width: 50px;
    border-radius: 50% !important;
    padding: 0.7rem 0.7rem !important;
    height: 50px;
}

.iconeffect-rot {
    animation: animicon-rotate-hide 1s;
    animation-iteration-count: 1;
}

.iconeffect-rot-rev {
    animation: animicon-rotate-show 1s;
}

#filterMenu ul {
    position: absolute;
    width: 100%;
}

#floatbtn button:hover {
    box-shadow: 0 0 5px black;
}

.filterMenuClose {
    width: 0% !important;
    position: fixed;
    bottom: 0%;
    right: 0px;
    height: 100%;
    width: 15%;
    padding: 30px 0px;
    transition: .5s;
    background-color: #0a3d62;
}

.filterMenuOpen ul.show li {
    display: block;
    background-color: #ffffff !important;
    color: #0055a5 !important;
    cursor: pointer;
    animation: animateleft 0.5s;
}

.filterMenuOpen ul.hide li {
    display: none;
    background-color: #fff !important;
    color: #0055a5 !important;
    cursor: pointer;
    animation: animateright 0.5s;
}

.filterMenuClose ul.show li {
    background-color: transparent !important;
    color: transparent !important;
    cursor: pointer;
    animation: animateright 1s;
}

.filterMenuClose ul.hide li {
    background-color: transparent !important;
    color: transparent !important;
    cursor: pointer;
    animation: animateright 1s;
}

@keyframes animateleft {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: 0px;
        opacity: 1
    }

    to {
        right: -300px;
        opacity: 0
    }
}

.skewcontadd {
    -webkit-perspective: 1000px; /* Safari 4-8  */
    perspective: 1000px;
    transition: 1.5s;
}

.skewcontremove {
    -webkit-perspective: none; /* Safari 4-8  */
    perspective: none;
    transition: 1.5s;
}

.display {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.display-noradshad {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.display:after {
    content: "";
    position: absolute;
    z-index: -1 !important;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    bottom: 0px;
    width: 80%;
    height: 50%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    left: 10%;
    right: 10%;
}

.graphshow {
    display: flex;
}

.graphhide {
    display: none;
}

.badge-custom {
    border-radius: 1rem !important;
    margin: 0px 5px 0px 0px !important;
    cursor: pointer;
}

    .badge-custom svg {
        color: inherit !important;
        cursor: pointer;
        margin-left: 1rem !important;
        border-radius: 1rem !important;
    }

.badge-info-custom {
    color: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
    background-color: transparent !important;
}

    .badge-info-custom:hover {
        color: #ffffff !important;
        border: 1px solid #17a2b8 !important;
        background-color: #17a2b8 !important;
    }

.badge-primary-custom {
    color: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
    background-color: transparent !important;
}

    .badge-primary-custom:hover {
        color: #ffffff !important;
        border: 1px solid #17a2b8 !important;
        background-color: #17a2b8 !important;
    }

.badge-success-custom {
    color: #28a745 !important;
    border: 1px solid #28a745 !important;
    background-color: transparent !important;
}

    .badge-success-custom:hover {
        color: #ffffff !important;
        border: 1px solid #28a745 !important;
        background-color: #28a745 !important;
    }

.badge-danger-custom {
    color: #dc3545 !important;
    border: 1px solid #dc3545 !important;
    background-color: transparent !important;
}

    .badge-danger-custom:hover {
        color: #ffffff !important;
        border: 1px solid #dc3545 !important;
        background-color: #dc3545 !important;
    }

.badge-warning-custom {
    color: #ffc107 !important;
    border: 1px solid #ffc107 !important;
    background-color: transparent !important;
}

    .badge-warning-custom:hover {
        color: #ffffff !important;
        border: 1px solid #ffc107 !important;
        background-color: #ffc107 !important;
    }

.badge-secondery-custom {
    color: #6c757d !important;
    border: 1px solid #6c757d !important;
    background-color: transparent !important;
}

    .badge-secondery-custom:hover {
        color: #ffffff !important;
        border: 1px solid #6c757d !important;
        background-color: #6c757d !important;
    }

.badge-themegreen-custom {
    color: #1ab394 !important;
    border: 1px solid #1ab394 !important;
    background-color: transparent !important;
}

    .badge-themegreen-custom:hover {
        color: #ffffff !important;
        border: 1px solid #1ab394 !important;
        background-color: #1ab394 !important;
    }

.badge-themeblue-custom {
    color: #417ea5 !important;
    border: 1px solid #417ea5 !important;
    background-color: transparent !important;
}

    .badge-themeblue-custom:hover {
        color: #ffffff !important;
        border: 1px solid #417ea5 !important;
        background-color: #417ea5 !important;
    }

.badge-orange-custom {
    color: #fec94d !important;
    border: 1px solid #fec94d !important;
    background-color: transparent !important;
}

    .badge-orange-custom:hover {
        color: #ffffff !important;
        border: 1px solid #fec94d !important;
        background-color: #fec94d !important;
    }

.border-bottom-info {
    border-bottom: 3px solid #17a2b8 !important
}

.border-bottom-success {
    border-bottom: 3px solid #28a745 !important;
}

.border-bottom-danger {
    border-bottom: 3px solid #dc3545 !important;
}

.border-bottom-secondary {
    border-bottom: 3px solid #6c757d !important;
}

.border-bottom-themeblue {
    border-bottom: 3px solid #417ea5 !important;
}

.border-bottom-themegreen {
    border-bottom: 3px solid #1ab394 !important;
}

.border-bottom-orange {
    border-bottom: 3px solid #fec94d !important;
}

.border-bottom-warning {
    border-bottom: 3px solid #ffc107 !important;
}

/********************************************************************/
.btn-outline-orange {
    color: #fec94d;
    background-color: transparent;
    background-image: none;
    border-color: #fec94d;
}

    .btn-outline-orange:hover {
        color: #fff;
        background-color: #fec94d;
        border-color: #fec94d;
    }

    .btn-outline-orange:focus, .btn-outline-orange.focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .btn-outline-orange.disabled, .btn-outline-orange:disabled {
        color: #fec94d;
        background-color: transparent;
    }

    .btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled).active,
    .show > .btn-outline-orange.dropdown-toggle {
        color: #fff;
        background-color: #fec94d;
        border-color: #fec94d;
    }

        .btn-outline-orange:not(:disabled):not(.disabled):active:focus, .btn-outline-orange:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-orange.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #fec94da6;
        }


.btn-outline-themeblue {
    color: #417ea5;
    background-color: transparent;
    background-image: none;
    border-color: #417ea5;
}

    .btn-outline-themeblue:hover {
        color: #fff;
        background-color: #417ea5;
        border-color: #417ea5;
    }

    .btn-outline-themeblue:focus, .btn-outline-themeblue.focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .btn-outline-themeblue.disabled, .btn-outline-themeblue:disabled {
        color: #417ea5;
        background-color: transparent;
    }

    .btn-outline-themeblue:not(:disabled):not(.disabled):active, .btn-outline-themeblue:not(:disabled):not(.disabled).active,
    .show > .btn-outline-themeblue.dropdown-toggle {
        color: #fff;
        background-color: #417ea5;
        border-color: #417ea5;
    }

        .btn-outline-themeblue:not(:disabled):not(.disabled):active:focus, .btn-outline-themeblue:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-themeblue.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #417ea57a;
        }

.btn-outline-themegreen {
    color: #1ab394;
    background-color: transparent;
    background-image: none;
    border-color: #1ab394;
}

    .btn-outline-themegreen:hover {
        color: #fff;
        background-color: #1ab394;
        border-color: #1ab394;
    }

    .btn-outline-themegreen:focus, .btn-outline-themegreen.focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .btn-outline-themegreen.disabled, .btn-outline-themegreen:disabled {
        color: #1ab394;
        background-color: transparent;
    }

    .btn-outline-themegreen:not(:disabled):not(.disabled):active, .btn-outline-themegreen:not(:disabled):not(.disabled).active,
    .show > .btn-outline-themegreen.dropdown-toggle {
        color: #fff;
        background-color: #1ab394;
        border-color: #1ab394;
    }

        .btn-outline-themegreen:not(:disabled):not(.disabled):active:focus, .btn-outline-themegreen:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-themegreen.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #1ab3947a;
        }

.btn-outline-themered {
    color: #eb7260;
    background-color: transparent;
    background-image: none;
    border-color: #eb7260;
}

    .btn-outline-themered:hover {
        color: #fff;
        background-color: #eb7260;
        border-color: #eb7260;
    }

    .btn-outline-themered:focus, .btn-outline-themered.focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .btn-outline-themered.disabled, .btn-outline-themered:disabled {
        color: #eb7260;
        background-color: transparent;
    }

    .btn-outline-themered:not(:disabled):not(.disabled):active, .btn-outline-themered:not(:disabled):not(.disabled).active,
    .show > .btn-outline-themered.dropdown-toggle {
        color: #fff;
        background-color: #eb7260;
        border-color: #eb7260;
    }

        .btn-outline-themered:not(:disabled):not(.disabled):active:focus, .btn-outline-themered:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-themered.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #eb72607a;
        }

.text-themeblue {
    color: #417ea5 !important;
}

.text-themegreen {
    color: #1ab394 !important;
}

.text-orange {
    color: #fec94d !important;
}







/*Modify Chart Colors Hack*/
.chart, .easypiechart {
    filter: hue-rotate(0deg) saturate(100%);
}
/*Theme Switcher*/
.theme-switcher {
    list-style: none;
    text-align: center;
    margin: 1rem auto 3rem auto;
    display: block;
    width: 280px;
    display: block;
}

    .theme-switcher li {
        float: left;
        text-transform: uppercase;
        color: #ffffff;
    }

        .theme-switcher li span {
            margin-right: 10px;
        }

        .theme-switcher li a.theme-btn {
            color: #ffffff;
            background: none;
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0 6px;
            text-indent: -499rem;
            border-radius: 499rem;
            opacity: .8;
        }

            .theme-switcher li a.theme-btn:hover {
                opacity: 1;
            }

        .theme-switcher li a.theme-btn-default {
            background: #7376df !important;
        }

        .theme-switcher li a.theme-btn-teal {
            background: #3dbb9c !important;
        }

        .theme-switcher li a.theme-btn-ruby {
            background: #f54b63 !important;
        }

        .theme-switcher li a.theme-btn-nightfall {
            background: #32343c !important;
        }

        .theme-switcher li a.theme-btn-organic {
            background: #918278 !important;
        }

@media (max-width: 768px) {
    .theme-switcher {
        display: none;
    }
}

body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

h1, h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #dfdfdf;
}

h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited {
    color: #7376df;
}

    a:hover, a:focus, a:active {
        color: #6365d2;
        text-decoration: none;
    }

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: #7376df;
}

h1 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
}

h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
}

h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

h4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}

h5 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    text-transform: uppercase;
}

h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.card-class-c h5 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: capitalize;
}

p {
    color: #7c7c7c;
    font-size: 1rem;
}

.text-white p {
    color: #ffffff;
}

.text-theme {
    color: #4e4b4b;
}

.card-inverse p {
    color: #ffffff;
    font-size: .9rem;
}

.card h1 {
    border: none;
    margin: 0;
    padding-bottom: .5rem;
}

.no-border {
    border: none;
}

.no-padding {
    padding: 0;
}

.clear {
    clear: both;
}

.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-muted {
    color: #a0a0a0 !important;
}

code {
    background-color: #f7f7f7;
}

.divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
    margin: 2rem auto;
}

.circle {
    border-radius: 499rem;
}

.jumbotron {
    padding: 2rem 2rem;
    background-color: #f7f7f7;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle, .card-primary, .page-item.active .page-link, .list-group-item.active {
    /* background-color: #7376df !important;
    border-color: #7376df !important;*/ background-color: #487eb0 !important;
    border-color: #487eb0 !important;
    color: white !important;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
        /*background-color: #6365d2 !important;
  border-color: #6365d2 !important;*/ background-color: #072a44 !important;
        border-color: #072a44 !important;
    }

.btn-outline-primary {
    color: #fffff !important;
    border-color: #7376df !important;
}

    .btn-outline-primary.disabled, .btn-outline-primary:disabled, .btn-link, .page-link, .text-primary {
        color: #072a44 !important;
    }
        /*#7376df*/

        .btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
            color: #6365d2 !important;
        }

.dropdown-item.active, .dropdown-item:active, .custom-control-input:checked ~ .custom-control-indicator, .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator, .nav-pills .nav-item.show .nav-link, .badge-primary, .progress-bar, .bg-primary {
    background-color: #7376df !important;
    background-image: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #7376df !important;
    border-radius: 4px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #7376df !important;
    border-radius: 499px;
}


.form-control:focus {
    border-color: #7376df !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff !important;
    background-color: #7376df;
    border-color: #7376df;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background-color: #6365d2;
        border-color: #6365d2;
    }

.btn-outline-primary, .btn-outline-primary:visited {
    color: #fffff; /*#7376df;*/
    /*border-color: #7376df;*/
    border-color: #487eb0;
    background: none;
}

    .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
        background-color: #072a44; /*#7376df;*/
        border-color: #072a44;
        color: #ffffff;
    }

.btn-secondary, .btn-default {
    background-color: #ffffff;
    color: #444444;
    border-color: #dfdfdf;
}

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-default:hover, .btn-default:focus, .btn-default:active {
        color: #444444 !important;
        background-color: #f7f7f7 !important;
        border-color: #dfdfdf !important;
    }


.btn-theme-green {
    background-color: #1a2233;
    color: #fff;
    border-color: #1a2233;
}

    .btn-theme-green:hover, .btn-theme-green:focus, .btn-theme-green:active {
        color: #fff !important;
        background-color: #1a2233 !important;
        border-color: #1a2233 !important;
    }

.btn-margins button.btn {
    margin: 0 4px 6px 0 !important;
}

.btn {
    border-radius: 5px;
    /*border-radius: 499rem;*/
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .75rem;
    padding: .6rem 1.15rem;
    cursor: pointer;
}

    .btn:focus {
        outline: none;
        box-shadow: none;
    }

.btn-xs {
    font-size: .6rem;
    padding: .5rem 1rem;
}

.btn-sm {
    font-size: .65rem;
    padding: 5px 5px;
    font-weight: 600;
}

.btn-md {
    font-size: .75rem;
    padding: .6rem 1.15rem;
}

.btn-lg {
    font-size: .8rem;
    padding: .9rem 1.5rem;
}

.btn-circle {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1rem;
    padding: 0;
    border-radius: 50%;
}

.btn-subtle {
    border: none;
    background: #f7f7f7;
    color: #7376df;
    -webkit-appearance: none;
    cursor: pointer;
}

    .btn-subtle:hover, .btn-subtle:focus, .btn-subtle:active {
        color: #ffffff;
        background-color: #7376df;
        outline: none;
    }

.btn-stripped {
    border: none;
    background: none !important;
    color: #444444 !important;
    -webkit-appearance: none;
    cursor: pointer;
}

    .btn-stripped:hover, .btn-stripped:focus, .btn-stripped:active {
        color: #7376df;
        background-color: none;
        outline: none;
    }

.dropdown a {
    color: #444444;
}

    .dropdown a:hover, .dropdown a:active, .dropdown a:focus {
        background-color: #7376df;
        color: #ffffff;
    }

.dropdown-menu {
    background: #ffffff;
    border: 1px solid #dfdfdf;
    width: 16rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}

    .dropdown-menu .divider {
        margin: .5rem 0;
    }

    .dropdown-menu li a {
        padding: .35rem 1rem;
    }

    .dropdown-menu li a {
        color: #444444;
        display: inline-block;
        width: 100%;
    }

        .dropdown-menu li a:hover {
            background: #7376df;
            color: #ffffff;
            text-decoration: none;
        }

.wrapper {
    display: flex !important;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex !important;
    align-items: stretch;
}

#sidebar {
    width: 260px;
    min-height: 100vh;
    transition: all 0.3s;
}

    #sidebar.col-menu {
        width: 70px;
        position: absolute;
        z-index: 2;
        transition: all 0.3s;
    }

        #sidebar.col-menu:hover {
            width: 250px;
            position: absolute;
            z-index: 2;
        }

.col-menu .dropdown-toggle:after {
    opacity: 0 !important;
    transition: all 0.3s;
}

.col-menu:hover .dropdown-toggle:after {
    opacity: 1 !important;
    transition: all 0.3s;
}

.ml5 {
    margin-left: 70px;
    transition: all 0.3s;
}



#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}


#sidebar {
    background-image: url(../../Images/sidenav.jpg);
    /* background: #33b5e5; */
    color: #fff;
    transition: all 0.3s;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.15) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    z-index: 0;
}

    #sidebar:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        /*background-color: #ffffffd1;*/
        background-color: #ffffff;
        z-index: -1;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 0 0 20px 0;
        white-space: nowrap;
        overflow: hidden;
        overflow-y: auto;
        max-height: 87vh;
        margin-top: 60px;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        display: block;
        color: #6b6f82;
        padding: 12px 65px 12px 0px;
        transition: all 0.5s;
        font-weight: 400;
    }

        #sidebar ul li a:hover {
            color: #0070c0;
            padding-left: 5px !important;
        }

        #sidebar ul li a i {
            font-size: 18px;
            width: 70px;
            text-align: center;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #c3c3c3;
        background: rgba(90, 93, 95, 0.16);
    }

    #sidebar ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        color: #6b6f82;
        background: rgba(230, 230, 230, 0.24);
        border-left: 4px solid #6b6f82;
        border-top: 1px solid #6b6f8226;
    }

        #sidebar ul ul a i {
            padding-right: 10px;
        }

        #sidebar ul ul a:hover {
            padding-left: 35px !important;
        }

    #sidebar .iw {
        display: flex;
        top: 0;
        position: fixed;
        width: 260px;
        z-index: 999;
        transition: all 0.3s;
        box-shadow: -7px 2px 8px rgba(0, 0, 0, 0.1) !important;
        background-color: #fff;
    }

        #sidebar .iw a {
            width: 100%;
            font-weight: 600;
            color: #6b6f82;
            letter-spacing: 1.2px;
            font-size: 26px;
            padding: 2px 0;
        }

.brand-logo img {
    margin-left: 15px;
    width: 40px;
}

.brand-text {
    margin-left: 18px;
}

#content {
    width: 100%;
    transition: all 0.3s;
    overflow-y: auto;
    max-height: 100vh;
}

#content_nav {
    transition: all 0.3s;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.15) !important;
}

.l7 {
    left: 70px;
}

.l26 {
    left: 260px !important;
}

#content_nav {
    background-color: #fff;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #00b0f0;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
    background-image: linear-gradient(to right,#00b0f0 60%,#0070c0 100%);
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-4px, 2px);
    width: 15px;
}

.change .bar2 {
    opacity: 1;
    transform: rotate(0deg) translate(0px, -1px);
    -webkit-transform: rotate(0deg) translate(0px, -1px);
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -3px);
    transform: rotate(45deg) translate(-5px, -3px);
    width: 15px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
}

    .card.bg-primary, .card.bg-success, .card.bg-info, .card.bg-warning, .card.bg-danger {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

.card-block {
    padding: 1rem;
}

.card-title {
    padding-bottom: .25rem;
    margin-bottom: 1rem;
}

.card-subtitle {
    margin-top: -.75rem;
    padding-bottom: .5rem;
}

.card-title-btn-container {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    list-style: none;
}

.card-footer {
    background: #f7f7f7;
    border-top: 1px solid #dfdfdf;
    margin: -1rem !important;
    margin-top: 1rem !important;
}

.card-header {
    padding: .75rem 1.25rem;
}

.bg-default .card-header {
    background: #f7f7f7;
    border-bottom: 1px solid #dfdfdf;
}

.card-header-tabs .nav-link:hover,
.card-header-pills .nav-link:hover {
    background-color: #ffffff;
    border-color: #dfdfdf;
    color: #495057;
}

.card-header-tabs .nav-link:hover {
    border-bottom: 1px solid #ffffff;
}

.card-header-tabs .active {
    background: #ffffff !important;
    border-color: #dfdfdf !important;
    border-bottom-color: #ffffff !important;
    color: #444444 !important;
}

.alert {
    color: #ffffff;
}

    .alert a {
        color: #ffffff !important;
    }

.no-left-margin {
    margin-left: 0;
}

.page-header {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0rem;
    margin-bottom: .8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dfdfdf;
    height: auto;
}

    .page-header h1 {
        display: inline;
        border: none;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 0;
        width: 100%;
    }

.profile-photo {
    border-radius: 499rem;
    float: left;
}

.username {
    float: left;
    text-align: left;
    margin: 0 0 0 1rem;
}

    .username h1, .username h2, .username h3, .username h4 {
        margin-bottom: 0;
        text-transform: none !important;
        letter-spacing: 0 !important;
    }

.user-dropdown .dropdown-toggle::after {
    margin-top: 1rem;
    margin-left: 1rem;
}

.user-progress {
    margin-top: 1rem;
}

    .user-progress .profile-photo {
        max-height: 75px;
        max-width: 75px !important;
    }

.progress-custom {
    margin-top: .25rem;
    background-color: #f7f7f7;
    padding: 0;
    height: 6px;
}

.progress-label {
    text-align: center !important;
    color: #7376df;
    font-size: .75rem;
    margin-top: -.25rem;
}

.progress-bar {
    height: 6px;
}

#calendar, .datepicker-inline {
    width: 100%;
    text-align: center;
}

    #calendar table {
        width: 100%;
    }

.datepicker-switch {
    font-size: 16px;
    height: 46px !important;
}

.datepicker table tr td.old, .datepicker table tr td.new {
    color: #dfdfdf;
}

.datepicker table tr td {
    padding: 2px 2px !important;
    cursor: pointer;
    border-radius: .3rem;
}

#calendar th {
    text-align: center !important;
    cursor: pointer;
    border-radius: .3rem;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: #ffffff;
    background-color: #7376df;
    text-shadow: none;
    border-color: #285e8e;
}

.datepicker table tr td span:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
    background-color: #f7f7f7;
}

.panel-heading .glyphicon {
    margin-right: 10px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #dfdfdf;
        left: 25px;
        margin-right: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before, .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: calc( 100% - 65px );
            float: right;
            border: 1px solid #dfdfdf;
            border-radius: .3rem;
            padding: 10px 20px;
            position: relative;
            box-shadow: none;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                left: -11px;
                display: inline-block;
                border-top: 11px solid transparent;
                border-right: 11px solid #dfdfdf;
                border-left: 0 solid #dfdfdf;
                border-bottom: 11px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                left: -10px;
                display: inline-block;
                border-top: 10px solid transparent;
                border-right: 10px solid #ffffff;
                border-left: 0 solid #ffffff;
                border-bottom: 10px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #444444;
            width: 46px;
            height: 46px;
            line-height: 2.8rem;
            font-size: 1.4rem;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 0px;
            margin-right: -25px;
            margin-left: 3px;
            border: 1px solid #dfdfdf;
            background-color: #ffffff;
            z-index: 100;
            border-radius: 499rem;
        }

.timeline-badge.primary {
    background-color: #7376df !important;
    color: #ffffff !important;
    border: none !important;
}

.timeline-badge.success {
    background-color: #8ad919 !important;
}

.timeline-badge.warning {
    background-color: #ffb53e !important;
}

.timeline-badge.danger {
    background-color: #f9243f !important;
}

.timeline-badge.info {
    background-color: #30a5ff !important;
}

.article {
    padding: 1rem 0;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 1rem;
}

    .article:first-child {
        padding: 0 0 10px 0;
    }

    .article:last-child {
        padding: 0 0 10px 0;
        border: none;
        margin-bottom: 0;
    }

    .article h4 a {
        margin-bottom: 10px;
    }

    .article .date {
        text-align: center;
        font-size: 1.8rem;
        margin: 0 auto;
        display: block;
    }

        .article .date .text-muted {
            font-size: .8rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }

.todo-list-item {
    list-style: none;
    padding: 0.5rem 1rem .15rem 1.25rem;
    border-radius: .3rem;
}

    .todo-list-item .fa {
        margin: 0 .25rem 0 0;
        color: #444444;
    }

        .todo-list-item .fa:hover {
            color: #7376df;
        }

    .todo-list-item input[type=checkbox] {
        margin: 0 0.5rem 0 0 !important;
        border: 1px solid #444444;
    }

.todo-list {
    padding: 0;
    margin: -15px;
    background: #ffffff;
    color: #444444;
}

#btn-todo {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: #a0a0a0;
}

.todo-list-item:hover, a.todo-list-item:focus {
    text-decoration: none;
}

.todo-list-item .trash .fa:hover {
    color: #ef4040;
}

.todo-list-footer {
    margin: -20px;
    margin-top: 2rem;
}

    .todo-list-footer .btn {
        border-radius: .3rem;
    }

/*Font Awesome List*/
ul.font-awesome-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.font-awesome-list li {
        border: 1px solid #dfdfdf;
        float: left;
        width: 20%;
        height: auto;
        text-align: center;
    }

        ul.font-awesome-list li i {
            display: block;
            font-size: 32px;
            margin: 20px auto;
        }

        ul.font-awesome-list li span.icon-name, ul.font-awesome-list li .glyphicon-class {
            color: #7376df;
            font-size: .8rem;
            white-space: nowrap;
            font-weight: bold;
        }

        ul.font-awesome-list li span.icon-value {
            display: block;
            color: #7c7c7c;
            font-size: .7rem;
            margin-bottom: 15px;
        }

@media screen and (max-width: 1180px) {
    ul.font-awesome-list li {
        width: 25%;
    }
}

@media screen and (max-width: 1024px) {
    ul.font-awesome-list li {
        width: 33.3%;
    }
}

@media screen and (max-width: 768px) {
    ul.font-awesome-list li {
        width: 50%;
    }
}
/*Forms*/
.form-control {
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    box-shadow: none;
}

input.form-control {
    height: calc(2.25rem + 2px);
}

.bootstrap-table input.form-control {
    height: 34px;
}

.input-group-btn .btn {
    height: 46px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f7f7f7;
    color: #7c7c7c;
}

.form-control:focus {
    outline: 0;
    background-color: #ffffff;
    color: #444444;
}

.help-block {
    font-size: .9rem;
    color: #7c7c7c;
}

.custom-select, .custom-select.form-control {
    height: 46px !important;
    background-color: #ffffff;
    border-color: #dfdfdf;
    color: #444444;
}

/*Tables*/
.dataTables_info, .dataTables_paginate {
    margin-top: 1rem !important;
}

.page-item.active .page-link {
    color: #ffffff !important;
}

.page-item .page-link {
    outline: none !important;
    color: #444444 !important;
}

.dataTables_wrapper {
    padding: 0;
}

table, td, tr, th, thead {
    border-color: #dfdfdf00;
}

/*Login Page*/
.login-page {
    background: #f7f7f7;
}

    .login-page .login-panel .btn {
        display: block;
        width: 100%;
    }

/*Error Page*/
.error-page {
    background: #f7f7f7;
}

    .error-page h1 {
        font-size: 4rem;
    }


/*************************************changes made by mb********************************************/


/****************************metadata nav tabs starts*********************

#createReport #menuTabs .nav-link {
    border-radius: 25px;
    background-color: #bcbebf;
    color: #ffffff;
    text-align: left;
    /* border-right: 3px solid #80808000; */
/* min-width: 100px; *
    position: relative;
    padding: 6px 6px 6px 2px;
    margin-right: 4px;
}

#createReport #menuTabs .nav-link span {
    background-color: #909090;
    padding: 5px 8px;
    border-radius: 50%;
    margin-right: 2px;
}


#createReport #menuTabs a spann {
    background-color: #fbd47a;
    padding: 5px;
}

#createReport #menuTabs .nav-link:hover {
    background-color: #fbd47aab;
}
#createReport #metadata ul {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
#metadata {
    overflow-x: auto;
}
#createReport #metadata ul li .active {
    background-color: #fbd47a;
    color: #343538;
}

/*****************************metadata nav tabs end*************************/

#createReport .configure-nav-main {
    margin: 5px 0;
    background-color: #33b5e5;
    padding: 7px 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23) !important;
}

    #createReport .configure-nav-main ul {
        /*box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.15);*/
        background: #33b5e500 !important;
        /*text-transform: uppercase;*/
        padding: 0;
        font-size: 0;
        text-align: justify;
        border-radius: 0px;
        overflow: hidden;
    }

        #createReport .configure-nav-main ul:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

    #createReport .configure-nav-main li {
        font-size: 16px;
        display: inline-block;
        margin-bottom: -2px;
    }

    #createReport .configure-nav-main .configure-menu {
        display: none;
    }

    #createReport .configure-nav-main li .active {
        /*background-color: #00b0f0;*/
        background-color: rgba(255, 255, 255, 0.23);
        color: #33b5e5;
        border: none;
        border-radius: 0;
    }

    #createReport .configure-nav-main a {
        text-decoration: none;
        display: block;
        padding: 10px 10px;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

        #createReport .configure-nav-main a:link {
            color: white;
        }

        #createReport .configure-nav-main a:visited {
            color: white;
        }

        #createReport .configure-nav-main a:hover {
            background: #ffffff12;
        }

        #createReport .configure-nav-main a:before {
            padding-right: .5em;
        }

.sky-gradient {
    background: -webkit-gradient(linear,left top,right top,from(#00b0f0),to(#0070c078));
    background: -webkit-linear-gradient(left,#00b0f0 0,#0070c078 100%);
    background: -o-linear-gradient(left,#00b0f0 0,#0070c078 100%);
    background: linear-gradient(to right,#00b0f0 0,#0070c078 100%);
}

@media (max-width: 767px) {
    #createReport .configure-nav-main ul {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }

        #createReport .configure-nav-main ul:hover li {
            display: block;
        }

    #createReport .configure-nav-main li {
        display: none;
    }

    #createReport .configure-nav-main .configure-menu {
        display: block;
        position: relative;
    }

    #createReport .configure-nav-main a {
        padding: .5em 1em;
    }
}







.metadata-content {
    width: 100%;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.names, .names-w {
    padding: 8px 5px 1px 7px !important;
    margin-left: 0px;
    position: relative;
    color: #009fa1;
    font-weight: 500;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-right: 0;
    background-color: white;
}

    .names:last-child {
        /*box-shadow: -12px 14px 44px rgba(0, 0, 0, 0.11) !important;*/
    }

.names-w {
    color: #495057 !important;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.10) !important;
    border: 1px solid #efefef;
    padding: 5px 5px 3px 7px;
}

.names:before {
    content: '';
    position: relative;
    border-bottom: 0px solid #6b6f82;
    left: -5px;
    width: 3px;
    top: 0px;
    z-index: 0;
    border-left: 1px dashed #6b6f82;
}

.names:after {
    content: '';
    position: relative;
    left: -100%;
    z-index: 0;
    height: 10px;
    width: 10px;
    background-color: #343a40;
    border-radius: 50%;
    /* border-left: 9px solid transparent; */
    /* border-top: 8px solid black; */
    top: 18px;
}

.card-class-c {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23) !important;
    background-color: #fff;
}

.names:first-child:before {
    border-left: 1px dashed #6b6f82;
}

.names:first-child:after {
    background-color: #343a40;
}

.names:nth-child(2):after {
    background-color: #fdd4d6;
}

.names:nth-child(3):after {
    background-color: #ffcf98;
}

.names:nth-child(4):after {
    background-color: #befcc5;
}

.names:nth-child(5):after {
    background-color: #a2d4f9;
}

.names:nth-child(6):after {
    background-color: #dd9eff;
}

.names:nth-child(7):after {
    background-color: #9c7eff;
}

.names:nth-child(8):after {
    background-color: #fdd4d6;
}

.names:nth-child(9):after {
    background-color: #ffcf98;
}

.names:nth-child(10):after {
    background-color: #befcc5;
}

.names:nth-child(11):after {
    background-color: #a2d4f9;
}

.names:nth-child(12):after {
    background-color: #dd9eff;
}

.names:nth-child(13):after {
    background-color: #9c7eff;
}

.names:nth-child(14):after {
    background-color: #fdd4d6;
}

.names:nth-child(15):after {
    background-color: #ffcf98;
}

.names:nth-child(16):after {
    background-color: #befcc5;
}

.names:nth-child(17):after {
    background-color: #a2d4f9;
}

.names:nth-child(18):after {
    background-color: #dd9eff;
}

.names:nth-child(19):after {
    background-color: #9c7eff;
}

.names:nth-child(20):after {
    background-color: #fdd4d6;
}

.names:nth-child(21):after {
    background-color: #ffcf98;
}

.names:nth-child(22):after {
    background-color: #befcc5;
}

.names:nth-child(23):after {
    background-color: #a2d4f9;
}

.names:nth-child(24):after {
    background-color: #dd9eff;
}

.names:nth-child(25):after {
    background-color: #9c7eff;
}

.names:nth-child(26):after {
    background-color: #fdd4d6;
}

.names:nth-child(27):after {
    background-color: #ffcf98;
}

.names:nth-child(28):after {
    background-color: #befcc5;
}

.names:nth-child(29):after {
    background-color: #a2d4f9;
}

.names:nth-child(30):after {
    background-color: #9c7eff;
}

.names:nth-child(2) {
    padding-left: 10px;
}

    .names:nth-child(2) .collapse-btn2 {
        background-color: #ffcf98;
    }

    .names:nth-child(2) .allvalues {
        border-color: #ffcf98;
    }

        .names:nth-child(2) .allvalues:before {
            border-right: 10px solid #ffcf98;
        }

.names:nth-child(3) {
    padding-left: 20px;
}

    .names:nth-child(3) .collapse-btn2 {
        background-color: #befcc5;
    }

    .names:nth-child(3) .allvalues {
        border-color: #befcc5;
    }

        .names:nth-child(3) .allvalues:before {
            border-right: 10px solid #befcc5;
        }

.names:nth-child(4) {
    padding-left: 30px;
}

    .names:nth-child(4) .collapse-btn2 {
        background-color: #a2d4f9;
    }

    .names:nth-child(4) .allvalues {
        border-color: #a2d4f9;
    }

        .names:nth-child(4) .allvalues:before {
            border-right: 10px solid #a2d4f9;
        }

.names:nth-child(5) {
    padding-left: 40px;
}

    .names:nth-child(5) .collapse-btn2 {
        background-color: #dd9eff;
    }

    .names:nth-child(5) .allvalues {
        border-color: #dd9eff;
    }

        .names:nth-child(5) .allvalues:before {
            border-right: 10px solid #dd9eff;
        }

.names:nth-child(6) {
    padding-left: 50px;
}

    .names:nth-child(6) .collapse-btn2 {
        background-color: #9c7eff;
    }

    .names:nth-child(6) .allvalues {
        background-color: #9c7eff;
    }

        .names:nth-child(6) .allvalues:before {
            border-right: 10px solid #9c7eff;
        }

.names:nth-child(7) {
    padding-left: 60px;
}

    .names:nth-child(7) .collapse-btn2 {
    }

    .names:nth-child(7) .allvalues {
    }

        .names:nth-child(7) .allvalues:before {
        }

.names:nth-child(8) {
    padding-left: 70px;
}

    .names:nth-child(8) .collapse-btn2 {
        background-color: #ffcf98;
    }

    .names:nth-child(8) .allvalues {
        background-color: #ffcf98;
    }

        .names:nth-child(8) .allvalues:before {
            border-right: 10px solid #ffcf98;
        }

.names:nth-child(9) {
    padding-left: 80px;
}

    .names:nth-child(9) .collapse-btn2 {
        background-color: #befcc5;
    }

    .names:nth-child(9) .allvalues {
        background-color: #befcc5;
    }

        .names:nth-child(9) .allvalues:before {
            border-right: 10px solid #befcc5;
        }

.names:nth-child(10) {
    padding-left: 90px;
}

    .names:nth-child(10) .collapse-btn2 {
        background-color: #a2d4f9;
    }

    .names:nth-child(10) .allvalues {
        background-color: #a2d4f9;
    }

        .names:nth-child(10) .allvalues:before {
            border-right: 10px solid #a2d4f9;
        }

.names:nth-child(11) {
    padding-left: 100px;
}

    .names:nth-child(11) .collapse-btn2 {
        background-color: #dd9eff;
    }

    .names:nth-child(11) .allvalues {
        background-color: #dd9eff;
    }

        .names:nth-child(11) .allvalues:before {
            border-right: 10px solid #dd9eff;
        }

.names:nth-child(12) {
    padding-left: 110px;
}

    .names:nth-child(12) .collapse-btn2 {
        background-color: #9c7eff;
    }

    .names:nth-child(12) .allvalues {
        background-color: #9c7eff;
    }

        .names:nth-child(12) .allvalues:before {
            border-right: 10px solid #9c7eff;
        }

.names:nth-child(13) {
    padding-left: 120px;
}

    .names:nth-child(13) .collapse-btn2 {
    }

    .names:nth-child(13) .allvalues {
    }

        .names:nth-child(13) .allvalues:before {
        }

.names:nth-child(14) {
    padding-left: 130px;
}

    .names:nth-child(14) .collapse-btn2 {
        background-color: #ffcf98;
    }

    .names:nth-child(14) .allvalues {
        background-color: #ffcf98;
    }

        .names:nth-child(14) .allvalues:before {
            border-right: 10px solid #ffcf98;
        }

.names:nth-child(15) {
    padding-left: 140px;
}

    .names:nth-child(15) .collapse-btn2 {
        background-color: #befcc5;
    }

    .names:nth-child(15) .allvalues {
        background-color: #befcc5;
    }

        .names:nth-child(15) .allvalues:before {
            border-right: 10px solid #befcc5;
        }

.names:nth-child(16) {
    padding-left: 150px;
}

    .names:nth-child(16) .collapse-btn2 {
        background-color: #a2d4f9;
    }

    .names:nth-child(16) .allvalues {
        background-color: #a2d4f9;
    }

        .names:nth-child(16) .allvalues:before {
            border-right: 10px solid #a2d4f9;
        }

.names:nth-child(17) {
    padding-left: 160px;
}

    .names:nth-child(17) .collapse-btn2 {
        background-color: #dd9eff;
    }

    .names:nth-child(17) .allvalues {
        background-color: #dd9eff;
    }

        .names:nth-child(17) .allvalues:before {
            border-right: 10px solid #dd9eff;
        }

.names:nth-child(18) {
    padding-left: 170px;
}

    .names:nth-child(18) .collapse-btn2 {
        background-color: #9c7eff;
    }

    .names:nth-child(18) .allvalues {
        background-color: #9c7eff;
    }

        .names:nth-child(18) .allvalues:before {
            border-right: 10px solid #9c7eff;
        }

.names:nth-child(19) {
    padding-left: 180px;
}

    .names:nth-child(19) .collapse-btn2 {
    }

    .names:nth-child(19) .allvalues {
    }

        .names:nth-child(19) .allvalues:before {
        }

.names:nth-child(20) {
    padding-left: 190px;
}

    .names:nth-child(20) .collapse-btn2 {
        background-color: #ffcf98;
    }

    .names:nth-child(20) .allvalues {
        background-color: #ffcf98;
    }

        .names:nth-child(20) .allvalues:before {
            border-right: 10px solid #ffcf98;
        }

.names:nth-child(21) {
    padding-left: 200px;
}

    .names:nth-child(21) .collapse-btn2 {
        background-color: #befcc5;
    }

    .names:nth-child(21) .allvalues {
        background-color: #befcc5;
    }

        .names:nth-child(21) .allvalues:before {
            border-right: 10px solid #befcc5;
        }

.names:nth-child(22) {
    padding-left: 210px;
}

    .names:nth-child(22) .collapse-btn2 {
        background-color: #a2d4f9;
    }

    .names:nth-child(22) .allvalues {
        background-color: #a2d4f9;
    }

        .names:nth-child(22) .allvalues:before {
            border-right: 10px solid #a2d4f9;
        }

.names:nth-child(23) {
    padding-left: 220px;
}

    .names:nth-child(23) .collapse-btn2 {
        background-color: #dd9eff;
    }

    .names:nth-child(23) .allvalues {
        background-color: #dd9eff;
    }

        .names:nth-child(23) .allvalues:before {
            border-right: 10px solid #dd9eff;
        }

.names:nth-child(24) {
    padding-left: 230px;
}

    .names:nth-child(24) .collapse-btn2 {
        background-color: #9c7eff;
    }

    .names:nth-child(24) .allvalues {
        background-color: #9c7eff;
    }

        .names:nth-child(24) .allvalues:before {
            border-right: 10px solid #9c7eff;
        }

.names:nth-child(25) {
    padding-left: 240px;
}

    .names:nth-child(25) .collapse-btn2 {
    }

    .names:nth-child(25) .allvalues {
    }

        .names:nth-child(25) .allvalues:before {
        }

.names:nth-child(26) {
    padding-left: 250px;
}

    .names:nth-child(26) .collapse-btn2 {
        background-color: #ffcf98;
    }

    .names:nth-child(26) .allvalues {
        background-color: #ffcf98;
    }

        .names:nth-child(26) .allvalues:before {
            border-right: 10px solid #ffcf98;
        }

.names:nth-child(27) {
    padding-left: 260px;
}

    .names:nth-child(27) .collapse-btn2 {
        background-color: #befcc5;
    }

    .names:nth-child(27) .allvalues {
        background-color: #befcc5;
    }

        .names:nth-child(27) .allvalues:before {
            border-right: 10px solid #befcc5;
        }

.names:nth-child(28) {
    padding-left: 270px;
}

    .names:nth-child(28) .collapse-btn2 {
        background-color: #a2d4f9;
    }

    .names:nth-child(28) .allvalues {
        background-color: #a2d4f9;
    }

        .names:nth-child(28) .allvalues:before {
            border-right: 10px solid #a2d4f9;
        }

.names:nth-child(29) {
    padding-left: 280px;
}

    .names:nth-child(29) .collapse-btn2 {
        background-color: #dd9eff;
    }

    .names:nth-child(29) .allvalues {
        background-color: #dd9eff;
    }

        .names:nth-child(29) .allvalues:before {
            border-right: 10px solid #dd9eff;
        }

.names:nth-child(30) {
    padding-left: 290px;
}

    .names:nth-child(30) .collapse-btn2 {
        background-color: #9c7eff;
    }

    .names:nth-child(30) .allvalues {
        background-color: #9c7eff;
    }

        .names:nth-child(30) .allvalues:before {
            border-right: 10px solid #9c7eff;
        }

.names .collapse-btn2 {
    background-color: #dfdfdf !important;
    min-width: 150px;
    color: #6B6F82;
    border-radius: 0px;
    box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #6b6f820f;
}

    .names .collapse-btn2 .btn-link:hover, .names .collapse-btn2 .btn-link:focus {
        text-decoration: none;
        color: #343a40 !important;
    }
/*.names .collapse-btn2:before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #6b6f82;
    left: 10px;
    width: 10px;
    top: -20px;
    z-index: 0;
    height: 30px;
    border-left: 1px solid #6b6f82;
}*/
.names:first-child .collapse-btn2:before {
    content: '';
    position: absolute;
    border-bottom: 0px solid #6b6f82;
    border-left: 0px solid #6b6f82;
}

.allvalues {
    /* margin-left: 10px; */
    padding: 2px 0px;
    background-color: #ffffff;
    box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.2) !important;
    border: 2px solid #fdd4d6;
    border-top: 0px;
}
    /*.allvalues:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: -4px;
    z-index: 0;
    border-right: 10px solid #fdd4d6;
    border-top: 9px solid transparent;
    border-bottom: 8px solid transparent;
}*/
    .allvalues .btn-sm {
        font-size: .65rem;
        padding: 0px 2px;
        font-weight: 600;
    }

.names .add-btn {
    position: absolute;
    float: right;
    right: 40px;
}

    .names .add-btn button {
        background-color: #1ab394;
        color: white;
        border-radius: 0;
        padding: 5px;
        margin-right: 10px;
    }

.values {
    position: relative;
    left: 50px !important;
    width: 100%;
    z-index: 1;
    margin-top: -3px;
    display: flex;
    overflow-x: auto;
}

.values-scroll {
    position: relative;
    width: 590px;
    overflow-x: auto;
    display: -webkit-inline-box;
    margin-left: 0px;
    border-left: 2px solid #dddddd;
    padding-left: 5px;
}

    .values-scroll p {
        margin-bottom: 5px;
    }

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-70 {
    width: 70%;
}

.card, card-body {
    background-color: transparent !important;
}

.h-tabs {
    display: -webkit-inline-box;
    overflow-x: auto;
}

    .h-tabs .nav-item:hover {
        background-color: #fff0 !important;
    }

.meta_tabs {
    overflow-x: auto;
}

.well_custom {
    /* background-color: white !important;
    -webkit-box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);*/
    margin: 0 5px;
    min-width: 150px;
}

    .well_custom a {
        /*background-color: #00E092 !important;*/
        background-color: #417ea5 !important;
        color: #fff;
        padding: 10px 10px;
        border-radius: 30px !important;
        white-space: nowrap !important;
        transition: all 0.5s;
        box-shadow: 2px 5px 12px 0px rgba(0,0,0,.1) !important;
    }

        .well_custom a:hover, .well_custom .active {
            background-color: #ffffff !important;
            color: #42e192 !important;
            transition: all 0.5s;
            box-shadow: 2px 5px 12px 0px rgba(0,0,0,.2) !important;
            margin-top: -5px;
        }

        .well_custom a span {
            padding: 5px 10px;
            background-color: #ffffff;
            color: #00e092;
            border-radius: 50%;
            margin: 0 5px 0 0;
            font-weight: 600;
            box-shadow: 1px 4px 10px 0px rgba(0,0,0,.1) !important;
            transition: all 0.5s;
        }

        .well_custom a:hover span, .well_custom .active span {
            background-color: #00e092;
            color: #fff;
            transition: all 0.5s;
        }

    .well_custom:nth-child(2) a, .well_custom:nth-child(8) a {
        background-color: #417ea5 !important;
    }

        .well_custom:nth-child(2) a:hover, .well_custom:nth-child(8) a:hover,
        .well_custom:nth-child(2) .active, .well_custom:nth-child(8) .active {
            background-color: #fff !important;
            color: #417ea5 !important;
        }

        .well_custom:nth-child(2) a span, .well_custom:nth-child(8) a span {
            background-color: #fff !important;
            color: #417ea5 !important;
        }

        .well_custom:nth-child(2) a:hover span, .well_custom:nth-child(8) a:hover span,
        .well_custom:nth-child(2) .active span, .well_custom:nth-child(8) .active span {
            background-color: #417ea5 !important;
            color: #fff !important;
        }



/*.well_custom:hover {

    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);
    box-shadow: 0 14px 24px rgba(62,57,107,.2) !important;
    z-index: 999;
}*/

.tooltiptext {
    position: absolute;
    display: none;
    padding: 10px 10px;
    background: thistle;
    border-radius: 5px;
    box-shadow: 0px 3px 12px 0px #495057;
}

    .tooltiptext::after {
        content: "";
    }


.fade:not(.show) {
    display: none !important;
}

.lspacing-0 {
    letter-spacing: 0rem !important;
}

.add-modal-lables h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}

.field {
    display: block;
    flex-flow: column-reverse;
    font-size: 14px !important;
    margin-bottom: 1em;
}

    .field label, .field input, .field select, .field ng-multiselect-dropdown {
        transition: all 0.2s;
        touch-action: manipulation;
    }

    .field input, .field select, .field ng-multiselect-dropdown {
        border: 0;
        border-bottom: 1px solid #ccc;
        font-family: inherit;
        -webkit-appearance: none;
        border-radius: 0;
        padding: 0;
        cursor: text;
    }

        .field input:focus, .field select:focus, .field ng-multiselect-dropdown:focus {
            outline: 0;
            border-bottom: 1px solid #2C303B;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
        }

    .field .multiselect-dropdown .dropdown-btn {
        border-bottom: 1px solid #ccc !important;
        margin-top: 3px !important;
        padding: 6px 0px !important;
        border-radius: 0 !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
    }

        .field .multiselect-dropdown .dropdown-btn .dropdown-down {
            display: inline-block;
            top: 10px;
            width: 0;
            height: 0;
            border-top: 10px solid #adadad00 !important;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        .field .multiselect-dropdown .dropdown-btn .dropdown-up {
            display: inline-block;
            width: 0;
            height: 0;
            border-bottom: 10px solid #adadad00 !important;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        .field .multiselect-dropdown .dropdown-btn .selected-item {
            border: 1px solid #0ea585 !important;
            background: #0ea585 !important;
            border-radius: 0px !important;
        }

    .field .form-control {
        font-size: 14px !important;
    }

    .field label {
        text-transform: capitalize;
        margin-bottom: 2px;
        color: #00BCD4;
        font-weight: 500;
    }

.line-on-side {
    border-top: 1px solid #041522;
    line-height: .1em;
    margin: 10px 0 20px;
}

    .line-on-side span {
        background: #cecece;
        padding: 0 10px;
        color: #041522;
    }

.field input:placeholder-shown + label, .field select:placeholder-shown + label, .field ng-multiselect-dropdown:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, -1.50rem) scale(1.5);
    position: absolute;
    z-index: -1;
}

.field::-webkit-input-placeholder, .field::-webkit-select-placeholder, .field::-webkit-ng-multiselect-dropdown-placeholder {
    opacity: 0;
    transition: inherit;
}

.field input:focus::-webkit-input-placeholder {
    opacity: 1;
}

.field input:not(:placeholder-shown) + label, .field select:not(:placeholder-shown) + label, .field ng-multiselect-dropdown:not(:placeholder-shown) + label {
    cursor: pointer;
    transform: translate(0, -3.5rem) scale(1);
}

.modal-title {
    padding: 20px 0px;
    background-color: #80808063;
    margin-bottom: 15px;
}

.modal-content-pt {
    padding: 35px 30px 0px;
}

.multiselect-item-checkbox[_ngcontent-c1] input[type=checkbox][_ngcontent-c1] + div[_ngcontent-c1]:after {
    top: 30% !important;
    left: 4px !important;
    width: 12px !important;
    height: 5px !important;
    margin-top: -4px !important;
    border-style: solid !important;
    border-color: #4CAF50 !important;
    border-width: 0 0 2px 2px !important;
}

.multiselect-item-checkbox[_ngcontent-c1] input[type=checkbox][_ngcontent-c1] + div[_ngcontent-c1]:before {
    top: 50% !important;
    left: 0 !important;
    width: 14px !important;
    height: 14px !important;
    margin-top: -9px !important;
    border: 1px solid #FFC107 !important;
    border-radius: 50% !important;
}

.multiselect-item-checkbox[_ngcontent-c1] input[type=checkbox][_ngcontent-c1]:checked + div[_ngcontent-c1]:before {
    -webkit-animation: .2s ease-in borderscale;
    animation: .2s ease-in borderscale;
    background: #ffffff !important;
}


#hidepageoverlay {
    display: block;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
}

    #hidepageoverlay img {
        top: calc(50% - 70px);
        position: absolute;
        left: calc(50% - 50px);
    }

.submenu-li, .submenu1-li {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.submenu, .submenu1 {
    position: relative;
    display: inline-block;
}

.submenu-content li, .submenu1-content li {
    list-style: none;
}

.submenu-content a, .submenu-content a {
    color: darkgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.submenu-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 220px;
    z-index: 2;
    position: absolute;
    left: 97%;
    top: 0;
    background-color: #ffffff;
    transition: all 0.5s;
    border-top: 2px solid darkgrey;
    color: darkgrey;
}

.submenu1-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 200%;
    z-index: 2;
    position: absolute;
    left: 97%;
    top: 0;
    background-color: #ffffff;
    transition: all 0.5s;
    border-bottom: 2px solid darkgrey;
    color: darkgrey;
}

.submenu:hover .submenu-content, .submenu1:hover .submenu1-content {
    display: block;
}

.submenu1-li:active {
    background-color: #417ea5 !important;
}

.sub-nav {
    background-color: #fff !important;
}

.nav-item:hover {
    background-color: #fff !important;
}

.nav-item:active {
    background-color: #fff !important;
}


.nav-link:hover, .sidebar-nav a.active {
    background-color: #417ea5;
    color: white;
}

#hidepageoverlay img {
    /***height / 2 should be minus from top calculation**/
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    position: relative;
    height: 200px;
    width: 200px;
}

.alert-sm, .alert-sm .close {
    padding: .15rem 1.25rem !important;
    border-left: 5px solid #b8daff !important;
    border-right: 5px solid #b8daff !important;
    background-color: transparent !important;
    color: grey !important;
    border-radius: 1rem !important;
}

.form-control-danger {
    border: 1px solid #dc3545;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #dc3545;
}

.custom-control-label-danger::before {
    box-shadow: 0 0 5px 2px #dc3545 !important;
}

.ng-hide {
    display: none !important;
}

.list-group-custom li:first-child {
    border-bottom: 1px solid #dee2e6 !important;
}

.list-group-custom li {
    border: none !important;
}

#nav_toggle {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#sideNav.hide {
    left: calc((100%/12)*(-2));
    width: calc((100%/12)*(1));
    transition: .5s;
    padding: 0px 30px 0px 0px;
    background-color: transparent;
}

#sideNav.show {
    left: 0px;
    width: calc((100%/15)*(1));
    transition: .5s;
    padding: 0px 30px 0px 0px;
    background-color: transparent;
}

.rotate_icon {
    transform: rotate(50deg);
    transition: ease 0.5s;
    color: #4e4b4b;
}

/* Xtra Small devices (landscape phones, 576px and less)*/
@media (min-width: 250px) {
    .filterMenuOpen {
        color: #0055a5;
        width: 80% !important;
        position: fixed;
        bottom: 0%;
        right: 0px;
        height: 100%;
        transition: .5s;
        width: 20%;
        padding: 130px 0px;
        background-color: #ffffff;
        box-shadow: -5px 0px 20px 0px #0000001f;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .filterMenuOpen {
        color: #0055a5;
        width: 60% !important;
        position: fixed;
        bottom: 0%;
        right: 0px;
        height: 100%;
        transition: .5s;
        width: 20%;
        padding: 130px 0px;
        background-color: #ffffff;
        box-shadow: -5px 0px 20px 0px #0000001f;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .filterMenuOpen {
        color: #0055a5;
        width: 40% !important;
        position: fixed;
        bottom: 0%;
        right: 0px;
        height: 100%;
        transition: .5s;
        width: 20%;
        padding: 130px 0px;
        background-color: #ffffff;
        box-shadow: -5px 0px 20px 0px #0000001f;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .filterMenuOpen {
        color: #0055a5;
        width: 20% !important;
        position: fixed;
        bottom: 0%;
        right: 0px;
        height: 100%;
        transition: .5s;
        width: 20%;
        padding: 130px 0px;
        background-color: #ffffff;
        box-shadow: -5px 0px 20px 0px #0000001f;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .filterMenuOpen {
        color: #0055a5;
        width: 20% !important;
        position: fixed;
        bottom: 0%;
        right: 0px;
        height: 100%;
        transition: .5s;
        width: 20%;
        padding: 130px 0px;
        background-color: #ffffff;
        box-shadow: -5px 0px 20px 0px #0000001f;
    }
}

.activeCountry {
    margin-bottom: 0px;
    padding: 0px;
    cursor: pointer;
    border-left: 5px solid;
    border-color: #ffffff00;
}

.progress-title {
    font-size: 16px;
    font-weight: 700;
    color: #5a5a5a;
    margin: 0 0 5px;
}

.progress {
    height: 3px;
    line-height: 11px;
    background: #efefef;
    border-radius: 0;
    margin-bottom: 15px;
    padding: 1px;
    box-shadow: none;
    overflow: visible;
}

    .progress:last-child {
        margin-bottom: 0;
    }

    .progress .progress-bar2 {
        position: relative;
        animation: animate-positive 4s;
    }

    .progress .progress-bar2 {
        height: 2px;
        border-radius: 25px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2) !important;
    }

        .progress .progress-bar2:after {
            content: "\f0da";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 22px;
            position: absolute;
            top: -5px;
            right: -4px;
        }

    .progress .progress-value {
        font-size: 13px;
        color: #ececec;
        border-radius: 12px;
        padding: 4px 7px;
        background: #4CAF50;
        position: absolute;
        top: -10px;
        right: -4px;
        z-index: 1;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2) !important;
    }

        .progress .progress-value:after {
            content: "";
            border: 5px solid transparent;
            border-top: 5px solid #29102b00;
            border-right: 5px solid #29102b00;
            position: absolute;
            bottom: -6px;
            right: 0px;
        }

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

#globe {
    width: 70%;
    transition: 0.4s;
}

.w0 {
    width: 0% !important;
    transition: 0.4s !important;
    border-left: none !important;
}

.w30 {
    width: 30% !important;
    transition: 0.4s;
}

.w70 {
    width: 70% !important;
    transition: 0.4s;
}

.w100 {
    width: 100% !important;
    transition: 0.4s;
}

#countries {
    /*width: 30%;*/
    /* overflow: auto; */
    /* transition: 0.4s; */
    /* max-height: 87vh; */
    margin-top: 15px;
}

#countriesCollapse {
    transition: all 0.8s;
    text-align: center;
    background-color: #6b6f82;
    color: white;
    height: 40px;
    line-height: 2.5;
}

.collapse-btn {
    position: relative;
    top: 0px;
    width: 40px;
    right: -17px;
    float: right;
}

.svg-indicators {
    float: right;
    position: relative;
    bottom: 0;
}

    .svg-indicators span {
        display: flow-root;
        font-size: 12px;
    }

#countries .table th, .table td {
    vertical-align: middle;
    padding: 0 10px;
    border-top: 1px solid #dee2e600 !important;
}

#countries .table tbody + tbody {
    border-top: 0px solid #dee2e661;
}

#countries .table-container {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23) !important;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 5px;
}

.activeCountry th img {
    width: 60px;
}

.header_title {
    width: 50px;
    position: relative;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    float: right;
    color: white;
    font-size: 25px;
    right: 10px;
    top: -10px;
}

#listOu {
    display: block;
}

#addOu {
    display: none;
}

.ou_label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.ou_card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .ou_card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #FF9800;
        box-shadow: 0px 5px 10px rgb(255, 152, 0, 0.3) !important;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 0px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .ou_card .back {
        background-color: #FF9800;
        box-shadow: 0px 5px 10px rgb(255, 152, 0, 0.3) !important;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

.ou_label :hover .ou_card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

.ou_label input {
    display: none;
}

:checked + .ou_card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.ou_label :hover :checked + .ou_card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}

.navbar-top-links .dropdown-user {
    right: -10px;
    left: auto;
    width: 250px;
    border-radius: 0;
    border-color: transparent;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25) !important;
}

    .navbar-top-links .dropdown-user .dw-user-box .u-text h4 {
        margin: 0px;
        line-height: 22px;
        font-size: 18px;
        font-weight: 600;
        color: #313131;
    }

    .navbar-top-links .dropdown-user .dw-user-box .u-text p {
        margin-bottom: 3px;
        line-height: 1.6;
    }

    .navbar-top-links .dropdown-user .dw-user-box {
        padding: 15px;
    }

.navbar-top-links .dropdown a {
    color: #6b6f82;
    background-color: #ffffff00;
    font-weight: 400;
}

.navbar-top-links .dropdown-user li a:hover {
    background-color: #ffffff00;
}

.navbar-top-links .dropdown a:hover, .navbar-top-links .dropdown a:active, .navbar-top-links .dropdown a:focus {
    color: #00b0f0;
}

.navbar-top-links .dropdown-user .dw-user-box .u-text button {
    background-color: #0070c0;
    border-color: transparent;
    color: white;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
    border-radius: 25px;
    padding: 3px 7px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.0) !important;
}

    .navbar-top-links .dropdown-user .dw-user-box .u-text button:hover, .navbar-top-links .dropdown-user .dw-user-box .u-text button:active {
        background-color: #00b0f0;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15) !important;
    }


.square {
    height: 20px;
    width: 20px;
    background-color: transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23) !important;
}

/** tree graph css start */
.d3treeScroll {
    /*cursor:grab;*/
    overflow-x: auto;
}

    .d3treeScroll:active {
        /*cursor: grabbing;*/
    }

    .d3treeScroll .node circle {
        /*fill: #04aded;*/
        stroke-width: 1px;
        cursor: pointer;
    }

    .d3treeScroll .node text {
        font: 12px;
    }

    .d3treeScroll .link {
        fill: none;
        stroke: #1ab394;
        stroke-width: 2px;
    }

#ouList .table th, .table td {
    padding: 0 !important;
    vertical-align: middle;
    border: none !important;
}

#ouList .activeCountry th img {
    width: 33px;
    padding: 0px;
    margin-bottom: 2px;
}

#metadataTabContentData {
    position: relative;
}

.salesOuList div {
    clear: both;
    overflow: hidden;
}

.salesOuList label {
    /* width: 100%; */
    border-radius: 0px;
    border: 1px solid #d8e0e6;
    font-weight: normal;
    padding-right: 5px;
}

.salesOuList input[type="checkbox"]:empty {
    display: none;
}

    .salesOuList input[type="checkbox"]:empty ~ label {
        position: relative;
        /* line-height: 2.5em; */
        text-indent: 1.8em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .salesOuList input[type="checkbox"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 1.5em;
            background: #D1D3D4;
            border-radius: 0px;
        }

.salesOuList input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.salesOuList input[type="checkbox"]:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: 00.4em;
    ;
    color: #C2C2C2;
}

.salesOuList input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: 00.4em;
    ;
    color: #888;
}

#salesOuList label {
    display: inline-block;
    margin-bottom: 0.1rem;
}

.salesOuList input[type="checkbox"]:checked ~ label {
    color: #777;
}

    .salesOuList input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: 00.4em;
        color: #333;
        background-color: #ccc;
        /* font-size: 14px; */
    }

.salesOuList input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}


.salesOuList-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

#salesOuList {
    background-color: #ffffff;
    z-index: 2;
    border-bottom: 1px solid #6b6f821f;
    padding: 5px 5px 0px 5px;
    margin-left: 10px;
}

.salesOuList {
    display: flex;
    flex-wrap: wrap;
}

#ouList {
    display: flex;
    position: absolute;
    background-color: #fff;
    z-index: 2;
    padding-right: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #6b6f821f;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}

    #ouList div {
        display: flex;
        padding-left: 5px;
        padding-right: 3px;
        align-items: center;
        font-size: 14px;
    }

        #ouList div i {
            padding-right: 5px;
        }

.data-bg {
    /*    background-image: url(../../Images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    z-index: 0; */
}

    .data-bg:before {
        /*   content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  */
    }
/** tree graph css end */
.hararchi {
    border-radius: 5px;
    /* border-radius: 499rem; */
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .75rem;
    padding: .6rem 1.15rem;
    cursor: pointer;
}

.asd {
    shape-outside: polygon(0 0, 0 250px, 400px 250px);
    width: 300px;
    height: 250px;
    float: left;
}

.dffg {
    display: list-item;
    list-style-position: inside;
    list-style: none;
    margin: 10px 0px;
}

    .dffg span {
        padding: 5px 10px;
        margin-bottom: 5px;
        border: 1px solid #1ab394;
        posi
    }

        .dffg span:before {
            content: '';
            margin-bottom: 5px;
            border: 1px solid #1ab394;
        }


#csstree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#csstree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

    /*We will use ::before and ::after to draw the connectors*/

    #csstree li::before, #csstree li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid #ccc;
        width: 50%;
        height: 20px;
    }

    #csstree li::after {
        right: auto;
        left: 50%;
        border-left: 1px solid #ccc;
    }

    /*We need to remove left-right connectors from elements without 
any siblings*/
    #csstree li:only-child::after, #csstree li:only-child::before {
        display: none;
    }

    /*Remove space from the top of single children*/
    #csstree li:only-child {
        padding-top: 0;
    }

    /*Remove left connector from first child and 
right connector from last child*/
    #csstree li:first-child::before, #csstree li:last-child::after {
        border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    #csstree li:last-child::before {
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }

    #csstree li:first-child::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
    }

/*Time to add downward connectors from parents*/
#csstree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

#csstree toggleable {
    /*display:inline-flex;*/
}

#csstree li div {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    position: relative;
}

    #csstree li div .add {
        padding: 2px 1px;
        background-color: #1ab394;
        border-radius: 21px;
        color: white;
        position: absolute;
        top: -10px;
        font-size: 18px;
        margin: 0;
        line-height: 0.5;
        right: -8px;
    }

    #csstree li div .remove {
        padding: 2px 3px;
        background-color: #ffa200;
        border-radius: 25px;
        color: white;
        position: absolute;
        top: -10px;
        font-size: 18px;
        margin: 0;
        line-height: 0.5;
        right: -25px;
    }




    /*Time for some hover effects*/
    /*We will apply the hover effect the the lineage of the element also*/
    #csstree li div:hover, #csstree li div:hover + ul li div {
        background: #c8e4f8;
        color: #000;
        border: 1px solid #94a0b4;
    }
/*Connector styles on hover*/
.tree li div:hover + ul li::after,
.tree li div:hover + ul li::before,
.tree li div:hover + ul::before,
.tree li div:hover + ul ul::before {
    border-color: #94a0b4;
}

.hasMore {
    border: 2px #e4cb8a solid !important;
    background-color: #e4cb8a;
}

.branch {
}
.scroll-y
{
    overflow-y:scroll;
}
.scroll-x {
    overflow-x: scroll;
    height:800px;
}
/*Thats all. I hope you enjoyed it.
Thanks :)*/
