﻿Dear {employeeName},<br /><br />

<p style="line-height: 20px;">Your Change Request of the type <b>{type}</b> raised on <b>{date}</b>  for <b>{customerName}, {areaOfOperation}, {stateCode} and comment {comment}</b>, 
has been approved by <b>{firstApprovalName} - comment {comment1}</b> and <b>{secondApprovalName} - comment {comment2}, {thiredApprovalName}.</b> or auto approved.<br />
This request is getting processed by EOD and new <b>{type}</b> numbers will be updated in the data base and changes will reflect appropriately.<br />
You may cross check the updation by signing <a href="www.incentiwiser.com">www.incentiwiser.com</a>.<br /><br />
In case of any issue, please revert back by replying this email.
</p>

<b>Thanks & Regards</b><br />
<b style="color:#6fb3e0">Philips Lighting Application Support Team</b><br />


