﻿Dear {employeeName},<br /><br />

<p style="line-height: 20px;">
    Incentive Exception Request has been raised by <b>{name}, ({email})</b> on <b>{date}</b> for <b>{employeeNames}, {employeeAdpId}, {employeeRole}</b><br />
    You are requested to take further action by either approving or rejecting the Incentive Exception Request within three days or else it will be auto approved.<br />
    You may take action for the same by signing <a href="http://45.118.182.153:7902/">http://45.118.182.153:7902</a>.<br /><br />
</p>

<b>Thanks & Regards</b><br />
<b style="color:#6fb3e0">Numero PH Application Support Team</b><br />
