﻿Dear {employeeName},<br /><br />

<p style="line-height: 20px;">
    Change Request of the type <b>{type}</b> has been initiated by <b>{name}, ({email})</b> on <b>{date}</b> for <b>{customerName}, {areaOfOperation}, {stateCode}</b><br />
    comment <b>{comment}</b><br>
    You are requested to take further action by either approving or rejecting the Change Request within three days or else it will be auto approved.<br />
    You may take action for the same by signing <a href="www.incentiwiser.com">www.incentiwiser.com</a>.<br /><br />
</p>

<b>Thanks & Regards</b><br />
<b style="color:#6fb3e0">Philips Lighting Application Support Team</b><br />
