﻿Dear {employeeName},<br /><br />

<p style="line-height: 20px;">Your Incentive Exception Request of the type <b>{type}</b> on <b>{date}</b>  for <b>{fullName}, {adpId}, {role}</b>, 
has been <b>{status}.</b> by <b>{name} ({email})</b>. This is for your information. Please get in touch with him / her  <br />
You are requested to take further action by approving or rejecting the Change Request within three days or else it will be auto approved.<br />
Therefore, no change will take place with this regard.
</p>

<b>Thanks & Regards</b><br />
<b style="color:#6fb3e0">Numero PH Application Support Team</b><br />


