﻿Dear {employeeName},<br /><br />

<p style="line-height: 20px;">Your Non-DMS Change Request raised for <b>{customerName}, {areaOfOperation}</b>, 
has been approved by <b>{firstApprovalName}</b> and <b>{secondApprovalName}, {thiredApprovalName}.</b> or auto approved.<br />
This request is getting processed by EOD and new numbers will be updated in the data base and changes will reflect appropriately.<br />
You may cross check the updation by signing <a href="http://45.118.182.153:7902/">http://45.118.182.153:7902</a>.<br /><br />
In case of any issue, please revert back by replying this email.
</p>

<b>Thanks & Regards</b><br />
<b style="color:#6fb3e0">Numero PH Application Support Team</b><br />


