﻿Dear {employeeName},<br /><br />

<p style="line-height: 20px;">Incentive Calculation of has been <b>{status}</b> by <b>{name} ({email})</b><br />
You may take further action <b>by verifying and approving the incentive calculations </b> by signing in <a href="http://45.118.182.153:7902/">http://45.118.182.153:7902</a>.<br /><br />
</p>

<b>Thanks & Regards</b><br />
<b style="color:#6fb3e0">Lighting Application Support Team</b><br />


