﻿Dear {employeeName},<br /><br />

<p style="line-height: 20px;">Your Change Request of the type <b>{type}</b>  has been initiated by <b>{name}, ({email})</b> on <b>{date}</b>  for <b>{customerName}, {areaOfOperation}, {stateCode} and comment {comments}</b>, 
duly approved by <b>{nameByApprove} and comment {comment} / Auto Approved.</b><br />
You are requested to take further action by approving or rejecting the Change Request within three days or else it will be auto approved.<br />
You may take action for the same by signing <a href="www.incentiwiser.com">www.incentiwiser.com</a>.<br /><br />
</p>

<b>Thanks & Regards</b><br />
<b style="color:#6fb3e0">Numero PH Application Support Team</b><br />


