﻿Dear {employeeName},<br />
<p style="line-height: 20px;">
Please find attached incentive payslip for {quarter},{year}.
</p>
<br>

<b>Thanks & Regards</b><br />
<b style="color:#6fb3e0">Lighting Application Support Team</b><br />




