﻿@{
    Layout = null;
    ViewBag.Title = "My Dashboard | Philips Personal Health";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-us">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="alternate" type="application/rss+xml" title="Design Shake RSS" />
    <link rel="pingback" href="http://designshack.co.uk/xmlrpc.php" />
    <script type="text/javascript" href="http://use.typekit.com/igr7rwr.js"></script>
    <script type="text/javascript">try { Typekit.loads(); } catch (e) { }</script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/build/dist/ManageData/styles.bundle.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    @Styles.Render("~/Content/theme-css")
</head>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logOffForm" }))
{
    @Html.AntiForgeryToken()
}
<body class="fix-header" id="maincontent">

    <!-- ============================================================== -->
    <!-- Preloader -->

   
    <!-- ============================================================== -->
    @RenderSection("BodySection", false)
    <!-- Angular Material Library -->

    <script src="~/Scripts/build/dist/ManageData/polyfills.js"></script>
    <script src="~/Scripts/build/dist/ManageData/main.js"></script>
    <script src="~/Scripts/customChart-js/liquidGauge.js"></script>
</body>
</html>